{% extends "baselogin.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-4">  <!-- Aumentar el ancho del card para mayor espacio -->
        <div class="card shadow-sm" style="border-radius: 15px;"> <!-- Sombra y bordes redondeados -->
            <div class="card-body"> <!-- Añadir card-body para mayor separación -->
                {% if process == "connect" %}
                    <h1 class="text-center mb-4"> <!-- Centramos el texto y damos margen inferior -->
                        {% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}
                    </h1>
                    <p class="text-center mb-4"> <!-- Centramos el texto y damos margen inferior -->
                        {% blocktrans with provider.name as provider %}You are about to connect a new third-party account from {{ provider }}.{% endblocktrans %}
                    </p>
                {% else %}
                    <h1 class="text-center mb-4"> <!-- Centramos el texto y damos margen inferior -->
                        {% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}
                    </h1>
                    <p class="text-center mb-4"> <!-- Centramos el texto y damos margen inferior -->
                        {% blocktrans with provider.name as provider %}You are about to sign in using a third-party account from {{ provider }}.{% endblocktrans %}
                    </p>
                {% endif %}
                {% element form method="post" no_visible_fields=True %}
                    {% slot actions %}
                        {% csrf_token %}
                        <button class="btn btn-primary w-100" type="submit"> <!-- Botón estilizado -->
                            {% trans "Continue" %}
                        </button>
                    {% endslot %}
                {% endelement %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
