{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block navbar %}
    {% if user.is_admin %}
        {% include 'base/navbar_administrator.html' %} 
    {% elif user.is_company %}
        {% include 'base/navbar_companies.html' %}    
    {% elif user.is_accountant %}
        {% include 'base/navbar_payroll.html' %}    
    {% else %}
        <p>No tienes un rol asignado.</p>
    {% endif %}           
{% endblock %}

{% block title %}
    Nomiweb.co - Portal Empresas - Vacaciones Listado de ausencias 
{% endblock %}


{% block css %}

    .loan-status-checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
{% endblock %}

{% block sub_titulo1 %} 
Novedades de Nomina
{% endblock %}


{% block sub_titulo2 %} 
Listado de ausencias 
{% endblock %}

{% block actions %}

{% endblock %}

{% block titulo2 %} 
Listado de ausencias 
{% endblock %}


{% block content %}
    
<div class="table-responsive">
    <table id='tabla-lista-vacation' class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Documento</th>
                <th>Nombre</th>
                <th>Contrato</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for item in vacaciones %}
                <tr data-order-id="{{ item.idvacaciones }}" >
                    <td>{{ item.idcontrato__idempleado__docidentidad|default:"" }}</td>
                    <td>
                        {{ item.idcontrato__idempleado__papellido|default:"" }}
                        {{ item.idcontrato__idempleado__sapellido|default:"" }}
                        {{ item.idcontrato__idempleado__pnombre|default:"" }}
                        {{ item.idcontrato__idempleado__snombre|default:"" }}
                    </td>
                    <td>{{ item.idcontrato|default:"" }}</td>
                    <td class="details-control">
                        <button class="btn btn-icon btn-secondary"> 
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table> 


</div>




{% endblock %}






{% block js %}

<script>

$(document).ready(function() {
    var table = $('#tabla-lista-vacation').DataTable({
        language: {
            "decimal": "",
            "emptyTable": "No se encontraron empleados para listar",
            "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
            "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
            "infoFiltered": "(filtrado de _MAX_ entradas totales)",
            "lengthMenu": "Mostrar _MENU_ entradas",
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "search": "Buscar:",
            "zeroRecords": "No se encontraron registros coincidentes",
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        },
        order: [[1, 'asc']], 
        pageLength: 20,
    });

    // Manejo de subtabla
    $('#tabla-lista-vacation tbody').on('click', 'button.btn-secondary', function () {
        var tr = $(this).closest('tr');
        var btn = $(this);
        var orderId = tr.data('order-id');

        // Bloquear botón para evitar múltiples clicks
        if (btn.prop('disabled')) return; 
        btn.prop('disabled', true);

        if (tr.next().hasClass('details-row')) {
            tr.next().remove();
            btn.html('<i class="fa-solid fa-plus"></i>');
            btn.prop('disabled', false); // volver a habilitar
        } else {
            $.get('/companies/payroll/vacation/resumen/' + orderId + '/items/', function(data) {
                tr.after('<tr class="details-row"><td colspan="4">' + data + '</td></tr>');
                btn.html('<i class="fa-solid fa-minus"></i>');
                btn.prop('disabled', false); // volver a habilitar
            }).fail(function() {
                // En caso de error también desbloquear
                btn.prop('disabled', false);
                alert('Error al cargar los datos.');
            });
        }
    });
});


</script>


<script>
    function cargarContratos() {
        var empleadoSelect = document.getElementById('empleado');
        var empleadoId = empleadoSelect.value;
        window.location.href = `?empleado=${empleadoId}`;
    }
</script>



    




{% endblock %}

