{% extends 'base/base_companies.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Nomiweb.co - Portal Empresas - Cumpleañeros 
{% endblock %}

{% block cssarch %}
{% endblock %}

{% block css %}
{% endblock %}

{% block sub_titulo1 %} 
    Parámetros
{% endblock %}

{% block sub_titulo2 %} 
    Cumpleañeros
{% endblock %}

{% block titulo2 %} 
    Cumpleañeros
{% endblock %}

{% block content %}
    <form method="get" action="">

        <div class="row g-3">
            <div class="col-auto">
              <label for="inputPassword6" class="col-form-label">Seleccione el mes:</label>
            </div>
            <div class="col-auto">

                <select id="mes" name="mes" class="form-select mb-3">
                    {% for i in meses %}
                        <option value="{{ i }}" {% if i == mes %}selected{% endif %}>
                            {% if i == 1 %}Enero
                            {% elif i == 2 %}Febrero
                            {% elif i == 3 %}Marzo
                            {% elif i == 4 %}Abril
                            {% elif i == 5 %}Mayo
                            {% elif i == 6 %}Junio
                            {% elif i == 7 %}Julio
                            {% elif i == 8 %}Agosto
                            {% elif i == 9 %}Septiembre
                            {% elif i == 10 %}Octubre
                            {% elif i == 11 %}Noviembre
                            {% elif i == 12 %}Diciembre
                            {% endif %}
                        </option>
                    {% endfor %}
                </select>

            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Filtrar</button>
            </div>

            <div class="col-auto">
                <a href="?descargar=true&mes={{ mes }}" class="btn btn-light-primary">Descargar Cumpleañeros</a>
            </div>

        </div>
        
        <br>
    </form>
    <div class="table-responsive">
        <table class="table table-row-bordered gy-5" id="tabla-cumpleaños">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>dia</th>
                    <th>mes</th>
                </tr>
            </thead>
            <tbody>
                {% for empleado in cumpleanieros %}
                    <tr>
                        <td>{{ empleado.pnombre }} {{ empleado.papellido }}</td>
                        <td>{{ empleado.fechanac|date:"d" }}</td>
                        <td>{{ empleado.fechanac|date:"m" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {
        $('#tabla-cumpleaños').DataTable({
            language: {
                "decimal":        "",
                "emptyTable":     "No hay datos disponibles en la tabla",
                "info":           "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty":      "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered":   "(filtrado de _MAX_ entradas totales)",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing":     "Procesando...",
                "search":         "Buscar:",
                "zeroRecords":    "No se encontraron registros coincidentes",
                "paginate": {
                    "first":      "Primero",
                    "last":       "Último",
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                },
                "aria": {
                    "sortAscending":  ": activar para ordenar la columna ascendente",
                    "sortDescending": ": activar para ordenar la columna descendente"
                }
            },
            order: [[1, 'asc']],  
            "pageLength": 15,              
        });
    });
</script>
{% endblock %}
