{% extends 'base/base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    Nomiweb.co - Portal Empresas - Cargos 
{% endblock %}

{% block navbar %}
    {% if user.is_admin %}
        {% include 'base/navbar_administrator.html' %} 
    {% elif user.is_company %}
        {% include 'base/navbar_companies.html' %}    
    {% elif user.is_accountant %}
        {% include 'base/navbar_payroll.html' %}    
    {% else %}
        <p>No tienes un rol asignado.</p>
    {% endif %}
               
{% endblock %}

{% block css %}
    
    .w-80 {
        width: 75%;
    }

{% endblock %}

{% block sub_titulo1 %} 
    parametros
{% endblock %}


{% block sub_titulo2 %} 
    Cargos
{% endblock %}



{% block titulo2 %} 
    Cargos
{% endblock %}


{% block actions %}
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary me-10" id="kt_button_1" hx-get="{% url 'companies:charges_modal' %}" hx-target="#modal-container" hx-swap="innerHTML">
    <span class="indicator-label">
        <i class="fa-solid fa-plus"></i> Nuevo Cargo
        
    </span>
    <span class="indicator-progress">
        Por favor espera... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
    </span>
</button>
{% endblock %}



{% block content %}
    
<!-- Contenedor donde se cargará el modal -->
<div id="modal-container" ></div>

    

<div class="table-responsive">
    <table class="table table-striped table-bordered" id="tablacargos" >
        <thead>
            <tr class="fw-bold fs-6 text-gray-800">
                <th class="text-center" >Codigo</th>
                <th>Nombre Cargo</th>
                <th class="text-center" >Nivel</th>
                <th>Estado</th>
                <th>
                    <div class="container d-flex justify-content-center align-items-center">
                        <i class="ki-duotone ki-chart fs-1">
                            <i class="path1"></i>
                            <i class="path2"></i>
                        </i>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for cargo in cargos %}
                <tr>
                    <td class="text-center" >{{ cargo.idcargo }}</td>
                    <td>{{ cargo.nombrecargo }}</td>
                    <td class="text-center" >{{ cargo.nombrenivel }}</td>
                    <td>
                        {% if cargo.estado %}
                            <span class="badge bg-success">Activo</span>
                        {% else %}
                            <span class="badge bg-danger">Inactivo</span>
                        {% endif %}
                    </td>
                    <td class="text-center" >
                        {% if cargo.estado %}
                            <button  type="button" class="btn btn-light-danger hover-scale btn-sm w-80 text-center"  data-bs-toggle="modal" data-bs-target="#kt_modal_1"  data-idcargo="{{ cargo.idcargo }}" data-name="{{ cargo.nombrecargo }}"> 
                                Desactivar
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-light-success hover-scale btn-sm w-80 text-center" data-bs-toggle="modal" data-bs-target="#kt_modal_2" data-idcargo="{{ cargo.idcargo }}" data-name="{{ cargo.nombrecargo }}" > 
                                Activar
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    

<div class="modal fade" tabindex="-1" id="kt_modal_1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Desactivar Cargo</h3>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                <p id='data' > </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                <a id="deactivate-cargo-link" href="#" class="btn btn-primary">Desactivar</a>

            </div>
        </div>
    </div>
</div>
    
<div class="modal fade" tabindex="-1" id="kt_modal_2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Activar Cargo</h3>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                <p id='data' > </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                <a id="activate-cargo-link"  href="#" class="btn btn-primary" >Activar</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}

<script>
    // Escucha el evento 'htmx:beforeRequest' para activar el indicador cuando el botón es presionado
    document.getElementById('kt_button_1').addEventListener('click', function() {
        // Activa el indicador de carga
        this.setAttribute('data-kt-indicator', 'on');
    });

    // Escucha el evento 'htmx:afterSwap' para desactivar el indicador después de que se haya cargado el contenido del modal
    document.body.addEventListener('htmx:afterSwap', (evt) => {
        if (evt.detail.target.id === 'modal-container') {
            // Encuentra el botón y quita el indicador de carga
            const button = document.getElementById('kt_button_1');
            if (button) {
                button.removeAttribute('data-kt-indicator');
            }
        }
    });
</script>

<script>
    // Escucha el evento 'htmx:afterSwap' para abrir el modal después de cargar el contenido
    document.body.addEventListener('htmx:afterSwap', (evt) => {
        const modalContainer = document.getElementById('conceptsModal');
        if (evt.detail.target.id === 'modal-container' && modalContainer) {
            new bootstrap.Modal(modalContainer).show();
        }
    });
    
</script>



<script>
    $('#kt_modal_1').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); 
        var cargoId = button.data('idcargo');
        var cargo = button.data('name'); 
        var modal = $(this);
        modal.find('#data').text('¿Está seguro que desea desactivar el Cargo: ' + cargo + '?');
        var deactivateUrl = "/companies/parameters/charges/deactivate/" + cargoId + "/";
        modal.find('#deactivate-cargo-link').attr('href', deactivateUrl);
    });
</script>


<script>
    $('#kt_modal_2').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)  
        var cargoId = button.data('idcargo') 
        var cargo = button.data('name') 
        var modal = $(this)
        modal.find('#data').text('Esta seguro que desea activar el Cargo : ' + cargo)
        var deactivateUrl = "/companies/parameters/charges/activate/" + cargoId + "/";
        modal.find('#activate-cargo-link').attr('href', deactivateUrl);

    })
</script>

<script>
    $(document).ready(function() {

        // Inicializar DataTable
        var table = $('#tablacargos').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No se encontraron registros coincidentes",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered": "(filtrado de _MAX_ entradas totales)",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "No se encontraron registros coincidentes",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": activar para ordenar la columna ascendente",
                    "sortDescending": ": activar para ordenar la columna descendente"
                }
            },
            dom: 'frtip',
            order: [],
            pageLength: 10
        });
    });
</script>

{% endblock %}

