{% extends 'base/base_companies.html' %}
{% load crispy_forms_tags %}


{% block title %}
    Nomiweb.co - Portal Empresas - Centros de Costos
{% endblock %}


{% block css %}
.floating-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
}
{% endblock %}

{% block sub_titulo1 %} 
    parametros
{% endblock %}


{% block sub_titulo2 %} 
Vista Contrato 
{% endblock %}



{% block titulo2 %} 
    Contrato de {{contrato.idempleado.pnombre}} {{contrato.idempleado.snombre}} {{contrato.idempleado.papellido}} {{contrato.idempleado.sapellido}}
{% endblock %}


{% block content %}
<button class="btn btn-light-primary" id="backButton">
    Regresar
</button>
    <div class="separator  border-2 my-10"> Datos de Contrato # {{contrato.idcontrato}} </div> 

    <div class="row">
        <div class="col-md-6">
            <label class="form-label" > Fecha Inicial del Contrato </label>
            <input class="form-control" value='{{contrato.fechainiciocontrato}}' disabled  />
        </div>
        <div class="col-md-6">
            <label class="form-label" > Fecha de Terminación </label>
            <input class="form-control" value='{{contrato.fechafincontrato}}' disabled  />
        </div>
    </div>

    <div class="separator  border-0 my-10"></div>

    <div class="row">
        <div class="col-md-6">
            <label class="form-label" > Cargo </label>
            <input class="form-control" value='{{contrato.cargo}}' disabled  />
        </div>
        <div class="col-md-6">
            <label class="form-label" > Lugar de trabajo</label>
            <input class="form-control" value='{{contrato.ciudadcontratacion.ciudad}}' disabled  />
        </div>
    </div>
    <div class="separator  border-0 my-10"></div>

    <div class="row">
        <div class="col-md-6">
            <label class="form-label" > Tipo de Contrato </label>
            <input class="form-control" value='{{contrato.tipocontrato.tipocontrato}}' disabled  />
        </div>
        <div class="col-md-6">
            <label class="form-label" > Modelo de Contrato </label>
            <input class="form-control" value='{{contrato.idmodelo.nombremodelo}}' disabled  />
        </div>
    </div>

    <div class="separator  border-2 my-10"> Datos de Compensación</div>

    <div class="row">
        <div class="col-md-6">
            <label class="form-label" > Salario </label>
            <input class="form-control" value='{{contrato.salario}}' disabled  />
        </div>
        <div class="col-md-6">
            <label class="form-label" > Tipo Salario </label>
            <input class="form-control" value='{{contrato.tiposalario.tiposalario}}' disabled  />
        </div>
    </div>
    
    <div class="separator  border-0 my-10"></div>

    <div class="row">
        <div class="col-md-6">
            <label class="form-label" > Modalidad Salario</label>

            {% if contrato.salariovariable == 1 %}
                <input class="form-control" value='Variable' disabled  />
            {% elif contrato.salariovariable == 2 %}
                <input class="form-control" value='Fijo' disabled  />
            {% elif contrato.salariovariable == 3 %}
                <input class="form-control" value='Mixto' disabled  />
            {% else %}
                <input class="form-control" value='Falla' disabled  />
            {% endif %}


            
        </div>
        <div class="col-md-6">
            <label class="form-label" > Vive en el lugar de trabajo  - falta </label>
            <input class="form-control" value='{{contrato.ciudadcontratacion.ciudad}}' disabled  />
        </div>
    </div>
    
    <div class="separator  border-0 my-10"></div>
    <div class="row">
        <div class="col-md-6">
            <label class="form-label" > Forma de pago </label>
            {% if contrato.formapago == '1' %}
                <input class="form-control" value='Abono a cuenta' disabled  />
            {% elif contrato.formapago == '2' %}
                <input class="form-control" value='Cheque' disabled  />
            {% elif contrato.formapago == '3' %}
                <input class="form-control" value='Efectivo' disabled  />
            {% else %}
                <input class="form-control" value='Falla' disabled  />
            {% endif %}

        </div>
        <div class="col-md-6">
            <label class="form-label" > Banco de la Cuenta </label>
            <input class="form-control" value='{{contrato.bancocuenta}}' disabled  />
        </div>
    </div>
    
    <div class="separator  border-0 my-10"></div>

    <div class="row">
        <div class="col-md-6">
            <label class="form-label" > Tipo de Cuenta </label>
            <input class="form-control" value='{{contrato.tipocuentanomina}}' disabled  />
        </div>
        <div class="col-md-6">
            <label class="form-label" > Cuenta de Nómina </label>
            <input class="form-control" value='{{contrato.cuentanomina}}' disabled  />
        </div>
    </div>
    
    <div class="separator  border-0 my-10"></div>

    <div class="row">
        <div class="col-md-6">
            <label class="form-label" > Centro de Costos </label>
            <input class="form-control" value='{{contrato.idcosto.nomcosto}}' disabled  />
        </div>
        <div class="col-md-6">
            <label class="form-label" > Sub centro de Costos </label>
            <input class="form-control" value='{{contrato.idsubcosto.nomsubcosto}}' disabled  />
        </div>
    </div>
    
    <div class="separator  border-2 my-10"> Seguridad Social </div>

    <div class="row">
        <div class="col-md-6">
            <label class="form-label" > Eps </label>
            <input class="form-control" value='{{contrato.eps}}' disabled  />
        </div>
        <div class="col-md-6">
            <label class="form-label" > Fondo Cesantias </label>
            <input class="form-control" value='{{contrato.fondocesantias}}' disabled  />
        </div>
    </div>
    
    <div class="separator  border-0 my-10"></div>
    
    <div class="row">
        <div class="col-md-6">
            <label class="form-label" > Pension </label>
            <input class="form-control" value='{{contrato.pension}}' disabled  />
        </div>
        <div class="col-md-6">
            <label class="form-label" > Centro de Trabajo ARL </label>
            <input class="form-control" value='{{contrato.centrotrabajo.nombrecentrotrabajo}}' disabled  />
        </div>
    </div>
    
    <div class="separator  border-0 my-10"></div>

    <div class="row">
        <div class="col-md-6">
            <label class="form-label" > Sede de Trabajo  </label>
            <input class="form-control" value='{{contrato.idsede.nombresede}}' disabled  />
        </div>
        <div class="col-md-6">
            <label class="form-label" > Tarifa ARL </label>
            <input class="form-control" value='{{contrato.tarifaarl}}' disabled  />
        </div>
    </div>
    
    <div class="separator  border-0 my-10"></div>


    <div class="row">
        <div class="col-md-6">
            <label class="form-label" > Caja de Compensación Familiar	  </label>
            <input class="form-control" value='{{contrato.cajacompensacion}}' disabled  />
        </div>
        <div class="col-md-6">
            <label class="form-label" > Tipo de cotizante </label>
            <input class="form-control" value='{{contrato.tipocotizante}}' disabled  />
        </div>
    </div>
    
    <div class="separator  border-0 my-10"></div>


    <div class="row">
        <div class="col-md-6">
            <label class="form-label" > Sub-tipo de cotizante  </label>
            <input class="form-control" value='{{contrato.subtipocotizante}}' disabled  />
        </div>
        <div class="col-md-6">
            <label class="form-label" > Pensionado </label>
            <input class="form-control" value='{{contrato.pensionado}}' disabled  />
        </div>
    </div>
    
    <div class="separator  border-0 my-10"></div>

{% endblock %}
{% block js %}

<script>
    document.getElementById('backButton').addEventListener('click', function() {
        window.history.back();
    });
</script>
    

{% endblock %}

