{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block navbar %}
    {% if user.is_admin %}
        {% include 'base/navbar_administrator.html' %} 
    {% elif user.is_company %}
        {% include 'base/navbar_companies.html' %}    
    {% elif user.is_accountant %}
        {% include 'base/navbar_payroll.html' %}   
    {% elif user.is_employee %}
        {% include 'base/navbar_employees.html' %}   
    {% else %}
        <p>No tienes un rol asignado.</p>
    {% endif %}               
{% endblock %}


{% block title %}
    Nomiweb.co - Portal Empresas - Incapacidades
{% endblock %}


{% block css %}

    .loan-status-checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    up-modal[size=large] up-modal-box {
        border-radius: 0.75rem;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
        
    }
    
    up-modal[size=medium] up-modal-box {
        border-radius: 0.75rem;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
        
    }
    
    up-modal[size=small] up-modal-box {
        border-radius: 0.75rem;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
        
    }
    
    .select2-container .select2-selection--single .select2-selection__rendered {
        text-align: left;
    }
    
    .select2-container .select2-search--dropdown .select2-search__field {
        height: 28px; /* Ajusta la altura según prefieras */
        padding: 4px 8px; /* Ajusta el padding para hacerlo más delgado */
        font-size: 14px; /* Si quieres un texto más pequeño */
        border-radius: 8px; /* Bordes más suaves si te gusta */
    }
    
    
    .select2-container .select2-results__option {
        text-align: left;
    }
    
    
    .swal2-container {
        z-index: 9999 !important; /* Más alto que el z-index de los modales de Unpoly */
    }
    
    
    tr.htmx-swapping td {
        opacity: 0;
        transition: opacity 1s ease-out;
    }

{% endblock %}

{% block sub_titulo1 %} 
Novedades de Nomina
{% endblock %}


{% block sub_titulo2 %} 
Incapacidades
{% endblock %}

{% block actions %}

{% comment %} <button type="button" class="btn btn-light-info" data-bs-toggle="modal" data-bs-target="#kt_modal_1">
    <i class="fa-solid fa-plus"></i> Nueva Incapacidad
</button>   
<div style="width: 10px;"></div>
{% endcomment %}


    <a
        class='btn btn-light-info'
        up-layer='new modal'
        up-target=".modal-content"
        up-size = "medium"
        up-align = "center"
        up-backdrop = "true"
        up-history = "false"
        up-dismissable ="false"
        up-cache="false"
        href="{% url 'companies:disabilities_modal' %}">
        <i class="fa-solid fa-plus"></i> Nueva Incapacidad

    </a> 
    {% comment %} {% url 'payroll:flat_modal' %} {% endcomment %}
{% endblock %}

{% block titulo2 %} 
Listado de Incapacidades
{% endblock %}


{% block content %}


    {% if incapacidades %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered" id="table-disabilities" >
            <thead class="fw-bold fs-6 text-gray-800">
                <tr> 
                    <th>Id Contrato</th>
                    <th>Documento</th>
                    <th>Apellidos y Nombre</th>
                    <th>Entidad</th>
                    <th>Codigo Diagnostico</th>
                    <th>Diagnostico</th>
                    <th>Prorroga</th>
                    <th>Fecha Inicial</th>
                    <th>dias Incapacidad</th>
                    <th ><i class="fa-regular fa-image fs-3"></i></th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                {% for item in incapacidades %}
                    <tr>
                        <td>{{ item.idcontrato__idcontrato }}</td>
                        <td>{{ item.idcontrato__idempleado__docidentidad }}</td>
                        <td> {{ item.idcontrato__idempleado__papellido }} {{ item.idcontrato__idempleado__sapellido }} {{ item.idcontrato__idempleado__pnombre }} {{ item.idcontrato__idempleado__snombre }} </td>
                        <td>{{ item.entidad__entidad }}</td>
                        <td>{{ item.coddiagnostico__coddiagnostico }}</td>
                        <td>{{ item.coddiagnostico__diagnostico }}</td>
                        <td>
                            
                            {% if item.prorroga == '0'  %}
                                <h4>No</h4>
                            {% else %}
                                <h4>Si</h4>
                            {% endif %}

                        </td>
                        <td>{{ item.fechainicial | date:"d/m/Y"  }}</td>
                        <td>{{ item.dias }}</td>
                        <td>
                            <!--begin::Overlay-->
                            <a class="btn btn-icon btn-light-info" data-fslightbox="lightbox-basic" href="{{ MEDIA_URL }}media/incapacities/kluMHCMDyE3EYACRqMY9JsJXrX0dxwSgjPtEHY0Zh5LqgfI006ZMrf9fQRwtLUxOLLTeabbIz2jAqrdk.jpg">
                                <!--begin::Image-->
                                <i class="fa-solid fa-eye fs-3"></i>
                                <!--end::Image-->
                            </a>
                            <!--end::Overlay-->
                        </td>
                        <td>
                            {% comment %} <button type="button" class="btn btn-icon btn-light-info" data-bs-toggle="modal" data-bs-target="#kt_modal_2" data-disabilites_id="{{ item.idincapacidad }}" >
                                
                            </button>   {% endcomment %}
                            <a
                                class='btn btn-icon btn-light-info'
                                up-layer='new modal'
                                up-target=".modal-content"
                                up-size = "medium"
                                up-align = "center"
                                up-backdrop = "true"
                                up-history = "false"
                                up-dismissable ="false"
                                up-cache="false"
                                data-bs-toggle="tooltip" 
                                data-bs-custom-class="tooltip-inverse" 
                                data-bs-placement="bottom" 
                                title="Editar Incapacidad"
                                data-bs-delay-hide="1000" 
                                href="{% url 'companies:disabilities_modal_edit' %}">
                                <i class="fa-solid fa-pen-to-square fs-3"></i>

                            </a>  
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% else %}
    <div class="alert alert-primary" role="alert">
        <h4 class="alert-heading">¡Atención!</h4>
        <p>Parece que no hay incapacidades registradas en este momento. Por favor, agregue una incapacidad para visualizar los datos correspondientes.</p>
        <hr>
        <p class="mb-0">Agradecemos su colaboración para completar esta información.</p>
    </div>
{% endif %}
    

{% endblock %}






{% block js %}


<script>
    $(document).ready(function() {

        var year = '{{ year }}';  // Obtener el año del contexto de Django
        var mth = '{{ mth }}';  
        // Inicializar DataTable
        var table = $('#table-disabilities').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No se encontraron registros coincidentes",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered": "(filtrado de _MAX_ entradas totales)",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "No se encontraron registros coincidentes",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": activar para ordenar la columna ascendente",
                    "sortDescending": ": activar para ordenar la columna descendente"
                }
            },
            dom: 'frtip',
            order: [],
            pageLength: 20
        });
    });
</script>


{% comment %}  Nuevo modal  {% endcomment %}

<script>
    document.addEventListener('up:fragment:inserted', function(event) {

        const modalContent = up.layer?.current?.element;
        if (!modalContent) return;

        const entitiesUrl = "{% url 'companies:get_entity' %}";

        if (modalContent) {
            console.log('llege aqui')
            const selectElements = modalContent.querySelectorAll('[data-control="select2"]');
            const date = modalContent.querySelector('#kt_daterangepicker_1');
            const conceptSelect = modalContent.querySelector('#id_origin');
            const date2 = modalContent.querySelector('#kt_daterangepicker_2'); // Campo de texto
            const select1 = modalContent.querySelector('#id_entity'); // Select

            // calculo de dias basado fechas 
            const startDateInput = modalContent.querySelector('#kt_daterangepicker_1');
            const daysInput = modalContent.querySelector('#id_incapacity_days');
            const endDateInput = modalContent.querySelector('#kt_daterangepicker_2');
            

            if (date2) date2.disabled = true;

            if (select1) {
                select1.disabled = !select1.value;
                if (select1.value) calculateEndDate();
            }
            

            // Actualizar el input cuando se seleccione una fecha
            if(startDateInput){
                $(startDateInput).on('apply.daterangepicker', function(ev, picker) {
                    startDateInput.value = picker.startDate.format('YYYY-MM-DD');
                    calculateEndDate();
                });
            }
            

            function calculateEndDate() {
                const startDateValue = startDateInput.value;
                const daysValue = parseInt(daysInput.value, 10);
                
                if (startDateValue && !isNaN(daysValue) && daysValue > 0) {
                    const startDate = new Date(startDateValue);
                    startDate.setDate(startDate.getDate() + daysValue);
                    
                    const formattedEndDate = startDate.getFullYear() + '-' +
                        String(startDate.getMonth() + 1).padStart(2, '0') + '-' +
                        String(startDate.getDate()).padStart(2, '0');
                    
                    endDateInput.value = formattedEndDate;
                    endDateInput.disabled = true;
                } else {
                    endDateInput.value = '';
                }
            }
            if(daysInput){
                daysInput.addEventListener('input', calculateEndDate);
            }
        


            // selector de tipo de 
            if (conceptSelect) {
                
                // Asegurar que select2 está inicializado antes de asignar el evento
                if (!$(conceptSelect).data('select2')) {
                    $(conceptSelect).select2({
                        dropdownParent: $(modalContent),
                        width: '100%'
                    });
                }
    
                // Agregar evento select2:select con un pequeño retraso para asegurar inicialización
                setTimeout(() => {
                    $(conceptSelect).on('select2:select', function(e) {
                        select1.disabled = true;
                        const selectedValue = e.params.data.id;

                        up.request(`${entitiesUrl}?dato=${selectedValue}`)
                            .then(response => response.json)
                            .then(data => {
                                select1.innerHTML = '<option value="">Seleccione una entidad</option>';
                                // Agregar las nuevas opciones
                                data.forEach(data => {
                                    const option = document.createElement('option');
                                    option.value = data.codigo;
                                    option.textContent = data.entidad;
                                    select1.appendChild(option);
                                });
                                // Habilitar el select si hay entidades disponibles
                                select1.disabled = select1.length === 0;
                            })
                            .catch(error => {
                                console.error('Error al obtener la entidad:', error);
                            });
                        
                        
                    });
                }, 200);
            }

            

            if (date) { // Verificamos que el elemento exista antes de inicializar daterangepicker
                $(date).daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,
                    minYear: 2000,
                    maxYear: parseInt(moment().format("YYYY"), 12),
                    endDate: moment(),
                    minDate: moment().subtract(10, 'days'),  // Establece la fecha mínima como 10 días antes
                    maxDate: moment().add(10, 'days'),  // Fecha máxima sigue siendo 10 días después
                    autoApply: true,
                    locale: {
                        format: 'YYYY-MM-DD',
                        applyLabel: 'Aplicar',
                        cancelLabel: 'Cancelar',
                        daysOfWeek: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
                        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
                    },
                });
                // **Forzar el z-index del daterangepicker**
                setTimeout(() => {
                    $('.daterangepicker').css('z-index', 9999); // Ajusta el z-index para estar sobre Unpoly
                }, 10);

            }

            // Usamos un pequeño retraso para asegurar el renderizado completo
            setTimeout(() => {
                selectElements.forEach((select, index) => {
                    // Aseguramos un ID único si no tiene uno
                    if (!select.id) {
                        select.id = `select2-unique-${Date.now()}-${index}`;
                    }

                    if (!$(select).data('select2')) {
                        $(select).select2({
                            dropdownParent: $(modalContent),
                            width: '100%'
                        });
                    }
                });
            }, 300); // Aumentamos un poco el tiempo para mayor seguridad
        } else {
            console.log('Contenido completo del fragmento:', event.target.innerHTML);
        }
    });


</script>



{% endblock %}

