{% extends 'base/base.html' %}

{% block title %}
Nomiweb.co - Portal Empresas - Edit Empleado
{% endblock %} 

{% block cssarch %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

{% endblock %}

{% block content %}
<header class="container">
    <h1>Editar Hoja de vida</h1>
</header>

<main class="flex-grow-1">
    <table id='tableempleyee' class="table table-striped table-bordered">
        <thead>
            <tr>
            <th>Documento</th>
            <th>Nombre</th>
            <th>Cargo</th>
            <th>Inicio Contrato</th>
            <th>Dirección</th>
            <th>Ciudad</th>
            <th>Celular</th>
            <th>e-mail</th>
            <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for empleado in empleados %}
            <tr>
                <td>{{ empleado.documento }}</td>
                <td>{{ empleado.nombre }}</td>
                <td>{{ empleado.cargo }}</td>
                <td>{{ empleado.fechainiciocontrato |date:'d-m-Y' }}</td>
                <td>{{ empleado.dirección }}</td>
                <td>{{ empleado.ciudad }}</td>
                <td>{{ empleado.celular }}</td>
                <td>{{ empleado.mail }}</td>
                <td>
                    <a href="{% url 'companies:editemployeevisual' idempleado=empleado.id %}">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAatJREFUWEft1sFKwzAYB/AmRYoHwasvIMhEFHEIPoX3wVra3T1pNy9erNMn2KGl69gr+A4yKchwePEuePW6pNJBpZS2+RLTsqK7jWT7fvnna1KkrNkHrZlH+Vugga4fxjvgjMcv0J2oLKGrbreFMW7HEITxs+N5rxBUJaA0JkFAUdJBF7q+vYnQeV4aSFVDx3XnZUlJB8XFLi1rTyXkNK+wpmmPN6PRZxFKGmjQ6ew40+lHUigPFVE6HwZBWHlC16bZppS2iKo+PbjuW1Kw3+vtKsvlWfwdY7y49bwZq7F/nZCt6ycIof2kEKV0dh8Ei3RSG1G0BcGsnkiWuGw8SSY7J5sUTw1hUBEmKS6KEgKxMDEqu3XQlLhBVWK4e8i2rGNEyEHZakWT+TnRoVHWgQEnVBcGBKoTwwRBMIiQ0JlMSi9MaFuUgmzTPEKUrl6wCi9CyZhSUN8wjLoxwiDZ25ReeOHBWJRQlRjuhKrGMJs600NfQ89753liROZy32UiRXh+8w9ipdWchFgHI2ulrPE73/fz5nCfQ6xC0PHmg6ArlT2vOU0te+XQ//sGoIXVJY8Oc7wAAAAASUVORK5CYII="/>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
    </table>

</main>
{% endblock %}

{% block js %}

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<script>
    $(document).ready(function() {
        $('#tableempleyee').DataTable({
            language: {
                "decimal":        "",
                "emptyTable":     "No hay datos disponibles en la tabla",
                "info":           "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty":      "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered":   "(filtrado de _MAX_ entradas totales)",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing":     "Procesando...",
                "search":         "Buscar:",
                "zeroRecords":    "No se encontraron registros coincidentes",
                "paginate": {
                    "first":      "Primero",
                    "last":       "Último",
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                },
                "aria": {
                    "sortAscending":  ": activar para ordenar la columna ascendente",
                    "sortDescending": ": activar para ordenar la columna descendente"
                }
            },
            // Activar scroll en x y y
            scrollX: true,
            scrollY: true,
            // Desactivar función responsive
            responsive: false,
            // Ajustar automáticamente el ancho de las columnas
            autoWidth: true,
            // Columnas no ordenables
            columnDefs: [
                { targets: [0, 2, 3], orderable: false } 
            ],
            // Orden inicial por la segunda columna ascendente
            order: [[1, 'asc']]
        });
    });
</script>


{% endblock %}
