{% extends 'base/base.html' %} 
{% load crispy_forms_tags %}


{% block title %} Nomiweb.co - Portal Empresas - Editar Contrato {% endblock %} 

{% block css %} {% endblock %} 

{% block navbar %}
    {% if user.is_admin %}
        {% include 'base/navbar_administrator.html' %} 
    {% elif user.is_company %}
        {% include 'base/navbar_companies.html' %}    
    {% elif user.is_accountant %}
        {% include 'base/navbar_payroll.html' %}    
    {% else %}
        <p>No tienes un rol asignado.</p>
    {% endif %}
               
{% endblock %}

{% block sub_titulo1 %} 
empleados
{% endblock %}

{% block sub_titulo2 %} 
ID Contrato {{DicContract.Idcontrato}}   <br>  <span class="badge badge-success"> {{DicContract.EstadoContrato}} </span> 
{% endblock %}

{% block actions %}

<a href="{% url 'companies:startcompanies' %}" class="btn btn-light-primary">
    Regresar
    <i class="ki-duotone ki-exit-left fs-2x">             
        <span class="path1"></span>
        <span class="path2"></span>
    </i>
</a>

{% endblock %}

{% block titulo2 %} 
<div style="display: grid;">
    <h3>Contrato : {{DicContract.Empleado}}</h3>
</div>
    
{% endblock %}


{% block content %}
    {% crispy form %}
    <button type="submit" form="form_Contract_edit" id='submit_contract'  class="btn btn-primary" >Actualizar</button>
{% endblock %}



{% block js %}
<script>

    // Element to indecate
    var button = document.querySelector("#kt_button_1");

    // Handle button click event
    button.addEventListener("click", function() {
        // Activate indicator
        button.setAttribute("data-kt-indicator", "on");

        // Disable indicator after 3 seconds
        setTimeout(function() {
            button.removeAttribute("data-kt-indicator");
        }, 15000);
    });

</script>

{% endblock %}


    