{% extends 'base/base_companies.html' %} 
{% load crispy_forms_tags %}


{% block title %} Nomiweb.co - Portal Empresas - Editar Contrato {% endblock %} 

{% block css %} {% endblock %} 

{% block sub_titulo1 %} 
empleados
{% endblock %}

{% block sub_titulo2 %} 
ID Contrato {{DicContract.Idcontrato}} - 2 <br>  <span class="badge badge-success"> {{DicContract.EstadoContrato}} </span> 
{% endblock %}

{% block titulo2 %} 
<div style="display: grid;">
    <h3>Contrato</h3>
    <h4>{{DicContract.Empleado}}</h4>
</div>
    
{% endblock %}


{% block content %}
<div class="d-flex justify-content-end">
    <a href="{% url 'companies:startcompanies' %}" class="btn btn-light-primary">
        Regresar
        <i class="ki-duotone ki-exit-left fs-2x">             
            <span class="path1"></span>
            <span class="path2"></span>
        </i>
    </a>
</div> 
    {% crispy form %}
{% endblock %}



{% block js %}
<script>
    document.getElementById('backButton').addEventListener('click', function() {
        window.history.back();
    });
</script>

<script>

    // Element to indecate
    var button = document.querySelector("#kt_button_1");

    // Handle button click event
    button.addEventListener("click", function() {
        // Activate indicator
        button.setAttribute("data-kt-indicator", "on");

        // Disable indicator after 3 seconds
        setTimeout(function() {
            button.removeAttribute("data-kt-indicator");
        }, 15000);
    });

</script>

{% endblock %}


    