{% extends 'base/base.html' %} 
{% load crispy_forms_tags %}

{% block title %} 
Nomiweb.co - Portal Empresas - Edit Empleado {{DicContract.id}}
{% endblock %} 


{% block css %} {% endblock %} 

{% block sub_titulo1 %} 
    empleados
{% endblock %}


{% block navbar %}
    {% if user.is_admin %}
        {% include 'base/navbar_administrator.html' %} 
    {% elif user.is_company %}
        {% include 'base/navbar_companies.html' %}    
    {% elif user.is_accountant %}
        {% include 'base/navbar_payroll.html' %}    
    {% else %}
        <p>No tienes un rol asignado.</p>
    {% endif %}
               
{% endblock %}


{% block sub_titulo2 %} 
ID Empleado {{DicContract.id}}
{% endblock %}

{% block actions %}

<a href="{% url 'companies:startcompanies' %}" class="btn btn-light-primary">
    Regresar
    <i class="ki-duotone ki-exit-left fs-2x">             
        <span class="path1"></span>
        <span class="path2"></span>
    </i>
</a>

{% endblock %}

{% block titulo2 %} 
Edicion de Hoja de vida Empleado  - {{DicContract.nombre}} 
{% endblock %}

{% block content %}
    {% crispy form %}
    <button type="submit" form="form_Employee_Edit" id='submit_contract'  class="btn btn-primary" >Actualizar</button>
{% endblock %}

{% block js %} 

{% endblock %}



