{% extends 'base/base_companies.html' %}

{% block title %}
Nomiweb.co - Portal Empresas - Edit Contrato
{% endblock %} 

{% block cssarch %}

{% endblock %}




{% block sub_titulo1 %} 
    empleados
{% endblock %}


{% block sub_titulo2 %} 
Editar contratos
{% endblock %}



{% block titulo2 %} 
Editar Contrato
{% endblock %}


{% block content %}

<div class="table-responsive">
    <table id='tablecontract' class="table table-row-bordered gy-5">
        <thead>
            <tr class="fw-semibold fs-6 text-muted" >
            <th>Documento</th>
            <th>Nombre</th>
            <th>Cargo</th>
            <th>Inicio Contrato</th>
            <th>Dirección</th>
            <th>Ciudad</th>
            <th>Celular</th>
            <th>e-mail</th>
            <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for empleado in empleados %}
            <tr>
                <td>{{ empleado.documento }}</td>
                <td>{{ empleado.nombre }}</td>
                <td>{{ empleado.cargo }}</td>
                <td>{{ empleado.fechainiciocontrato |date:'d-m-Y' }}</td>
                <td>{{ empleado.dirección }}</td>
                <td>{{ empleado.ciudad }}</td>
                <td>{{ empleado.celular }}</td>
                <td>{{ empleado.mail }}</td>
                <td>
                    <a href="{% url 'companies:editcontracvisual' idempleado=empleado.id %}">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAatJREFUWEft1sFKwzAYB/AmRYoHwasvIMhEFHEIPoX3wVra3T1pNy9erNMn2KGl69gr+A4yKchwePEuePW6pNJBpZS2+RLTsqK7jWT7fvnna1KkrNkHrZlH+Vugga4fxjvgjMcv0J2oLKGrbreFMW7HEITxs+N5rxBUJaA0JkFAUdJBF7q+vYnQeV4aSFVDx3XnZUlJB8XFLi1rTyXkNK+wpmmPN6PRZxFKGmjQ6ew40+lHUigPFVE6HwZBWHlC16bZppS2iKo+PbjuW1Kw3+vtKsvlWfwdY7y49bwZq7F/nZCt6ycIof2kEKV0dh8Ei3RSG1G0BcGsnkiWuGw8SSY7J5sUTw1hUBEmKS6KEgKxMDEqu3XQlLhBVWK4e8i2rGNEyEHZakWT+TnRoVHWgQEnVBcGBKoTwwRBMIiQ0JlMSi9MaFuUgmzTPEKUrl6wCi9CyZhSUN8wjLoxwiDZ25ReeOHBWJRQlRjuhKrGMJs600NfQ89753liROZy32UiRXh+8w9ipdWchFgHI2ulrPE73/fz5nCfQ6xC0PHmg6ArlT2vOU0te+XQ//sGoIXVJY8Oc7wAAAAASUVORK5CYII="/>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
    </table>
</div>

{% endblock %}

{% block js %}


    <script>
        $(document).ready(function() {
            $('#tablecontract').DataTable({
                language: {
                    "decimal":        "",
                    "emptyTable":     "No hay datos disponibles en la tabla",
                    "info":           "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                    "infoEmpty":      "Mostrando 0 a 0 de 0 entradas",
                    "infoFiltered":   "(filtrado de _MAX_ entradas totales)",
                    "infoPostFix":    "",
                    "thousands":      ",",
                    "lengthMenu":     "Mostrar _MENU_ entradas",
                    "loadingRecords": "Cargando...",
                    "processing":     "Procesando...",
                    "search":         "Buscar:",
                    "zeroRecords":    "No se encontraron registros coincidentes",
                    "paginate": {
                        "first":      "Primero",
                        "last":       "Último",
                        "next":       "Siguiente",
                        "previous":   "Anterior"
                    },
                    "aria": {
                        "sortAscending":  ": activar para ordenar la columna ascendente",
                        "sortDescending": ": activar para ordenar la columna descendente"
                    }
                },
                dom: 'frtip',
                
                
            });
        });
    </script>

{% endblock %}

