{% extends 'base/base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    Nomiweb.co - Portal Empresas - Sedes 
{% endblock %}


{% block css %}
{% endblock %}

{% block sub_titulo1 %} 
    parametros
{% endblock %}


{% block sub_titulo2 %} 
    Sedes
{% endblock %}

{% block actions %}
    <!-- Button trigger modal -->
<button type="button" class="btn btn-light-info me-10" id="kt_button_1" hx-get="{% url 'companies:headquarters_modal' %}" hx-target="#modal-container" hx-swap="innerHTML">
    <span class="indicator-label">
        <i class="fa-solid fa-plus"></i> Nueva sede 
        
    </span>
    <span class="indicator-progress">
        Por favor espera... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
    </span>
</button>
{% endblock %}

{% block titulo2 %} 
    Sedes
{% endblock %}


{% block content %}
    
    <!-- Contenedor donde se cargará el modal -->
    <div id="modal-container" ></div>

    
    <div class="table-responsive">
        <table class="table table-striped table-bordered" id="tablacargos" >
            <thead>
                <tr class="fw-bold fs-6 text-gray-800">
                    <th>Código Sede</th>
                    <th>Nombre de la Sede </th>
                    <th>Caja de Compensación Familiar</th>
                </tr>
            </thead>
            <tbody>
                {% for sede in sedes %}
                    <tr>
                        <td>{{ sede.idsede }}</td>
                        <td>{{ sede.nombresede }}</td>
                        <td>{{ sede.cajacompensacion }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    

{% endblock %}
{% block js %}

<script>
    // Escucha el evento 'htmx:beforeRequest' para activar el indicador cuando el botón es presionado
    document.getElementById('kt_button_1').addEventListener('click', function() {
        // Activa el indicador de carga
        this.setAttribute('data-kt-indicator', 'on');
    });

    // Escucha el evento 'htmx:afterSwap' para desactivar el indicador después de que se haya cargado el contenido del modal
    document.body.addEventListener('htmx:afterSwap', (evt) => {
        if (evt.detail.target.id === 'modal-container') {
            // Encuentra el botón y quita el indicador de carga
            const button = document.getElementById('kt_button_1');
            if (button) {
                button.removeAttribute('data-kt-indicator');
            }
        }
    });
</script>

<script>
    // Escucha el evento 'htmx:afterSwap' para abrir el modal después de cargar el contenido
    document.body.addEventListener('htmx:afterSwap', (evt) => {
        const modalContainer = document.getElementById('conceptsModal');
        if (evt.detail.target.id === 'modal-container' && modalContainer) {
            new bootstrap.Modal(modalContainer).show();
        }
    });
    
</script>

    <script>
        $(document).ready(function() {

            var table = $('#tablacargos').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "No se encontraron registros coincidentes",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                    "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                    "infoFiltered": "(filtrado de _MAX_ entradas totales)",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "No se encontraron registros coincidentes",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": activar para ordenar la columna ascendente",
                        "sortDescending": ": activar para ordenar la columna descendente"
                    }
                },
                dom: 'frtip',
                order: [],
                pageLength: 6
            });
        });
    </script>

{% endblock %}

