{% extends 'base/base.html' %}

{% block title %}
    Nomiweb.co - Portal Empresas 
{% endblock %}


{% block css %}



{% endblock %}


{% block content %}
    <header >
        <h1>Posible Dash</h1>
    </header>
    <canvas id="kt_chartjs_1" class="mh-400px"></canvas>

{% endblock %}
{% block js %}
<script>
    var ctx = document.getElementById('kt_chartjs_1').getContext('2d');
    var lineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo'],
            datasets: [{
                label: 'Ventas',
                data: [12, 19, 3, 5, 2],
                borderColor: 'blue',
                borderWidth: 2
            }]
        }
    });
</script>
{% endblock %}

