{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Nomiweb.co - Portal Empresas - Nuevo Empleado {% endblock %}

{% block css %} 
<style>
    #backButton {
        margin-left: auto;
        display: block;
    }
</style>
{% endblock %}

{% block cssarch %}
{% endblock %}

{% block sub_titulo1 %} 
    empleados
{% endblock %}

{% block  sub_titulo2%} 
    Nuevo Contrato
{% endblock %}

{% block titulo2 %} 
    Nuevo Contrato
{% endblock %}

{% block content %}
<div style="display: flex;">
    <button class="btn btn-light-primary" id="backButton">
        Regresar
    </button>
</div>

<main class="flex-grow-1 content">  
    {% crispy form %}
</main>



{% endblock %}

{% block js %}
<script>
    document.getElementById('backButton').addEventListener('click', function() {
        window.history.back();
    });
</script>
{% endblock %}
