{% extends 'base/base.html' %} {% block title %} Nomiweb.co - Portal Empresas -
Nuevo Empleado {% endblock %} {% block css %} {% endblock %} {% block content %}


{% block cssarch %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

{% endblock %}

<!-- This code snippet represents a form for entering information about a new employee. It includes
various sections for different types of data: -->
    <header class="container">
    <h1>Listado de Contratos Activos</h1>
    </header>

    <main class="flex-grow-1">
        <form method="POST">
            {% csrf_token %}
            <div class="container">
            <h3>Datos de Identificación</h3>
                <div class="mb-3 row">
                    
                    <div class="col">
                        <label for="inputIdentificationType" class="col-form-label">Tipo de documento de identidad *</label>
                        <select class="form-select" id="inputIdentificationType" name="identification_type">
                            {% for documento in TipoDocumento %}
                                <option value="{{ documento.codigo }}">{{ documento.documento }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="col">
                        <label for="inputIdentificationNumber" class="col-form-label" >Documento de Identidad *</label>
                        <input type="number" class="form-control" id="inputIdentificationNumber" name="identification_number" placeholder="Documento de Identidad" />
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col">
                        <label for="inputExpeditionDate" class="col-form-label" >Fecha de expedición *</label>
                        <input type="date" class="form-control" id="inputExpeditionDate" name="expedition_date" />
                    </div>
                    
                    <div class="col">
                        <label for="inputExpeditionCity" class="col-form-label">Ciudad de expedición *</label>
                        <select class="form-select" id="inputExpeditionCity" name="expedition_city">
                            <option value="" selected disabled>Selecciona una ciudad de expedición</option>
                            {% for ciudad in Ciudades %}
                                <option value="{{ ciudad.idciudad  }}">{{ ciudad.ciudad }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
                
                <div class="mb-3 row">
                    <div class="col">
                        <label for="inputFirstName" class="col-form-label" >Primer Nombre *</label>
                        <input type="text" class="form-control" id="inputFirstName" name="first_name" placeholder="Primer Nombre" />
                    </div>
                    <div class="col">
                        <label for="inputSecondName" class="col-form-label" >Segundo Nombre</label>
                        <input type="text" class="form-control" id="inputSecondName" name="second_name"  placeholder="Segundo Nombre" />
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col">
                        <label for="inputFirstLastName" class="col-form-label" >Primer Apellido *</label>
                        <input type="text" class="form-control" id="inputFirstLastName" name="first_last_name" placeholder="Primer Apellido" />
                    </div>
                    <div class="col">
                        <label for="inputSecondLastName" class="col-form-label" >Segundo Apellido</label >
                        <input type="text" class="form-control"  id="inputSecondLastName" name="second_last_name" placeholder="Segundo Apellido" />
                    </div>
                </div>
            </div>   

            <div class="container">
    <!-- Datos de Identificación -->
    <h3>Datos Personales</h3>
    <div class="mb-3 row">
        <div class="col">
            <label for="sex" class="col-form-label">Sexo *</label>
            <select class="form-select" id="sex" name="sex">
                <option value="masculino">Masculino</option>
                <option value="femenino">Femenino</option>
            </select>
        </div>
        <div class="col">
            <label for="height" class="col-form-label">Estatura (Mts)</label>
            <input type="text" class="form-control" id="height" name="height" placeholder="Estatura (Mts)">
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col">
            <label for="marital_status" class="col-form-label">Estado Civil *</label>
            <select class="form-select" id="marital_status" name="marital_status">
                <option value="" selected disabled>Seleccione estado civil</option>
                <option value="soltero">Soltero</option>
                <option value="casado">Casado</option>
                <option value="viudo">Viudo</option>
                <option value="divorciado">Divorciado</option>
                <option value="unionlibre">Unión Libre</option>
            </select>
        </div>
        <div class="col">
            <label for="weight" class="col-form-label">Peso (Kg)</label>
            <input type="text" class="form-control" id="weight" name="weight" placeholder="Peso (Kg)">
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col">
            <label for="birthdate" class="col-form-label">Fecha de Nacimiento *</label>
            <input type="date" class="form-control" id="birthdate" name="birthdate">
        </div>
        <div class="col">
            <label for="education_level" class="col-form-label">Nivel Educativo</label>
            <select class="form-control" id="education_level" name="education_level">
                <option value="" selected disabled>Seleccione nivel educativo</option>
                <option value="primaria">Primaria</option>
                <option value="Bachiller">Bachiller</option>
                <option value="bachillerinc">Bachiller Incompleto</option>
                <option value="tecnico">Técnico</option>
                <option value="tecnologo">Tecnólogo</option>
                <option value="universitario">Universitario</option>
                <option value="universitarioinc">Universitario Incompleto</option>
                <option value="postgrado">Postgrado</option>
                <option value="magister">Magíster</option>
            </select>
        
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col">
            <label for="birth_city" class="col-form-label">Ciudad de Nacimiento *</label>
            <select class="form-select" id="birth_city" name="birth_city">
                <option value="" selected disabled>Selecciona una ciudad de nacimiento</option>
                {% for city in Ciudades %}
                    <option value="{{ city.idciudad }}">{{ city.ciudad }}</option>
                {% endfor %}
            </select>                    
        </div>
        <div class="col">
            <label for="stratum" class="col-form-label">Estrato</label>
            <select class="form-select" id="stratum" name="stratum" >
                <option value="" selected disabled>Seleccione Estrato</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col">
            <label for="birth_country" class="col-form-label">País de Nacimiento *</label>
            <select class="form-select" id="birth_country" name="birth_country">
                <option value="" selected disabled>Selecciona un país de nacimiento</option>
                {% for country in paises %}
                    <option value="{{ country.pais }}">{{ country.pais }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <label for="military_id" class="col-form-label">Libreta Militar</label>
            <input type="text" class="form-control" id="military_id" name="military_id" placeholder="Libreta Militar">
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col">
            <label for="blood_group" class="col-form-label">Grupo Sanguíneo</label>
            <select class="form-select" id="blood_group" name="blood_group">
                <option value="" selected disabled>Selecciona el grupo sanguíneo</option>
                <option value="O-">O-</option>
                <option value="O+">O+</option>
                <option value="A-">A-</option>
                <option value="A+">A+</option>
                <option value="B-">B-</option>
                <option value="B+">B+</option>
                <option value="AB-">AB-</option>
                <option value="AB+">AB+</option>
            </select>
        </div>
        <div class="col">
            <label for="profession" class="col-form-label">Profesión</label>
            <select class="form-select" id="profession" name="profession">
                <option value="" selected disabled>Selecciona una Profesión </option>
                {% for profesion in profesiones %}
                    <option value="{{ profesion.idprofesion  }}">{{ profesion.profesion }}</option>
                {% endfor %}
            </select>  
        </div>
    </div>
</div>

            

            <!-- Datos de Residencia ... -->
            <div class="container">
                <!-- Datos de Residencia -->
                <h3>Datos de Residencia</h3>
                <div class="mb-3 row">
                    <div class="col">
                        <label for="residence_address" class="col-form-label">Dirección de Residencia *</label>
                        <input type="text" class="form-control" id="residence_address" name="residence_address" placeholder="Dirección de Residencia">
                    </div>
                    <div class="col">
                        <label for="email" class="col-form-label">E-mail *</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="E-mail">
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col">
                        <label for="residence_city" class="col-form-label">Ciudad de Residencia *</label>
                        <select class="form-select" id="residence_city" name="residence_city">
                            <option value="" selected disabled>Selecciona una ciudad de Residencia</option>
                            {% for ciudad in Ciudades %}
                                <option value="{{ ciudad.idciudad  }}">{{ ciudad.ciudad }}</option>
                            {% endfor %}
                        </select>   
                    </div>
                    <div class="col">
                        <label for="cell_phone" class="col-form-label">Celular *</label>
                        <input type="text" class="form-control" id="cell_phone" name="cell_phone" placeholder="Celular">
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col">
                        <label for="residence_country" class="col-form-label">País de residencia *</label>
                        <select class="form-select" id="residence_country" name="residence_country">
                            <option value="" selected disabled>Selecciona un País de residencia</option>
                            {% for pais in paises %}
                                <option value="{{  pais.pais }}">{{  pais.pais }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <label for="employee_phone" class="col-form-label">Teléfono del Empleado</label>
                        <input type="text" class="form-control" id="employee_phone" name="employee_phone" placeholder="Teléfono del Empleado">
                    </div>
                </div>
            </div>
            
            <div class="container">
                <!-- Datos de Tallas -->
                <h3>Datos de Tallas</h3>
                <div class="mb-3 row">
                    <div class="col">
                        <label for="pants_size" class="col-form-label">Talla Pantalón *</label>
                        <select class="form-select" id="pants_size" name="pants_size">
                            <option value="" selected disabled>Seleccione talla de pantalón</option>
                            <option value="6">6</option>
                            <option value="8">8</option>
                            <option value="10">10</option>
                            <option value="12">12</option>
                            <option value="14">14</option>
                            <option value="16">16</option>
                            <option value="28">28</option>
                            <option value="30">30</option>
                            <option value="32">32</option>
                            <option value="34">34</option>
                            <option value="36">36</option>
                            <option value="38">38</option>
                            <option value="40">40</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="shirt_size" class="col-form-label">Talla Camisa *</label>
                        <select class="form-select" id="shirt_size" name="shirt_size">
                            <option value="" selected disabled>Seleccione talla de camisa</option>
                            <option value="38">38</option>
                            <option value="40">40</option>
                            <option value="42">42</option>
                            <option value="44">44</option>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                            <option value="XXL">XXL</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="shoes_size" class="col-form-label">Talla Zapatos *</label>
                        <select class="form-select" id="shoes_size" name="shoes_size">
                            <option value="" selected disabled>Seleccione talla de zapatos</option>
                            <option value="34">34</option>
                            <option value="35">35</option>
                            <option value="36">36</option>
                            <option value="37">37</option>
                            <option value="38">38</option>
                            <option value="39">39</option>
                            <option value="40">40</option>
                            <option value="41">41</option>
                            <option value="42">42</option>
                            <option value="43">43</option>
                            <option value="44">44</option>
                        </select>
                    </div>
                </div>
            </div>
            

            <div class="container">
                <div class="mb-3 row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Guardar Empleado </button>
                    </div>
                </div>
            </div>
        </form>
    </main>

{% endblock %}

{% block js %}

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    $(document).ready(function() {
        $('#inputIdentificationType').select2();
        $('#inputExpeditionCity').select2();
        $('#birth_city').select2();
        $('#birth_country').select2();
        $('#residence_city').select2();
        $('#residence_country').select2();
        $('#profession').select2();
    });
</script>
{% endblock %}
