{% extends 'base/base_companies.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Nomiweb.co - Portal Empresas -nomina
{% endblock %}

{% block css %}
{% endblock %}

{% block sub_titulo1 %} 
    Nomina
{% endblock %}

{% block sub_titulo2 %} 
    Acumulados de Nomina
{% endblock %}

{% block titulo2 %} 
    Filtrados
{% endblock %}

{% block content %}

<div class="container">
    <div class="card shadow-sm">
        <div class="card-header">
            <h3 class="card-title">Acumulados de Nomina - Filtros </h3>
        </div>
        <div class="card-body">
            {% crispy form %}
        </div>
    </div>
    <br>
    <br>
    <div class="separator  border-0 my-10"></div>
    
    <div  class="table-responsive">
        <table id='tabla-liquidacion' class="table table-striped table-bordered">
            <thead>
                <tr>
                <th>Idcontrato</th>
                <th>Docidentidad</th>
                <th>Empleado</th>
                <th>Basico</th>
                <th>Aportes</th>
                <th>Prestamos</th>
                <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for compect in compects %}
                    <tr>
                        <td>{{ compect.contrato  }}</td>
                        <td>{{ compect.documento }}</td>
                        <td>{{ compect.empleado  }}</td>
                        <td>{{ compect.basico    }}</td>
                        <td>{{ compect.aportess  }}</td>
                        <td>{{ compect.prestamos }}</td>
                        <td>{{ compect.total     }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                

        </table>
    </div>
</div>



<div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Cargando...</span>
                </div>
                <p>Cargando...</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}


<script>
    // codigo de post de formualrio para generar filtro de excel 
</script>


<script>
    $(document).ready(function() {
        $('#Filto_acomulados').on('submit', function() {
            $('#loadingModal').modal('show');
        });
    });
</script>


<script>
    $(document).ready(function() {
        $('#tabla-liquidacion').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No se encontraron registros coincidentes",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered": "(filtrado de _MAX_ entradas totales)",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "No se encontraron registros coincidentes",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": activar para ordenar la columna ascendente",
                    "sortDescending": ": activar para ordenar la columna descendente"
                }
            },
            dom: 'Bfrtip',
            buttons: [
                {
                    text: 'Descargar Acomulados',
                    action: function (e, dt, node, config) {
                        $('#loadingModal').modal('show');
                        $.ajax({
                            url: '{% url "companies:descargar_excel_empleados" %}', // Reemplaza "handle_post_request" con el nombre de tu URL
                            type: 'POST',
                            data: {
                                'csrfmiddlewaretoken': '{{ csrf_token }}', // Incluye el token CSRF
                                'start_date': $('#id_start_date').val(),
                                'end_date': $('#id_end_date').val(),
                                'employee': $('#id_employee').val(),
                                'cost_center': $('#id_cost_center').val(),
                                'city': $('#id_city').val()
                            },
                            success: function(response) {
                                $('#loadingModal').modal('hide');
                                // Crear un enlace temporal para la descarga del archivo
                                const url = window.URL.createObjectURL(new Blob([response]));
                                const a = document.createElement('a');
                                a.href = url;
                                a.download = 'empleado_info.xlsx';
                                document.body.appendChild(a);
                                a.click();
                                window.URL.revokeObjectURL(url);
                            },
                            error: function(xhr, status, error) {
                                $('#loadingModal').modal('hide');
                                alert('Error al realizar el Documento');
                            }
                        });
                    },
                    className: 'btn btn-light-info'
                }

            ],
            order: [[5, 'desc']],
            "pageLength": 10
        });
    });
</script>



{% endblock %}
