{% extends 'base/base_companies.html' %}
{% load crispy_forms_tags %}


{% block title %}
    Nomiweb.co - Portal Empresas - Incapacidades
{% endblock %}


{% block css %}

    .loan-status-checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
{% endblock %}

{% block sub_titulo1 %} 
Novedades de Nomina
{% endblock %}


{% block sub_titulo2 %} 
Vacaciones
{% endblock %}

{% block actions %}

{% endblock %}

{% block titulo2 %} 
Listado de Vacaciones
{% endblock %}


{% block content %}
    


<!--begin::Accordion-->
<!--end::Accordion-->
<div class="separator my-10"></div>





<div class="card card-dashed">
    <br>
    <div class="card-header">
        <form id="fecha-form" class="d-flex align-items-center justify-content-center" onsubmit="return cargarContratos();">
            <label for="kt_datepicker_1" class="form-label me-2">Seleccione una fecha</label>
            <input class="form-control me-2" placeholder="Pick a date" id="kt_datepicker_1" style="width: auto;" />
        
            <button type="button" class="btn btn-primary me-10" id="kt_button_1" onclick="cargarContratos()">
                <span class="indicator-label">
                    Consultar
                </span>
                <span class="indicator-progress" style="display: none;">
                    Espere por favor... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
            </button>

        </form>
    </div>
    
    <div class="card-body">
        <div class="table-responsive">
            <table id='tabla-lista-vacation' class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Contrato</th>
                        <th>Documento</th>
                        <th>Nombre</th>
                        <th>Fecha Contrato</th>
                        <th>Total Vacaciones</th>
                        <th>Días Tomados</th>
                        <th>Saldo X VAC</th>
                        <th>Salario</th>
                        <th>Valor</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in contratos_empleados %}
                        <tr>
                            <td >{{ item.contrato }}</td>
                            <td>{{ item.documento }}</td>
                            <td>{{ item.empleado }}</td>
                            <td >{{ item.fechacontrato | date:"d/m/Y"  }}</td>
                            <td >{{ item.total_vac }}</td>
                            <td >{{ item.total_vac_disf }}</td>
                            <td >{{ item.saldo  }}</td>
                            <td > --</td>
                            <td > -- </td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>




      


{% endblock %}






{% block js %}

<script>
    // Inicializa Flatpickr
    document.addEventListener('DOMContentLoaded', function() {
        $("#kt_datepicker_1").flatpickr({
            dateFormat: "Y-m-d", // Formato de fecha
            locale: {
                firstDayOfWeek: 1 // Inicia la semana en lunes
            }
        });
        
        // Cargar fecha desde el parámetro GET
        const urlParams = new URLSearchParams(window.location.search);
        const fecha = urlParams.get('fecha');
        if (fecha) {
            document.getElementById('kt_datepicker_1').value = fecha; // Establecer la fecha en el input
        }
    });

    function cargarContratos() {
        var fechaInput = document.getElementById('kt_datepicker_1');
        var fechaSeleccionada = fechaInput.value;

        // Obtener el botón
        var button = document.querySelector("#kt_button_1");

        // Activar indicador
        button.setAttribute("data-kt-indicator", "on");
        button.querySelector(".indicator-label").style.display = "none";
        button.querySelector(".indicator-progress").style.display = "inline-flex"; // Mostrar el texto de espera

        // Redirige a la URL con el parámetro de fecha
        setTimeout(function() {
            window.location.href = `?fecha=${fechaSeleccionada}`;
        }, 1000); // Esperar 1 segundo antes de redirigir

        // Evita el envío del formulario normal
        return false;
    }
</script>

<script>
    $(document).ready(function() {
        $('#tabla-lista-vacation').DataTable({
            language: {
                "decimal":        "",
                "emptyTable":     "No se encontraron Certificados para este empleado",
                "info":           "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty":      "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered":   "(filtrado de _MAX_ entradas totales)",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing":     "Procesando...",
                "search":         "Buscar:",
                "zeroRecords":    "No se encontraron registros coincidentes",
                "paginate": {
                    "first":      "Primero",
                    "last":       "Último",
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                },
                "aria": {
                    "sortAscending":  ": activar para ordenar la columna ascendente",
                    "sortDescending": ": activar para ordenar la columna descendente"
                }
            },
            dom: 'frtip',
            order: [[2, 'asc']], 
            "pageLength": 10,                
        });
    });
</script>

{% endblock %}

