{% extends 'base/base_companies.html' %}

{% load crispy_forms_tags %}

{% block title %}
Nomiweb.co - Portal Empresa - Solicitud de Vacaciones / Licencias
{% endblock %}


{% block sub_titulo1 %}
Vacaciones 
{% endblock %}

{% block sub_titulo2 %}
Solicitudes de Vacaciones
{% endblock %}

{% block titulo2 %}
Listado de Solicitudes
{% endblock %}

{% block css %}
.toast-top-right {
    right: 0 !important;
}
{% endblock %}

{% block content %}

    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="tabla-lista-vacation">
            <thead>
                <tr>
                    <th>Contrato</th>
                    <th>Empleado</th>
                    <th>Tipo de Vacación</th>
                    <th>Fecha Inicial</th>
                    <th>Fecha Final</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                {% for vacacion in vacaciones %}
                <tr>
                    <td>{{ vacacion.idcontrato__idcontrato }}</td>
                    <td> {{ vacacion.idcontrato__idempleado__papellido }} {{ vacacion.idcontrato__idempleado__sapellido }} {{ vacacion.idcontrato__idempleado__pnombre }} {{ vacacion.idcontrato__idempleado__snombre }} </td>
                    <td>{{ vacacion.tipovac__nombrevacaus }} {{vacacion.estado}}</td>
                    <td>{{ vacacion.fechainicialvac|default_if_none:"" | date:"d-m-Y "  }}</td>
                    <td>{{ vacacion.fechafinalvac|default_if_none:"" | date:"d-m-Y "  }}</td>
                    <td>
                        {% if vacacion.estado == 1 %}
                            <button type="button" class="btn btn-outline btn-outline-dashed btn-outline-primary btn-active-light-primary w-100">
                                <i class="bi bi-stopwatch-fill fs-4 me-2"></i>Pendiente
                            </button>
                        {% elif vacacion.estado == 2 %}
                            <button type="button" class="btn btn-outline btn-outline-dashed btn-outline-success btn-active-light-success w-100">
                                <i class="bi bi-check-circle-fill fs-4 me-2"></i>Aprobada
                            </button>
                        {% elif vacacion.estado == 3 %}
                            <button type="button" class="btn btn-outline btn-outline-dashed btn-outline-danger btn-active-light-danger w-100">
                                <i class="bi bi-exclamation-triangle-fill fs-4 me-2"></i>Rechazada
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-outline btn-outline-dashed btn-outline-warning btn-active-light-warning w-100" onclick="handleUnknownState()">
                                <i class="bi bi-question-circle-fill fs-4 me-2"></i>Desconocido
                            </button>
                        {% endif %}
                    </td>
                    <td> 
                        <button type="button" class="btn btn-light-info btn-sm" data-bs-toggle="modal" data-bs-target="#kt_modal_1" data-vacation_details="{{ vacacion.id_sol_vac }}">
                            <i class="fa-solid fa-eye fs-3"></i>
                            detalles
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-light-info btn-sm" data-bs-toggle="modal" data-bs-target="#kt_modal_2"  data-vacation_details="{{ vacacion.id_sol_vac }}">
                            <i class="fa-solid fa-list-check fs-3 "></i>
                            Gestionar
                        </button> 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    
    
    <div class="modal fade" tabindex="-1" id="kt_modal_1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Detalle de Vacaciones/Licencias</h3>
        
                    <!--begin::Close-->
                    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                        <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                    </div>
                    <!--end::Close-->
                </div>
        
                <div class="modal-body">

                    <!--begin::Accordion-->
                    <div class="accordion" id="kt_accordion_1">

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="kt_accordion_1_header_2">
                                <button id="button_accordion" class="accordion-button fs-4 fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_1_body_2" aria-expanded="false" aria-controls="kt_accordion_1_body_2">
                                    Información de Vacaciones del Empleado
                                </button>
                            </h2>
                            <div id="kt_accordion_1_body_2" class="accordion-collapse collapse" aria-labelledby="kt_accordion_1_header_2" data-bs-parent="#kt_accordion_1">
                                <div class="accordion-body">
                                    
                                    <div class="d-flex justify-content-between">
                        
                                        <div class="columna col-md-6">
                                            <p id="vac_taken"><strong>Vacaciones Tomadas:</strong></p>
                                            <p id="vac_periods"><strong>Periodos Completos:</strong></p>
                                        </div>
                    
                                        <div class="columna col-md-6">
                                            <p id="vac_sum"><strong>Vacaciones a la Fecha:</strong></p>
                                            <p id="vac_licenses"><strong>Dias de Licencia:</strong></p>
                                        </div>
                                    </div>
                                    

                                </div>
                            </div>
                        </div>

                    </div>
                    <!--end::Accordion-->
                    <div class="separator my-10"></div>

                    <p id="nombre_tipovac"><strong>Tipo de Vacaciones:</strong></p>
                    <p id="fecha"><strong>Fecha:</strong></p>

                    <div class="d-flex justify-content-between">
                        
                        <div class="columna col-md-6">
                            <p id="dias_calendario"><strong>Días Calendario:</strong></p>
                            <p id="fecha_inicial" style="display: none;" ><strong>Fecha Inicial:</strong></p>
                        </div>

                        <div class="columna col-md-6">
                            <p id="dias_habiles"><strong>Días Hábiles:</strong></p>
                            <p id="fecha_final" style="display: none;" ><strong>Fecha Final:</strong></p>
                        </div>
                    </div>
                    

                    <p id="cuentasabados" style="display: none;" ><strong>Cuenta Sabados:</strong></p>

                    <!-- <p id="estado"><strong>Estado:</strong></p> -->
                    <div class="d-flex justify-content-between">
                        <div class="columna col-md-6 mb-3">
                            <p><strong>Comentarios Empleado:</strong></p>
                            <textarea id="comentarios" class="form-control" readonly style="resize: none;"></textarea>
                        </div>
                        <div class="columna col-md-6 mb-3 ms-3"> <!-- Agregar ms-3 para margen a la izquierda -->
                            <p><strong>Comentarios Empresa:</strong></p>
                            <textarea id="comentarios2" class="form-control" readonly style="resize: none;"></textarea>
                        </div>
                    </div>
                    
                    

                    

                </div>
        
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" tabindex="-1" id="kt_modal_2">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Gestion  de Vacaciones/Licencias</h3>
        
                    <!--begin::Close-->
                    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                        <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                    </div>
                    <!--end::Close-->
                </div>
                <div class="modal-body" >

                    <form id="form_vacation_request" method="post" class="p-4 border rounded shadow-sm bg-light">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="loanSelect" class="form-label fw-semibold">Seleccione una Opción</label>
                            <div class="input-group">
                                <select id="loanSelect" class="form-select" data-control="select2" data-dropdown-css-class="w-200px" data-placeholder="Seleccione Una Opcion" data-hide-search="true">
                                    <option></option>
                                    <option value="1">Aprobar</option>
                                    <option value="2">Rechazar</option>
                                    <option value="3">Pendiente</option>
                                </select>
                            </div>
                        </div>
                    
                        <div class="mb-3">
                            <label for="comments" class="form-label fw-semibold">Comentarios</label>
                            <textarea id="comments" class="form-control" rows="4" style="resize: none; height: 100px;" data-kt-autosize="true" placeholder="Escriba sus Comentarios de La solicitud"></textarea>
                        </div>
                
                    </form>
                    
                </div>
                
        
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" form="form_vacation_request" >Actualizar Vacaciones</button>
                </div>
            </div> 
        </div>
    </div>

{% endblock content %}

{% block js %}

<script>
    
var vacationDetails;
$('#kt_modal_2').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); 
    vacationDetails = button.data('vacation_details'); 
});

$('#form_vacation_request').on('submit', function (e) {
    e.preventDefault();  
    var loanSelect = $('#loanSelect').val();  
    var comments = $('#comments').val();  
    $.ajax({
        type: 'POST',
        url: "{% url 'companies:get_vacation_acction' %}",  
        data: {
            'loanSelect': loanSelect,
            'comments': comments,
            'vacationDetails': vacationDetails, 
            'csrfmiddlewaretoken': '{{ csrf_token }}'  
        },
        success: function (response) {
            if (response.success) {
                toastr.success(response.message, "Éxito");  
                $('#kt_modal_2').modal('hide');
                setTimeout(function() {
                    location.reload();
                }, 4000); 
            } else {
                toastr.error(response.message, "Error"); 
                $('#kt_modal_2').modal('hide');
                setTimeout(function() {
                    location.reload();
                }, 4000); 
            }
        },
        error: function (xhr, status, error) {
            toastr.error("Ocurrió un error al procesar la solicitud.", "Error");
        }
    });
});
</script>
    


<script>
    // Configuración de Toastr para notificaciones
toastr.options = {
    "closeButton": true,
    "debug": false,
    "newestOnTop": true,
    "progressBar": true,
    "positionClass": "toastr-top-left",
    "preventDuplicates": true,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "5000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
};

// Función para manejar las acciones de aprobar, rechazar o marcar pendiente
function sendAction(element) {
    var action = element.getAttribute("data-action");
    var vacation = element.getAttribute("data-vacation");
    var url = "{% url 'companies:get_vacation_acction' %}";

    $.ajax({
        url: url,
        type: 'GET', 
        data: {
            action: action,
            vacation: vacation,
        },
        success: function(response) {
            if (response.success) {
                toastr.success("El proceso se ha completado con éxito: " + action, "Operación Exitosa");
            } else {
                toastr.error("Hubo un error al procesar: " + action, "Error en la Operación");
            }
            setTimeout(function() {
                location.reload();
            }, 4000); 
        },
        error: function(xhr, status, error) {
            toastr.error("Hubo un problema al comunicarse con el servidor.", "Error en la Conexión");
            setTimeout(function() {
                location.reload();
            }, 4000); 
        }
    });
}

</script>

    
    

<script>
    const obtenerClienteUrl = "{% url 'companies:get_vacation_details' %}";


    $('#kt_modal_1').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var recipient = button.data('vacation_details');
        var modal = $(this);

        $.ajax({ 
            url: obtenerClienteUrl,
            type: 'GET',
            data: {
                'dato': recipient
            },

            success: function(response) {
                console.log(response);

                modal.find('.modal-title').text('Detalle de Vacaciones/Licencias #' + response.data.id_vac + ' Contrato #'  + response.data.id_cont )

                


                modal.find('#vac_taken').html('<strong>Vacaciones Tomadas:</strong> <span class="badge badge-primary">' + response.data.vac_taken + '</span>');
                modal.find('#vac_periods').html('<strong>Periodos Completos:</strong> <span class="badge badge-primary">' + response.data.vac_periods + '</span>');
                modal.find('#vac_sum').html('<strong>Vacaciones a la Fecha:</strong> <span class="badge badge-primary">' + response.data.vac_sum + '</span>');
                modal.find('#vac_licenses').html('<strong>Días de Licencia:</strong> <span class="badge badge-primary">' + response.data.vac_licenses + '</span>');

                modal.find('#nombre_tipovac').html('<strong>Tipo de Vacaciones: </strong>' + response.data.nombre_tipovac );
                modal.find('#fecha').html('<strong>Fecha: </strong>' + response.data.fecha );
                modal.find('#dias_habiles').html('<strong>Días Hábiles: </strong>' + response.data.dias_habiles );
                modal.find('#dias_calendario').html('<strong>Días Calendario: </strong>' + response.data.dias_calendario );
                
                


                if (response.data.tipovac != '2') {
                    modal.find('#fecha_inicial').html('<strong> Fecha Inicial: </strong>' + response.data.fecha_inicial).show();
                    modal.find('#fecha_final').html('<strong> Fecha Final: </strong>' + response.data.fecha_final).show();
                    modal.find('#cuentasabados').html('<strong> Cuenta Sabados: </strong>' + response.data.cuentasabados).show();
                } else {
                    modal.find('#fecha_inicial').hide();
                    modal.find('#fecha_final').hide();
                    modal.find('#cuentasabados').hide();
                }
                
                var estadoText = '';
                switch(response.data.estado) {
                    case 1:
                        estadoText = 'Pendiente';
                        estadoTextButton = '<span class="badge badge-primary"> Pendiente </span>';
                        break;
                    case 2:
                        estadoText = 'Aprobado';
                        estadoTextButton = '<span class="badge badge-success"> Aprobado </span>';
                        break;
                    case 3:
                        estadoText = 'Rechazado';
                        estadoTextButton = '<span class="badge badge-danger"> Rechazado </span>';
                        break;
                    default:
                        estadoText = 'Desconocido';
                        estadoTextButton = '<span class="badge badge-warning"> Desconocido </span>';
                }
                modal.find('#estado').text('Estado: ' + estadoText);
                modal.find('textarea#comentarios').text(response.data.comentarios);
                modal.find('textarea#comentarios2').text(response.data.comentarios2);
                $('#button_accordion').html('Información de Vacaciones del Empleado' + estadoTextButton );

                
            },
            error: function(response) {
                console.log(response.error);
            }
        })
    })
</script>


<script>
    $(document).ready(function() {
        $('#tabla-lista-vacation').DataTable({
            language: {
                "decimal":        "",
                "emptyTable":     "No se encontraron Certificados para este empleado",
                "info":           "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty":      "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered":   "(filtrado de _MAX_ entradas totales)",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing":     "Procesando...",
                "search":         "Buscar:",
                "zeroRecords":    "No se encontraron registros coincidentes",
                "paginate": {
                    "first":      "Primero",
                    "last":       "Último",
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                },
                "aria": {
                    "sortAscending":  ": activar para ordenar la columna ascendente",
                    "sortDescending": ": activar para ordenar la columna descendente"
                }
            },
            dom: 'frtip',
            order: [],
            pageLength: 20,
            

        });
    });
</script>

{% endblock %}















