<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">NomiWeb</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button" aria-haspopup="true" aria-expanded="false">
                Opciones 1
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                <li><a class="dropdown-item" href="#">Opción 1.1</a></li>
                <li><a class="dropdown-item" href="#">Opción 1.2</a></li>
                <li><a class="dropdown-item" href="#">Opción 1.3</a></li>
            </ul>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" aria-haspopup="true" aria-expanded="false">
                Opciones 2
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                <li><a class="dropdown-item" href="#">Opción 2.1</a></li>
                <li><a class="dropdown-item" href="#">Opción 2.2</a></li>
                <li><a class="dropdown-item" href="#">Opción 2.3</a></li>
            </ul>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button" aria-haspopup="true" aria-expanded="false">
                Opciones 3
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                <li><a class="dropdown-item" href="#">Opción 3.1</a></li>
                <li><a class="dropdown-item" href="#">Opción 3.2</a></li>
                <li><a class="dropdown-item" href="#">Opción 3.3</a></li>
            </ul>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" role="button" aria-haspopup="true" aria-expanded="false">
                Opciones 4
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink4">
                <li><a class="dropdown-item" href="#">Opción 4.1</a></li>
                <li><a class="dropdown-item" href="#">Opción 4.2</a></li>
                <li><a class="dropdown-item" href="#">Opción 4.3</a></li>
            </ul>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink5" role="button" aria-haspopup="true" aria-expanded="false">
                Opciones 5
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink5">
                <li><a class="dropdown-item" href="#">Opción 5.1</a></li>
                <li><a class="dropdown-item" href="#">Opción 5.2</a></li>
                <li><a class="dropdown-item" href="#">Opción 5.3</a></li>
            </ul>
            </li>
        </ul>
        <!-- Botón desplegable para el perfil de usuario -->
        <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn btn-outline-dark" href="#" id="navbarDropdownMenuLinkUser" role="button" aria-haspopup="true" aria-expanded="false">
                Usuario
            </a>
            <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdownMenuLinkUser">
                <li><a class="dropdown-item" href="#">Configurar Perfil</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/index.html">Cerrar Sesión</a></li>
            </ul>
            </li>
        </ul>
        </div>
    </div>
</nav>