<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">NomiWeb</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button" aria-haspopup="true" aria-expanded="false">
                Parametros
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                <li><a class="dropdown-item" href="#">Empresa</a></li>
                <li><a class="dropdown-item" href="#">Bancos</a></li>
                <li><a class="dropdown-item" href="#">Estructura</a></li>
                <li><a class="dropdown-item" href="#">Cargos</a></li>
                <li><a class="dropdown-item" href="#">Modelos de Contrato</a></li>
                <li><a class="dropdown-item" href="#">Centros de Costos</a></li>
                <li><a class="dropdown-item" href="#">Centros de Trabajo (ARL)</a></li>
                <li><a class="dropdown-item" href="#">Sub centros de Costos</a></li>
                <li><a class="dropdown-item" href="#">Sedes (Caja)</a></li>
                <li><a class="dropdown-item" href="#">Festivos</a></li>

            </ul>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" aria-haspopup="true" aria-expanded="false">
                Contabilidad
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                <li><a class="dropdown-item" href="#">Costos por Empleado al Mes</a></li>
                <li><a class="dropdown-item" href="#">Provisión de Nómina</a></li>
                <li><a class="dropdown-item" href="#">Provisión Aportes SS</a></li>
                <li><a class="dropdown-item" href="#">Movimientos por tercero</a></li>
                <li><a class="dropdown-item" href="#">Certificados Ingresos y Retenciones</a></li>
            </ul>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button" aria-haspopup="true" aria-expanded="false">
                Empleados
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                <li><a class="dropdown-item" href="{% url 'companies:newemployee'  %}">Nuevo Empleado</a></li>
                <li><a class="dropdown-item" href="#">Nuevo Contrato</a></li>
                <li><a class="dropdown-item" href="{% url 'companies:editcontracsearch'  %}">Editar Contrato</a></li>
                <li><a class="dropdown-item" href="{% url 'companies:editemployeesearch'  %}">Editar Hoja de Vida</a></li>
                <li><a class="dropdown-item" href="#">Listado maestro de empleados</a></li>
                <li><a class="dropdown-item" href="{% url 'companies:startcompanies'  %}">Listado de Contratos Activos</a></li>
                <li><a class="dropdown-item" href="#">Listado Seguridad Social</a></li>
                <li><a class="dropdown-item" href="#">Listado General</a></li>
                <li><a class="dropdown-item" href="#">Certificaciones Laborales</a></li>
                <li><a class="dropdown-item" href="#">Listado de Cumpleaños</a></li>

            </ul>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" role="button" aria-haspopup="true" aria-expanded="false">
                Novedades de Nomina
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink4">
                <li><a class="dropdown-item" href="#">Incapacidades</a></li>
                <li><a class="dropdown-item" href="#">Prestamos</a></li>
                <li><a class="dropdown-item" href="#">Retiros</a></li>
                <li><a class="dropdown-item" href="#">Vacaciones</a></li>
                <li><a class="dropdown-item" href="#">Cambio de Cargo-C.Costos-Sede-Tar.ARL</a></li>
                <li><a class="dropdown-item" href="#">Cambio de Salario</a></li>
                <li><a class="dropdown-item" href="#">Cambio Seg. Social</a></li>
                <li><a class="dropdown-item" href="#">Descuentos Autorizados</a></li>

            </ul>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink5" role="button" aria-haspopup="true" aria-expanded="false">
                Nomina
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink5">
                <li><a class="dropdown-item" href="#">Planilla de Nómina</a></li>
                <li><a class="dropdown-item" href="#">Comprobantes de Nomina</a></li>
                <li><a class="dropdown-item" href="#">Resumen de Nomina</a></li>
                <li><a class="dropdown-item" href="#">Informes</a></li>
                <li><a class="dropdown-item" href="#">Resumen por Conceptos de Nómina</a></li>
                <li><a class="dropdown-item" href="#">Liquidaciones</a></li>
                <li><a class="dropdown-item" href="#">Gestión Documental</a></li>

            </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink5" role="button" aria-haspopup="true" aria-expanded="false">
                    GG.HH
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink5">
                    <li><a class="dropdown-item" href="#">Escala Salarial</a></li>    
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink5" role="button" aria-haspopup="true" aria-expanded="false">
                    Seguridad
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink5">
                    <li><a class="dropdown-item" href="#">Usuarios</a></li>
                    <li><a class="dropdown-item" href="#">Lista de Aplicaciones</a></li>
                    <li><a class="dropdown-item" href="#">Grupos</a></li>
                    <li><a class="dropdown-item" href="#">Grupos / Aplicaciones</a></li>
                    <li><a class="dropdown-item" href="#">Sincronizar Aplicaciones</a></li>
                    <li><a class="dropdown-item" href="#">Cambiar Contraseña</a></li>
                    <li><a class="dropdown-item" href="#">Log</a></li>
                    <li><a class="dropdown-item" href="#">Estadisticas</a></li>
                    <li><a class="dropdown-item" href="#">Admin</a></li>
                    <li><a class="dropdown-item" href="#">Valida Certificaciones</a></li>

                </ul>
            </li>

        </ul>
        <!-- Botón desplegable para el perfil de usuario -->
        <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn btn-outline-dark" href="#" id="navbarDropdownMenuLinkUser" role="button" aria-haspopup="true" aria-expanded="false">
                Usuario
            </a>
            <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdownMenuLinkUser">
                <li><a class="dropdown-item" href="#">Configurar Perfil</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/index.html">Cerrar Sesión</a></li>
            </ul>
            </li>
        </ul>
        </div>
    </div>
</nav>



