{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block navbar %}
    {% include 'base/navbar_payroll.html' %}               
{% endblock %}

{% load static %} 


{% block title %}
    Nomiweb.co - Aplicacion Contable - Nómina Electrónica
{% endblock %}



{% block sub_titulo1 %} 
Nominas
{% endblock %}

{% block sub_titulo2 %} 
Nómina Electrónica
{% endblock %}

{% block sub_titulo3 %} 
Nómina Electrónica
{% endblock %}

{% block titulo2 %} 

{% endblock %}

{% block actions %}

{% endblock %}

{%block content%} 

<div class="table-responsive">
    <table class="table table-striped table-bordered" id="tabla-nomina">
        <thead>
            <tr class="fw-bold fs-6 text-gray-800">
                <th class="text-center">Id</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">Documento</th>
                <th class="text-center">Mes / Año</th>
                <th class="text-center">
                    <div class="container d-flex justify-content-center align-items-center">
                        <i class="ki-duotone ki-chart fs-1">
                            <i class="path1"></i>
                            <i class="path2"></i>
                        </i>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for record in query_detail %}
                <tr>
                    <td class="text-center align-middle">{{ record.id }}</td>
                    <td class="text-center align-middle">{{ record.employee_name }}</td>
                    <td class="text-center align-middle">{{ record.employee_identification }}</td>
                    <td class="text-center align-middle">{{ record.month }} {{ record.year }}</td>
                    <td class="text-center align-middle">
                        <a href="" class="btn btn-icon btn-light-info" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" data-bs-placement="top" title="Ver Nomina">
                            <i class="fa-regular fa-eye fs-2"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>    

{% endblock %}
