{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load custom_filters %}



{% block navbar %}
    {% include 'base/navbar_payroll.html' %}               
{% endblock %}

{% block cssarch %}

{% endblock %}

{% load static %}

{% block title %}
    Nomiweb.co - Aplicación Contable - Nóminas 
{% endblock %}

{% block sub_titulo1 %} 
Nóminas
{% endblock %}

{% block sub_titulo2 %} 
Plantilla de Nóminas - Nomina #{{ nombre.idnomina }}
{% endblock %}

{% block titulo2 %} 
    {{ nombre.nombrenomina }}
{% endblock %}


{% block css %}


up-modal[size=large] up-modal-box {
    border-radius: 0.75rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    
}

.select2-container .select2-selection--single .select2-selection__rendered {
    text-align: left;
}

.select2-container .select2-search--dropdown .select2-search__field {
    height: 28px; /* Ajusta la altura según prefieras */
    padding: 4px 8px; /* Ajusta el padding para hacerlo más delgado */
    font-size: 14px; /* Si quieres un texto más pequeño */
    border-radius: 8px; /* Bordes más suaves si te gusta */
}


.select2-container .select2-results__option {
    text-align: left;
}


.swal2-container {
    z-index: 9999 !important; /* Más alto que el z-index de los modales de Unpoly */
}


tr.htmx-swapping td {
    opacity: 0;
    transition: opacity 1s ease-out;
}

{% endblock %}



{% block actions %}
    
     <!-- Separación entre grupos -->
    <!-- Botón para activar modal -->
    <a href="{% url 'payroll:payroll' %}"  class="btn btn-light-primary"   >
        <i class="ki-duotone ki-exit-left fs-2 ">             
            <span class="path1"></span>
            <span class="path2"></span>
        </i>
        Atras
        
    </a>  
    
    <div style="width: 10px;"></div>
    <!-- Botón adicional -->
    <button type="button" class="btn btn-light-info" data-bs-toggle="modal" data-bs-target="#kt_modal_loaddata">
        <i class="fa-solid fa-upload fs-2"></i>
        Cargar Archivo Plano
    </button>
    <!-- Separación entre grupos -->
    <div style="width: 10px;"></div>

    <!-- Botón adicional -->
    <a href="{% url 'payroll:document_flat' %}" 
        download class="btn btn-icon  btn-light-primary" 
        data-bs-toggle="tooltip" 
        data-bs-custom-class="tooltip-inverse" 
        data-bs-placement="bottom" 
        title="Descargar plantilla de Documento Plano" >
            <i class="fa-solid fa-download fs-2"></i>
    </a> 

    <div style="width: 10px;"></div>

    <a
        class='btn btn-icon btn-light-info'
        up-layer='new modal'
        up-target=".modal-content"
        up-size = "large"
        up-align = "center"
        up-backdrop = "true"
        up-history = "false"
        up-dismissable ="false"
        up-cache="false"
        data-bs-toggle="tooltip" 
        data-bs-custom-class="tooltip-inverse" 
        data-bs-placement="bottom" 
        title="Cargar Novedades general" 
        href="{% url 'payroll:payroll_general' nombre.idnomina %}">
        <i class="fa-solid fa-file-circle-plus fs-3"></i>

    </a>

{% endblock %}

{% block content %}


<div class="modal fade" tabindex="-1" id="kt_modal_loaddata">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Carga de Documento</h3>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">

                <form id="upload-form" name="upload-form" method="POST" action="{% url 'payroll:flat' id=id %}" enctype="multipart/form-data">
                    <div class="mb-3">
                        {% csrf_token %}
                        {% comment %} <label for="file-upload" class="form-label">
                            <i class="fa-solid fa-upload fs-2"></i>
                            Cargar Archivo Plano
                        </label> {% endcomment %}
                        <input  class="form-control form-control-sm" id="file-upload" name="file" type="file" />
                        <small id="fileHelp" class="form-text text-muted">
                            Solo se aceptan archivos de tipo Excel (.xlsx). <a href="{% url 'payroll:document_flat' %}" download>Descarga la plantilla aquí</a> si aún no la tienes.
                        </small>
                    </div>
                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" form="upload-form" class="btn btn-primary">Cargar Archivo</button>
            </div>
        </div>
    </div>
</div>


<div class="table-responsive">
    <table id="tabla-contrato-activos" class="table table-striped table-bordered">
        <thead >
            <tr class="fw-bold fs-6 text-gray-800">
                <th class="text-center" >Documento</th>
                <th>Nombre</th>
                <th class="text-center" >Salario</th>
                <th class="text-center" >Gestión</th>
            </tr>
        </thead>
        <tbody>
            {% for empleado in empleados %}
                <tr >
                    <td class="text-center">{{ empleado.idcontrato__idempleado__docidentidad }}</td>
                    <td>{{ empleado.idcontrato__idempleado__papellido }} {{ empleado.idcontrato__idempleado__sapellido }} {{ empleado.idcontrato__idempleado__pnombre }}</td>
                    <td class="text-center">{{ empleado.idcontrato__salario|format_currency }} </td>
                    <td class="text-center">
                        <a
                            class='btn btn-icon btn-sm btn-light-info'
                            up-layer='new modal'
                            up-target="#modal-content" 
                            up-size = "large"
                            up-align = "center"
                            up-backdrop = "true"
                            up-history = "false"
                            up-dismissable ="false"
                            up-cache="false"
                            href="{% url 'payroll:payroll_modal' empleado.idcontrato nombre.idnomina  %}">
                                <i class="fa-solid fa-file-circle-plus fs-3"></i>
                        </a>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



<div id="modal-container"></div>



{% endblock content %}

{% block js %}

<script>
    document.addEventListener('htmx:beforeSwap', function(evt) {
        if (evt.detail.xhr.status === 200) {
            let target = evt.detail.target;
            target.classList.add('opacity-0', 'transition', 'duration-500');
            setTimeout(() => target.remove(), 500);
        }
    });
</script>

<script>
    document.addEventListener('up:fragment:inserted', function(event) {
        console.log('Evento up:fragment:inserted disparado'); // Verifica que el evento se esté disparando
        console.log('Elemento objetivo:', event.target); // Muestra el elemento objetivo del evento

        // Verifica si el fragmento insertado es #item-list
        if (event.target.matches("#item-list")) {
            console.log('El elemento #item-list coincide'); // Verifica que el selector coincida

            // Verifica si el acordeón existe en el DOM
            const accordion = document.querySelector('#kt_accordion_1_body_1');
            if (accordion) {
                console.log('Recargando acordeón');
                up.reload('#kt_accordion_1_body_1', { failSilently: true }); // Recarga el acordeón
            } else {
                console.log('El acordeón no existe en el DOM');
            }
        }
    });
</script>

<script>
    document.addEventListener('up:layer:dismiss', function(event) {
        location.reload();
    });
</script>


<script> 
    

    document.addEventListener('up:fragment:inserted', function(event) {
        const conceptSelect = document.getElementById('concept');
        const conceptAmount = document.getElementById('cantidad');
        const conceptValue = document.getElementById('valor');
        const conceptId = document.getElementById('idempleado');
        const conceptPayroll = document.getElementById('idnomina');

        const csrftoken = '{{ csrf_token }}';

        if (conceptSelect) {
    
            // Deshabilitar campos inicialmente
            if (conceptAmount && conceptValue) {
                conceptAmount.disabled = true;
                conceptValue.disabled = true;
            }
    
            $(conceptSelect).on('select2:select', function(e) {
                const selectedValue = e.params.data.id;
                // Deshabilitar campos inicialmente
                if (conceptAmount && conceptValue) {
                    conceptAmount.disabled = true;
                    conceptValue.disabled = true;
                }
    
                

                // Hacer un POST con Unpoly a una URL de Django
                up.request('{% url "payroll:payroll_concept_info" %}', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrftoken,
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    params: {
                        concept: selectedValue,
                        idempleado: conceptId.value,
                        payroll: conceptPayroll.value
                    },
                    feedback: true
                }).then(function(response) {
                    const data = JSON.parse(response.text);

                    if (data.concept) {
                        const conceptSelect = document.getElementById('concept');
                        conceptSelect.value = data.concept;
                        if (data.formula) {
                            // Habilitar campos solo si se selecciona algo
                            if (conceptAmount) {
                                conceptAmount.disabled = !selectedValue;
                            }
                        } else {
                            if (conceptValue) {
                                conceptValue.disabled = !selectedValue;
                            }
                        }                        
                        // Si usas Select2, también hay que actualizarlo así:
                        $(conceptSelect).val(data.concept).trigger('change');


                        conceptAmount.addEventListener('input', (event) => {
                            const cantidad = parseFloat(event.target.value) || 0;
                            const resultado = cantidad * data.multiplier;
                            conceptValue.value = resultado.toFixed(2);
                        });


                    }
                }).catch(function(error) {
                    console.error('Error en la petición:', error);
                });

            });
            
            


            $(conceptSelect).on('select2:clear', function() {
                // Deshabilitar campos si se limpia la selección
                if (conceptAmount && conceptValue) {
                    conceptAmount.disabled = true;
                    conceptValue.disabled = true;
                }
            });


        }
    });
    

</script> 

    

<script>
    function confirmDelete(itemId) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: '¡No podrás deshacer esta acción!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminar'
        }).then((result) => {
            if (result.isConfirmed) {
                const deleteUrl = `/payroll/payroll/form/modals/delete/${itemId}/`;
                htmx.ajax('DELETE', deleteUrl, {
                    target: `#item-${itemId}`,
                    swap: 'outerHTML'
                });
                Swal.fire('¡Eliminado!', 'El elemento ha sido eliminado.', 'success');
            }
        });
    }
</script>




    

<script>
    document.addEventListener('up:request:loaded', function(event) {
        const form = event.request.form;

        const input1 = document.querySelector('input[name="cantidad"]');
        const input2 = document.querySelector('input[name="valor"]');
        if (input1) {
            input1.value = '';  // Vaciar el campo
        }
        if (input2) {
            input2.value = '';  // Vaciar el campo
        }

        $('#concept').val(null).trigger('change');

        
    });


    document.addEventListener('up:request:loaded', function(event) {
        // Verificar si la solicitud proviene del formulario
        const form = event.request.form;
        if (form && form.id === 'add-item-form') {
            // Desbloquear el botón después de que el formulario se haya enviado
            const button = document.getElementById('add-item-button');
            if (button) {
                button.disabled = false;
                button.textContent = 'Agregar Ítem';  // Restaurar el texto del botón
            }
    
        }
    });
</script>


<script>

   


    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toastr-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };

    up.on('edit-concepto', function(event) {
        const idn = event.target.dataset.idn;
    
        const select = document.getElementById(`select-${idn}`);
        const amount = document.getElementById(`amount-${idn}`);
        const value = document.getElementById(`value-${idn}`);
        const saveButton = event.target.nextElementSibling;
    
        if (select && amount && value && saveButton) {
            select.disabled = false;
            amount.disabled = false;
            value.disabled = false;
            event.target.hidden = true;
            saveButton.hidden = false;
    
            // Volver a habilitar el botón de save por si quedó deshabilitado
            saveButton.disabled = false;
            saveButton.style.pointerEvents = 'auto';
            saveButton.style.opacity = '1';
        }
    });

    up.on('save-concepto', function(event) {
        
        const idn = event.target.dataset.idn;
        // Deshabilitar el botón de save inmediatamente
        event.target.disabled = true;
        event.target.style.pointerEvents = 'none';
        event.target.style.opacity = '0.5';


        const data = {
            idn: idn,
            amount: document.getElementById(`amount-${idn}`).value,
            value: document.getElementById(`value-${idn}`).value,
            concept: document.getElementById(`select-${idn}`).value
        };
        


        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        up.request("{% url 'payroll:payroll_edit' %}", {
            method: 'POST',
            params: {
                ...data,
                csrfmiddlewaretoken: csrftoken
            },
            fail: false
        }).then((response) => {
            console.log('Respuesta exitosa:', response);

            const res = response.json;

            if (res.mensaje === 'Concepto actualizado correctamente') {
                const select = document.getElementById(`select-${data.idn}`);
                const amount = document.getElementById(`amount-${data.idn}`);
                const value = document.getElementById(`value-${data.idn}`);
                if (select && amount && value) {
                    select.disabled = true;
                    amount.disabled = true;
                    value.disabled = true;

                    event.target.hidden = true;
                    event.target.previousElementSibling.hidden = false;
                    
                    toastr.success(res.mensaje, "Éxito");
                    // Verifica si el acordeón existe en el DOM
                    const accordion = document.querySelector('#kt_accordion_1_body_1');
                    if (accordion) {
                        console.log('Recargando acordeón');
                        up.reload('#kt_accordion_1_body_1', { failSilently: true }); // Recarga el acordeón
                    } else {
                        console.log('El acordeón no existe en el DOM');
                    }

                } else {
                    toastr.error("Ocurrio un error inesperado", "Error"); 
                    console.warn('No se encontraron los elementos en el DOM');
                }
            } else {
                toastr.error("Ocurrio un error inesperado", "Error"); 
                console.warn(res.error || 'Ocurrió un error inesperado');

            }
        }).catch((response) => {
            toastr.error("Ocurrio un error inesperado", "Error"); 
            console.error('Error en la solicitud:', response);
        });



    });
</script>



<script>
    document.addEventListener('up:fragment:inserted', function(event) {
        const modalContent = up.layer.current.element;

        if (modalContent) {
            const selectElements = modalContent.querySelectorAll('[data-control="select2"]');
            
            // Usamos un pequeño retraso para asegurar el renderizado completo
            setTimeout(() => {
                selectElements.forEach((select, index) => {
                    // Aseguramos un ID único si no tiene uno
                    if (!select.id) {
                        select.id = `select2-unique-${Date.now()}-${index}`;
                    }

                    if (!$(select).data('select2')) {
                        $(select).select2({
                            dropdownParent: $(modalContent),
                            width: '100%'
                        });
                    }
                });
            }, 300); // Aumentamos un poco el tiempo para mayor seguridad
        } else {
            console.log('Contenido completo del fragmento:', event.target.innerHTML);
        }
    });
</script>

    
    
    


<script>
    $(document).ready(function() {
        $('#tabla-contrato-activos').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay datos disponibles en la tabla",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered": "(filtrado de _MAX_ entradas totales)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "No se encontraron registros coincidentes",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": activar para ordenar la columna ascendente",
                    "sortDescending": ": activar para ordenar la columna descendente"
                }
            },
            dom: 'frtip',
            order: [],
            pageLength: 10
        });
    });
</script>
{% endblock %}
