{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% block navbar %}
    {% include 'base/navbar_payroll.html' %}               
{% endblock %}

{% load static %}

{% block title %}
    Nomiweb.co - Aplicación Contable - Nóminas 
{% endblock %}

{% block sub_titulo1 %} 
Nóminas
{% endblock %}

{% block sub_titulo2 %} 
Plantilla de Nóminas - Nomina #{{ nombre.idnomina }}
{% endblock %}

{% block titulo2 %} 
  {{ nombre.nombrenomina }}
{% endblock %}

{% block actions %}
    <!-- Botón para activar modal -->
    <a href="{% url 'payroll:payroll' %}"  class="btn btn-light-primary"   >
        Atras
        <i class="ki-duotone ki-exit-left fs-2 ">             
            <span class="path1"></span>
            <span class="path2"></span>
        </i>
    </a>  
    <!-- Separación entre grupos -->
    <div style="width: 10px;"></div> <!-- Puedes ajustar el tamaño según sea necesario -->

    <button type="button" class="btn btn-light-info" data-bs-toggle="modal" data-bs-target="#kt_modal_concept">
        <i class="fa-solid fa-square-plus fs-2"></i> Agregar Concepto
    </button>  
{% endblock %}

{% block content %}

<!-- Bloque de bienvenida -->
<div class="grid-x align-center">
    <h1 class="cell large-8" style="font-size: 25px; text-align: center;"></h1>
    <div class="cell large-7">
        <div class="callout success">
            
        </div>
    </div>
</div>
<!-- Fin del bloque de bienvenida -->


<div class="table-responsive">
    <table id="tabla-contrato-activos" class="table table-striped table-bordered">
        <thead >
            <tr class="fw-bold fs-6 text-gray-800">
                <th class="text-center" >Documento</th>
                <th>Nombre</th>
                <th class="text-center" >Salario</th>
                <th class="text-center" >Contrato</th>
                <th class="text-center" >Gestión</th>
            </tr>
        </thead>
        <tbody>
            {% for empleado in empleados %}
                <tr >
                    <td class="text-center">{{ empleado.idempleado__docidentidad }}</td>
                    <td>{{ empleado.idempleado__papellido }} {{ empleado.idempleado__sapellido }} {{ empleado.idempleado__pnombre }}</td>
                    <td class="text-center">{{ empleado.salario|format_currency }}</td>
                    <td class="text-center">{{ empleado.idcontrato }}</td>
                    <td class="text-center">
                        <div class="d-inline-flex">
                            <button type="button" class="btn btn-icon btn-sm me-2 btn-light-instagram" data-bs-toggle="modal" data-bs-target="#kt_modal_views"  data-empleado="{{empleado.idcontrato}}" >
                                <i class="fas fa-solid fa-eye fs-3 " data-bs-toggle="tooltip"  data-bs-custom-class="tooltip-inverse"  data-bs-placement="top" title="Ver Conceptos"  ></i>
                            </button>

                            <button class="btn btn-icon btn-sm btn-light-info me-2" data-bs-toggle="modal" data-bs-target="#kt_modal_concept_used"  data-empleado="{{empleado.idcontrato}}" >
                                <i class="fa-solid fa-file-circle-plus fs-3" data-bs-toggle="tooltip"  data-bs-custom-class="tooltip-inverse" data-bs-placement="top" title="Agregar Concepto"></i>
                            </button>
                             
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<!-- Modal para Nuevo concepto - con empleado  -->
<div class="modal fade" tabindex="-1" id="kt_modal_concept">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Nuevo Concepto</h3>

                <!-- Botón para cerrar -->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Cerrar">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!-- Fin del botón para cerrar -->
            </div>

            <div class="modal-body">
                {% csrf_token %}
                {% crispy form1 %}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" form="form_payroll_concept" name="submit_full" class="btn btn-primary">Agregar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal para Nuevo concepto - directo de  empleado  -->
<div class="modal fade" tabindex="-1" id="kt_modal_concept_used">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Nuevo Concepto</h3>

                <!-- Botón para cerrar -->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Cerrar">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!-- Fin del botón para cerrar -->
            </div>

            <div class="modal-body">
                {% crispy form2 %}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" form="form_custom_payroll_concept" name="submit_direct" class="btn btn-primary">Agregar</button>
                
            </div>
        </div>
    </div>
</div>

<!-- Modal para visualización -->
<div class="modal fade" tabindex="-1" id="kt_modal_views">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Nueva Nómina</h3>

                <!-- Botón para cerrar -->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Cerrar">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!-- Fin del botón para cerrar -->
            </div>

            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered" id="tabla-nomina">
                        <thead>
                            <tr class="fw-bold fs-6 text-gray-800">
                                <th class="text-center">Código</th>
                                <th>Nombre Concepto</th>
                                <th class="text-center">Valor</th>
                                <th class="text-center">Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for concepto in nomina %}
                                <tr>
                                    <td class="text-center align-middle">{{ concepto.idregistronom }}</td>
                                    <td class="align-middle">{{ concepto.idconcepto.nombreconcepto }}</td>
                                    <td class="text-center align-middle">{{ concepto.valor|format_currency  }}</td>
                                    <td class="text-center align-middle">{{ concepto.cantidad|format_currency  }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}
<script>
    $('#kt_modal_concept_used').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var recipient = button.data('empleado') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this)
    var select = modal.find('#idcontrato_kt_modal_concept_used');

     
    if (recipient) {
        select.val(recipient).trigger('change');  
    }


    var $select1 = modal.find('.modal-body #idcontrato_kt_modal_concept_used');
    $select1.val(recipient).trigger('change').prop('disabled', true); // Establece el valor y deshabilita el select

    })
</script>


<script>
    $(document).ready(function() {
        $('#tabla-contrato-activos').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay datos disponibles en la tabla",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered": "(filtrado de _MAX_ entradas totales)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "No se encontraron registros coincidentes",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": activar para ordenar la columna ascendente",
                    "sortDescending": ": activar para ordenar la columna descendente"
                }
            },
            dom: 'frtip',
            order: [],
            pageLength: 10
        });
    });
</script>
{% endblock %}
