{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block navbar %}
    {% include 'base/navbar_payroll.html' %}               
{% endblock %}

{% load static %} 


{% block title %}
    Nomiweb.co - Aplicacion Contable - Nóminas
{% endblock %}



{% block sub_titulo1 %} 
Nóminas
{% endblock %}

{% block sub_titulo2 %} 
Plantilla de Nóminas
{% endblock %}

{% block titulo2 %} 

{% endblock %}

{% block actions %}
<!-- Button trigger modal -->
    <button type="button"  class="btn btn-light-info"  data-bs-toggle="modal" data-bs-target="#kt_modal_maintenance" >
        <i class="fa-solid fa-square-plus fs-2"></i>Crear Nómina
    </button>  
{% endblock %}



{%block content%} 



<!-- Bloque de bienvenida -->
<div class="grid-x align-center">
    <h1 class="cell large-8" style="font-size: 25px; text-align: center;"></h1>
    <div class="cell large-7">
        <div class="callout success">
            
        </div>
    </div>
    
</div>
<!-- Fin bloque de Bienvenida -->


<!-- Modal -->
<div class="modal fade" tabindex="-1" id="kt_modal_maintenance">
    <div class="modal-dialog modal-dialog-centered  modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Nueva Nómina</h3>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                {% csrf_token %}
                {% crispy form %}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" form="form_payroll"  class="btn btn-primary">Crear</button>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered" id="tabla-nomina">
        <thead>
            <tr class="fw-bold fs-6 text-gray-800">
                <th class="text-center">Código</th>
                <th>Nombre de Nómina</th>
                <th class="text-center">Fecha Inicial</th>
                <th class="text-center">Fecha Final</th>
                <th class="text-center">Días de Nómina</th>
                <th class="text-center">Fecha Pago</th>
                <th class="text-center">
                    <div class="container d-flex justify-content-center align-items-center">
                        <i class="ki-duotone ki-chart fs-1">
                            <i class="path1"></i>
                            <i class="path2"></i>
                        </i>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for nomina in nominas %}
                <tr>
                    <td class="text-center align-middle">{{ nomina.idnomina }}</td>
                    <td class="align-middle">{{ nomina.nombrenomina }}</td>
                    <td class="text-center align-middle">{{ nomina.fechainicial|date:'d-m-Y' }}</td>
                    <td class="text-center align-middle">{{ nomina.fechafinal|date:'d-m-Y' }}</td>
                    <td class="text-center align-middle">{{ nomina.diasnomina }}</td>
                    <td class="text-center align-middle">{{ nomina.fechapago|date:'d-m-Y' }}</td>
                    <td class="text-center align-middle">
                        <a href="{% url 'payroll:payrollview' nomina.idnomina %}" class="btn btn-icon btn-light-info" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" data-bs-placement="top" title="Ver Nómina">
                            <i class="fa-regular fa-eye fs-2"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}









{% block js %}

<script>
    // Bloquear los campos con estilos Bootstrap
    document.addEventListener("DOMContentLoaded", function () {
        // Seleccionar los campos por ID
        const nombreNomina = document.getElementById("id_nombrenomina");
        const diasNomina = document.getElementById("id_diasnomina");

    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const nombreNomina = document.getElementById("id_nombrenomina");
        const diasNomina = document.getElementById("id_diasnomina");
        const fechaInicial = document.getElementById("id_fechainicial");
        const fechaFinal = document.getElementById("id_fechafinal");
        const fechaPago = document.getElementById("id_fechapago");
        const tipoNomina = document.getElementById("id_tiponomina");

        // Mapeo de IDs de nóminas con sus nombres
        const tipoNominaMap = {
            1: "Mensual",
            2: "Quincenal",
            3: "Por Horas",
            4: "Primas",
            5: "Cesantías",
            6: "Adicional",
            7: "Vacaciones",
            8: "Liquidación",
            9: "Catorcenal",
            10: "Int. de Cesantías",
            11: "Semanal"
        };

        // Función para calcular días entre fechas
        const calcularDias = () => {
            const fechaInicio = new Date(fechaInicial.value);
            const fechaFin = new Date(fechaFinal.value);

            if (!isNaN(fechaInicio) && !isNaN(fechaFin)) {
                const diferenciaMilisegundos = fechaFin - fechaInicio;
                const dias = Math.ceil(diferenciaMilisegundos / (1000 * 60 * 60 * 24)) + 1;
                diasNomina.value = dias >= 0 ? dias : 0;
            }
        };

        // Función para actualizar el Nombre Nómina
        const actualizarNombreNomina = () => {
            const fecha = new Date(fechaPago.value);
            const tipoId = tipoNomina.value;

            if (!isNaN(fecha) && tipoId) {
                const meses = [
                    "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", 
                    "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
                ];
                const mes = meses[fecha.getMonth()];
                const año = fecha.getFullYear();
                const tipoTexto = tipoNominaMap[tipoId];

                if (tipoTexto) {
                    nombreNomina.value = `Nómina - ${tipoTexto} - ${mes} - ${año}`;
                }
            }
        };

        // Eventos para calcular días y actualizar el nombre
        fechaInicial.addEventListener("change", calcularDias);
        fechaFinal.addEventListener("change", calcularDias);
        fechaPago.addEventListener("change", actualizarNombreNomina);

        $("#id_tiponomina").on("select2:select", function () {
            actualizarNombreNomina();
        });

    });
</script>

<script>
    $(document).ready(function() {
        $('#tabla-nomina').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay datos disponibles en la tabla",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered": "(filtrado de _MAX_ entradas totales)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "No se encontraron registros coincidentes",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": activar para ordenar la columna ascendente",
                    "sortDescending": ": activar para ordenar la columna descendente"
                }
            },
            dom: 'Bfrtip',
            columnDefs: [
                { targets: [0, 2, 3], orderable: false }
            ],
            order: [],
            "pageLength": 10,     
            buttons: [
            ]
        });
    });
    
    // Función para mostrar la animación de carga
    function showLoadingAnimation() {
        $('#loading-animation').show();
    }
    
    // Función para ocultar la animación de carga
    function hideLoadingAnimation() {
        $('#loading-animation').hide();
    }
</script>


{% endblock %}