{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block navbar %}
    {% include 'base/navbar_payroll.html' %}               
{% endblock %}

{% load static %} 


{% block title %}
    Nomiweb.co - Aplicacion Contable - Nominas - Archivo Plano
{% endblock %}



{% block sub_titulo1 %} 
Nominas
{% endblock %}

{% block sub_titulo2 %} 
Plantilla de Nominas
{% endblock %}

{% block titulo2 %} 
Archivo Plano
{% endblock %}

{% block actions %}
    <!-- Botón para Volver Atras -->
    <button type="button" class="btn btn-light-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_stacked_1">
        <i class="ki-duotone ki-exit-left fs-2 ">             
            <span class="path1"></span>
            <span class="path2"></span>
        </i>
        Atras
    </button>
    <div style="width: 10px;"></div>
    <!-- Botón adicional -->
    <button type="button" class="btn btn-light-info" data-bs-toggle="modal" data-bs-target="#kt_modal_loaddata">
        <i class="fa-solid fa-upload fs-2"></i>
        Cargar Archivo Plano
    </button>

{% endblock %}



{%block content%} 


{% if general_error %}
    
        <!--begin::Alert-->
        <div class="alert alert-dismissible bg-light-danger d-flex flex-column flex-sm-row p-5 mb-10">
            <!--begin::Icon-->
            <i class="ki-duotone ki-search-list fs-2hx text-danger me-4 mb-5 mb-sm-0"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
            <!--end::Icon-->

            <!--begin::Wrapper-->
            <div class="d-flex flex-column pe-0 pe-sm-10">
                <!--begin::Title-->
                <h4 class="mb-2 light">
                    {% if general_error|length == 1 %}
                        ¡Oh no! Algo salió mal...
                    {% else %}
                        ¡Ups! Algo no va bien, parece que hay más de un problema...
                    {% endif %}
                </h4>
                <!--end::Title-->
                <ul>
                    {% for error in general_error %}
                        <!--begin::Content-->
                        <li><span>{{ error }}</span></li>
                        <!--end::Content-->
                    {% endfor %}
                </ul>
                    
                    
                    
                
            </div>
            <!--end::Wrapper-->

            <!--begin::Close-->
            <button type="button" class="position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon ms-sm-auto" data-bs-dismiss="alert">
                <i class="ki-duotone ki-cross fs-1 text-light"><span class="path1"></span><span class="path2"></span></i>
            </button>
            <!--end::Close-->
        </div>
        <!--end::Alert-->
    
{% endif %}
    


<div class="modal fade" tabindex="-1" id="kt_modal_loaddata">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Carga de Documento</h3>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">

                <form id="upload-form" name="upload-form" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        {% csrf_token %}
                        {% comment %} <label for="file-upload" class="form-label">
                            <i class="fa-solid fa-upload fs-2"></i>
                            Cargar Archivo Plano
                        </label> {% endcomment %}
                        <input  class="form-control form-control-sm" id="file-upload" name="file" type="file" />
                        <small id="fileHelp" class="form-text text-muted">
                            Solo se aceptan archivos de tipo Excel (.xlsx). <a href="{% url 'payroll:document_plane' %}" download>Descarga la plantilla aquí</a> si aún no la tienes.
                        </small>
                    </div>
                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" form="upload-form" class="btn btn-primary">Cargar Archivo</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="kt_modal_stacked_1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Volver Atras</h3>
    
                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>
    
            <div class="modal-body">
                <div class="text-center">
                    <h2>¿Está seguro de que desea volver atrás?</h2>
                    <p>Si vuelve atrás, se perderán todos los datos no guardados y el proceso deberá reiniciarse.</p>
                </div>                
            </div>
    
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                <a href="{% url 'payroll:payrollview' id=id %}"  class="btn btn-light-primary"   >
                    Aceptar
                </a>  
            </div>
        </div>
    </div>
</div>



<!-- Bloque de bienvenida -->
<div class="grid-x align-center">
    <h1 class="cell large-8" style="font-size: 25px; text-align: center;"></h1>
    <div class="cell large-7">
        <div class="callout success">
            
        </div>
    </div>
    
</div>
<!-- Fin bloque de Bienvenida -->


{% if errors  %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered" id="tabla-nomina">
            <thead>
                <tr class="fw-bold fs-6 text-gray-800">
                    <th class="text-center">Línea</th>
                    <th>ID Contrato</th>
                    <th class="text-center">Identificación</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Error</th>
                </tr>                
            </thead>
            <tbody>
                {% for error in errors %}
                    <tr>
                        <td class="text-center">{{ error.line }}</td>
                        <td>{{ error.contract_id|default:"-" }}</td>
                        <td class="text-center">{{ error.identification }}</td>
                        <td class="text-center">{{ error.name }}</td>
                        <td class="text-center text-danger">
                            <ul class="mb-0 list-unstyled" style="padding-left: 0; display: flex; align-items: center;">
                                <li>{{ error.error|safe }}</li>  <!-- Se usa el filtro 'safe' para interpretar el HTML en la plantilla -->
                                
                                {% if error.details %}
                                    <i class="fa-solid fa-question" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" data-bs-placement="top" title="{{error.details}}" style="margin-left: 5px;"></i>
                                {% endif %}
                                    
                                
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </tbody>
        </table>
    </div>
{% else %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">¡Archivo procesado exitosamente!</h4>
        <p>El archivo se ha procesado correctamente y ninguna línea contiene errores. Todos los datos están en orden.</p>
        <hr>
        <p class="mb-0">Gracias por asegurarte de que la información esté completa y correcta.</p>
    </div>
{% endif %}
    




{% endblock content %}









{% block js %}

<script>
    $(document).ready(function() {
        $('#tabla-nomina').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay datos disponibles en la tabla",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered": "(filtrado de _MAX_ entradas totales)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "No se encontraron registros coincidentes",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": activar para ordenar la columna ascendente",
                    "sortDescending": ": activar para ordenar la columna descendente"
                }
            },
            dom: 'Bfrtip',
            columnDefs: [
                { targets: [0, 2, 3], orderable: false }
            ],
            order: [],
            "pageLength": 20,     
            buttons: [
            ]
        });
    });
    
    // Función para mostrar la animación de carga
    function showLoadingAnimation() {
        $('#loading-animation').show();
    }
    
    // Función para ocultar la animación de carga
    function hideLoadingAnimation() {
        $('#loading-animation').hide();
    }
</script>


{% endblock %}