{% extends 'base/base.html' %}
{% block navbar %}
    {% include 'base/navbar_payroll.html' %}               
{% endblock %}

{% load static %} 


{% block title %}
    Nomiweb.co - Aplicacion Contable - Home
{% endblock %}



{% block sub_titulo1 %} 
inicio
{% endblock %}

{% block sub_titulo2 %} 
inicio
{% endblock %}

{% block titulo2 %} 

{% endblock %}




{%block content%} 

    <a
        class='btn btn-light-info'
        up-layer='new modal'
        up-target=".modal-content"
        up-size = "medium"
        up-align = "center"
        up-backdrop = "true"
        up-history = "false"
        up-dismissable ="false"
        up-cache="false"
        href="{% url 'payroll:prueba_modal' %}">
        <i class="fa-solid fa-plus"></i> Nueva 

    </a> 

    <div id="mensaje-container"></div>
{% endblock content %}

