{% extends 'base/base.html' %}
{% block navbar %}
    {% include 'base/navbar_administrator.html' %}                
{% endblock %}

{% load crispy_forms_tags %}

{% block title %}
    Nomiweb.co - Administrador 
{% endblock %}


{% block css %}
{% endblock %}



{% block sub_titulo1 %} 
    Admin
{% endblock %}


{% block sub_titulo2 %} 
    Compañias
{% endblock %}




{% block titulo2 %} 
    Nueva compañia
{% endblock %}

{% block actions %}
    <!-- Button trigger modal -->


<button type="button" class="btn btn-primary me-10" id="kt_button_1" hx-get="{% url 'admin:companiescreate' %}" hx-target="#modal-container" hx-swap="innerHTML">
    <span class="indicator-label">
        <i class="fa-solid fa-user-plus"></i> Nueva Compañia
    </span>
    <span class="indicator-progress">
        Por favor espera... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
    </span>
</button>

{% endblock %}

{% block content %}
    
    <!-- Contenedor donde se cargará el modal -->
    <div id="modal-container"></div>


    <div class="separator my-10">
        <h3> Compañias </h3>
    </div>

    <div class="table-responsive">
        <table class="table table-row-bordered gy-5" id="tabla_compañias" >
            <thead>
                <tr class="fw-semibold fs-2 text-muted">
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>email</th>
                </tr>
            </thead>
            <tbody>
                {% for empresa in empresas %}
                    <tr>
                        <td>{{ empresa.idempresa }}</td>
                        <td>{{ empresa.nombreempresa }}</td>
                        <td>{{ empresa.email }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}


{% block js %}

<script>
    // Escucha el evento 'htmx:beforeRequest' para activar el indicador cuando el botón es presionado
    document.getElementById('kt_button_1').addEventListener('click', function() {
        // Activa el indicador de carga
        this.setAttribute('data-kt-indicator', 'on');
    });

    // Escucha el evento 'htmx:afterSwap' para desactivar el indicador después de que se haya cargado el contenido del modal
    document.body.addEventListener('htmx:afterSwap', (evt) => {
        if (evt.detail.target.id === 'modal-container') {
            // Encuentra el botón y quita el indicador de carga
            const button = document.getElementById('kt_button_1');
            if (button) {
                button.removeAttribute('data-kt-indicator');
            }
        }
    });
</script>

<script>
    // Escucha el evento 'htmx:afterSwap' para abrir el modal después de cargar el contenido
    document.body.addEventListener('htmx:afterSwap', (evt) => {
        const modalContainer = document.getElementById('conceptsModal');
        if (evt.detail.target.id === 'modal-container' && modalContainer) {
            new bootstrap.Modal(modalContainer).show();
        }
    });
    
</script>


<script>
    $(document).ready(function() {
        $('#tabla_compañias').DataTable({
            language: {
                "decimal":        "",
                "emptyTable":     "No hay datos disponibles en la tabla",
                "info":           "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty":      "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered":   "(filtrado de _MAX_ entradas totales)",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing":     "Procesando...",
                "search":         "Buscar:",
                "zeroRecords":    "No se encontraron registros coincidentes",
                "paginate": {
                    "first":      "Primero",
                    "last":       "Último",
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                },
                "aria": {
                    "sortAscending":  ": activar para ordenar la columna ascendente",
                    "sortDescending": ": activar para ordenar la columna descendente"
                }
            },
            order: [[0, 'des']],  
            "pageLength": 5,              
        });
    });
</script>


{% endblock %}

