{% extends 'base/base.html' %}
{% block navbar %}
    {% include 'base/navbar_administrator.html' %}                
{% endblock %}

{% load crispy_forms_tags %}

{% block title %}
    Nomiweb.co - Administrador 
{% endblock %}


{% block css %}
{% endblock %}



{% block sub_titulo1 %} 
    Admin
{% endblock %}


{% block sub_titulo2 %} 
    Compañias
{% endblock %}




{% block titulo2 %} 
    Nueva compañia
{% endblock %}

{% block actions %}
    <!-- Button trigger modal -->


{% comment %} <button type="button" class="btn btn-primary me-10" id="kt_button_1" hx-get="{% url 'admin:companiescreate' %}" hx-target="#modal-container" hx-swap="innerHTML">
    <span class="indicator-label">
        <i class="fa-solid fa-user-plus"></i> Nueva Compañia
    </span>
    <span class="indicator-progress">
        Por favor espera... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
    </span>

    


</button> {% endcomment %}

<a
        class='btn btn-light-info'

        up-layer='new modal'
        up-target=".modal-content"
        up-size = "large"
        up-align = "center"
        up-backdrop = "true"
        up-history = "false"
        up-dismissable ="false"
        up-cache="false"

        href="{% url 'admin:companiescreate' %}">
        <i class="fa-solid fa-plus"></i> Nueva Empresa
    </a>

{% endblock %}

{% block content %}
    
    <!-- Contenedor donde se cargará el modal -->
    <div id="modal-container"></div>


    <div class="separator my-10">
        <h3> Compañias </h3>
    </div>

    <div class="table-responsive">
        <table class="table table-row-bordered gy-5" id="tabla_compañias" >
            <thead>
                <tr class="fw-semibold fs-2 text-muted">
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>email</th>
                </tr>
            </thead>
            <tbody>
                {% for empresa in empresas %}
                    <tr>
                        <td>{{ empresa.idempresa }}</td>
                        <td>{{ empresa.nombreempresa }}</td>
                        <td>{{ empresa.email }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}


{% block js %}

<script>
    up.on('up:layer:accepted', function(event) {
        const location = event.response.header('X-Up-Location');
        const message  = event.response.header('X-Up-message');
        const icon     = event.response.header('X-Up-icon');


        if (location) {
            // Guardamos todo lo necesario en sessionStorage
            sessionStorage.setItem('showSuccessAlert', 'true');
            sessionStorage.setItem('swalMessage', message);
            sessionStorage.setItem('swalIcon', icon);

            window.location.href = location;
        }
    });

    window.addEventListener('DOMContentLoaded', function() {
        if (sessionStorage.getItem('showSuccessAlert') === 'true') {
            const message = sessionStorage.getItem('swalMessage');
            const icon = sessionStorage.getItem('swalIcon');

            // Limpiamos antes de mostrar (por si hay errores que impidan la alerta)
            sessionStorage.removeItem('showSuccessAlert');
            sessionStorage.removeItem('swalMessage');
            sessionStorage.removeItem('swalIcon');

            Swal.fire({
                text: message,
                icon: icon,
                showConfirmButton: true,
                confirmButtonText: "Ok",
                customClass: {
                    confirmButton: "btn btn-primary"
                },
                willOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer);
                    toast.addEventListener('mouseleave', Swal.resumeTimer);
                }
            });
        }
    });
</script>



<script>
    document.addEventListener('up:fragment:inserted', function(event) {

        const modalContent = up.layer?.current?.element;
        if (!modalContent) return;
        
        if (modalContent) {
            const selectElements = modalContent.querySelectorAll('[data-control="select2"]');
            
    
            // selector de tipo de 
            // Usamos un pequeño retraso para asegurar el renderizado completo
            setTimeout(() => {
                selectElements.forEach((select, index) => {
                    if (!select.id) {
                        select.id = `select2-unique-${Date.now()}-${index}`;
                    }
    
                    if (!$(select).data('select2')) {
                        const options = {
                            dropdownParent: $(modalContent),
                            width: '100%'
                        };
    
                        // Si tiene el atributo data-hide-search, desactiva el buscador
                        if (select.hasAttribute('data-hide-search')) {
                            options.minimumResultsForSearch = Infinity;
                            
                        }
    
                        $(select).select2(options);
                    }
                });
            }, 300); // Aumentamos un poco el tiempo para mayor seguridad
        }
        else 
        {
            console.log('Contenido completo del fragmento:', event.target.innerHTML);
        }
    });


</script>



<script>
    $(document).ready(function() {
        $('#tabla_compañias').DataTable({
            language: {
                "decimal":        "",
                "emptyTable":     "No hay datos disponibles en la tabla",
                "info":           "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty":      "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered":   "(filtrado de _MAX_ entradas totales)",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing":     "Procesando...",
                "search":         "Buscar:",
                "zeroRecords":    "No se encontraron registros coincidentes",
                "paginate": {
                    "first":      "Primero",
                    "last":       "Último",
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                },
                "aria": {
                    "sortAscending":  ": activar para ordenar la columna ascendente",
                    "sortDescending": ": activar para ordenar la columna descendente"
                }
            },
            dom: 'frtip',
            order: [[0, 'des']],  
            "pageLength": 5,              
        });
    });
</script>


{% endblock %}

