{% extends 'base/base.html' %}
{% block navbar %}
    {% include 'base/navbar_administrator.html' %}                
{% endblock %}
{% load crispy_forms_tags %}

{% block title %}
    Nomiweb.co - Administrador 
{% endblock %}


{% block css %}
{% endblock %}



{% block sub_titulo1 %} 
    Admin
{% endblock %}


{% block sub_titulo2 %} 
    Roles
{% endblock %}



{% block titulo2 %} 
    Nuevo rol
{% endblock %}



{% block content %}
<main  class="flex-grow-1">
    <div class="card shadow-sm">
        <div class="card-header">
            <h3 class="card-title">Nuevo rol</h3>
        </div>
        <div class="card-body">
            {% crispy form %}
        </div>
    </div>

    <div class="separator my-10">
        <h3> Roles </h3>
    </div>

    <div class="table-responsive">
        <table class="table table-row-bordered gy-5" id="tabla_compañias" >
            <thead>
                <tr class="fw-semibold fs-2 text-muted">
                    <th>Nombre</th> 
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
                {% for role in roles %}
                    <tr>
                        <td>{{ role.name }}</td>
                        <td>{{ role.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}


{% block js %}

<script>
    $(document).ready(function() {
        $('#tabla_compañias').DataTable({
            language: {
                "decimal":        "",
                "emptyTable":     "No hay datos disponibles en la tabla",
                "info":           "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty":      "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered":   "(filtrado de _MAX_ entradas totales)",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing":     "Procesando...",
                "search":         "Buscar:",
                "zeroRecords":    "No se encontraron registros coincidentes",
                "paginate": {
                    "first":      "Primero",
                    "last":       "Último",
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                },
                "aria": {
                    "sortAscending":  ": activar para ordenar la columna ascendente",
                    "sortDescending": ": activar para ordenar la columna descendente"
                }
            },
            order: [[0, 'des']],  
            "pageLength": 5,              
        });
    });
</script>


{% endblock %}

