{% extends 'base/base.html' %}
{% block navbar %}
    {% include 'base/navbar_administrator.html' %}                
{% endblock %}
{% load crispy_forms_tags %}

{% block title %}
    Nomiweb.co - Administrador 
{% endblock %}


{% block css %}
{% endblock %}



{% block sub_titulo1 %} 
    Admin
{% endblock %}


{% block sub_titulo2 %} 
    inicio
{% endblock %}



{% block titulo2 %} 
    Creacion de Usuario
{% endblock %}



{% block content %}
    {% crispy form %}
{% endblock %}


{% block js %}
{% endblock %}

