{% load crispy_forms_tags %}

<!-- Bootstrap-styled modal -->
<div class="modal-content2"  id="modal-content22">
    <div class="modal-header">
        <h3 class="modal-title">Detalle de Concepto</h3>
        <!--begin::Close-->
        <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" up-dismiss aria-label="Close">
            <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
        </div>
        <!--end::Close-->
    </div>   
    <div class="separator my-5"></div> 
    <!--begin::Input group-->        
    <div class="modal-body">
        <div class="container">
            {% csrf_token %}
            {% crispy form %}
        </div>

    </div>
    <div class="separator my-5"></div>
    <div class="modal-footer btn-group">
        <button type="button" class="btn btn-light-danger"  up-dismiss>Cancelar</button>
        <div style="width: 10px;"></div>
        <button type="submit" form="form_concepts" class="btn btn-primary">Actualizar</button>
    </div>
</div>




