<ol id="item-list"  class="list-group"> 
    {% for concepto in data.conceptos %}
        {% csrf_token %}
        <li id="item-{{ concepto.idn }}"  class="list-group-item">
            <div class="form-group row align-items-center" id="concepto-{{ concepto.idn }}">
                <div class="col-md-4 input-group-sm">
                    <select required class="form-select form-select-sm" data-control="select2" data-placeholder="Seleccione un Concepto" disabled id="select-{{ concepto.idn }}">
                        <option></option>
                        {% for id, nombre in data.conceptors %}
                            <option value="{{ id }}" {% if concepto.id == id %}selected{% endif %}>{{ nombre }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-2 input-group-sm">
                    <input type="text" class="form-control mb-2 mb-md-0" placeholder="Cantidad" value="{{ concepto.amount }}" disabled id="amount-{{ concepto.idn }}" />
                </div>
                <div class="col-md-3 input-group-sm">
                    <input type="text" class="form-control mb-2 mb-md-0" placeholder="Valor" value="{{ concepto.value }}" disabled id="value-{{ concepto.idn }}" />
                </div>

                <div class="col-md-3 d-flex align-items-center">
                    

                    <a  class="btn btn-icon btn-light-facebook me-2" 
                        up-target="#concepto-{{ concepto.idn }}"
                        up-emit="edit-concepto" 
                        data-idn="{{ concepto.idn }}">
                            <i class="fa-solid fa-pen-to-square fs-4"></i>
                    </a>

                    <a  class="btn btn-icon btn-light-success me-2" 
                        up-target="#concepto-{{ concepto.idn }}"
                        up-emit="save-concepto" 
                        data-idn="{{ concepto.idn }}" hidden>
                            <i class="fa-solid fa-save fs-4"></i>
                    </a>

                    <!-- Botón de eliminar -->
                    <button 
                    class="btn btn-icon btn-light-youtube me-2"
                    onclick="confirmDelete('{{ item.id }}')"
                    
                    >
                        <i class="ki-duotone ki-trash fs-4">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                            <span class="path4"></span>
                            <span class="path5"></span>
                        </i>
                    </button>



                </div>
            </div>
        </li>
    {% empty %}
        <li>
            El empleado aun no tiene novedades de nomina 
        </li>
    {% endfor %}
    
</ol>



