<!-- Modal: Abrir Nómina -->
<div class="modal-content" id="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Abrir Nómina</h3>
        <!--begin::Close-->
        <button type="button" class="btn btn-icon btn-sm btn-active-light-primary ms-2" up-dismiss aria-label="Cerrar">
            <i class="ki-duotone ki-cross fs-1">
                <span class="path1"></span><span class="path2"></span>
            </i>
        </button>
        <!--end::Close-->
    </div>

    <div class="separator my-5"></div>

    <!--begin::Body-->
    <div class="modal-body text-center">
        <p>
            Está a punto de abrir la nómina seleccionada. <br>
            Al realizar esta acción, la nómina quedará habilitada para realizar modificaciones, ajustes o nuevos movimientos. <br><br>
            Tenga en cuenta que <strong>todos los cambios realizados a partir de este momento quedarán registrados en el sistema como parte del historial de la nómina</strong>. <br><br>
            ¿Confirma que desea abrir la nómina?
        </p>

        <!-- 🔹 Formulario Unpoly para cierre de nómina -->
        <form id="change-status-form"
                method="POST"
                action="{% url 'payroll:payroll_open' id %}"
                up-target="#modal-content"
                up-mode="replace"
                up-layer="current"
                up-submit="{% url 'payroll:payroll_open' id %}"
                up-accept-location="{% url 'payroll:payroll_open' id %}"
                up-on-accepted="up.modal.close()">
            
            {% csrf_token %}
        </form>
    </div>
    <!--end::Body-->

    <div class="separator my-5"></div>

    <!--begin::Footer-->
    <div class="modal-footer btn-group justify-content-center">
        <button type="button" class="btn btn-light-danger" up-dismiss>Cancelar</button>
        <div style="width: 10px;"></div>
        <button type="submit" form="change-status-form" class="btn btn-light-info">
            <i class="fa-solid fa-lock-open me-2"></i> Abrir Nómina
        </button>
    </div>
    <!--end::Footer-->
</div>
