{% load crispy_forms_tags %}

<div class="container">
    <div class="row align-items-start">
        <!-- Columna del acordeón más pequeña -->
        <div class="col-md-4">
            <div class="accordion" id="kt_accordion_1">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="kt_accordion_1_header_1">
                        <button class="accordion-button fs-4 fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_1_body_1" aria-expanded="true" aria-controls="kt_accordion_1_body_1">
                            Datos de la Nómina
                        </button>
                    </h2>
                    <div id="kt_accordion_1_body_1" class="accordion-collapse collapse show" aria-labelledby="kt_accordion_1_header_1" data-bs-parent="#kt_accordion_1">
                        <div class="accordion-body">
                            <div class="text-center mb-4">
                                <p id="salary" class="d-flex justify-content-center">
                                    <strong>Salario:</strong><span id="salary-value" class="ms-2">{{data.salario}}</span>
                                </p>
                            </div>

                            <div class="text-center mb-4">
                                <p id="income" class="flex-fill text-center">
                                    <strong>Ingresos:</strong><span id="income-value" class="ms-2">Valor</span>
                                </p>
                            </div>

                            <div class="text-center mb-4">
                                <p id="discounts" class="flex-fill text-center">
                                    <strong>Descuentos:</strong><span id="discounts-value" class="ms-2">Valor</span>
                                </p>
                            </div>

                            <div class="text-center mb-4">
                                <p id="summation" class="flex-fill text-center">
                                    <strong>Total:</strong><span id="summation-value" class="ms-2">Valor</span>
                                </p>
                            </div>

                            <div class="text-center mb-4">
                                <button type="submit" id="add-row-btn" name="submit_direct" class="btn btn-light-info" value="" > <i class="fa-solid fa-square-plus fs-2"></i> Agregar Concepto </button>
                            </div>

                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <br>

        <!-- Columna de la tabla más grande -->
        <div class="scroll h-400px px-5 col-md-8">
            <form id="form_custom_payroll_concept" method="post" action="{% url 'payroll:payrollviewapi' %}">
                {% csrf_token %}
                {% comment %} <table id="kt_datatable_example" class="table table-row-bordered table-row-dashed gy-5 ">
                    <thead>
                        <tr class="fw-bold fs-6 text-gray-800">
                            <th class="text-center" >Nombre Concepto</th>
                            <th>Cantidad</th>
                            <th class="text-center" >Valor</th>
                            <th class="text-center" >Gestionar</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for concepto in  data.conceptos %}
                            <tr>
                                <td class="text-center">{{ concepto.codigo }}</td>
                                <td>
                                    <input type="number" class="form-control form-control-sm" name="cantidad" id="cantidad" value="{{ concepto.amount }}">
                                </td>
                                <td class="text-center">
                                    <input type="number" class="form-control form-control-sm " name="valor" id="valor" value="{{ concepto.value }}">
                                </td>
                                <td class="text-center">
                                    <input type="number" class="form-control form-control-sm" name="valor" id="valor" value="{{ concepto.value }}">
                                </td>
                            </tr> 
                        {% endfor %}
                            
                    </tbody>
                </table> {% endcomment %}
                {% for form in forms %}
                    <form method="post">
                        {% crispy form %}
                    </form>
                {% endfor %}
            </form> 
        </div> 
    </div>   
</div>