<!-- Modal: Cerrar Nómina -->
<div class="modal-content" id="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Cerrar Nómina</h3>
        <!--begin::Close-->
        <button type="button" class="btn btn-icon btn-sm btn-active-light-primary ms-2" up-dismiss aria-label="Cerrar">
            <i class="ki-duotone ki-cross fs-1">
                <span class="path1"></span><span class="path2"></span>
            </i>
        </button>
        <!--end::Close-->
    </div>

    <div class="separator my-5"></div>

    <!--begin::Body-->
    <div class="modal-body text-center">
        <p>
            Está a punto de cerrar la nómina actual. <br>
            Una vez cerrada, no podrá realizar más modificaciones ni ajustes. <br><br>
            ¿Confirma que desea proceder con el cierre de la nómina?
        </p>

        <!-- 🔹 Formulario Unpoly para cierre de nómina -->
        <form id="change-status-form"
                method="POST"
                action="{% url 'payroll:payroll_closet' id %}"
                up-target="#modal-content"
                up-mode="replace"
                up-layer="current"
                up-submit="{% url 'payroll:payroll_closet' id %}"
                up-accept-location="{% url 'payroll:payroll_closet' id %}"
                up-on-accepted="up.modal.close()">
            
            {% csrf_token %}
        </form>
    </div>
    <!--end::Body-->

    <div class="separator my-5"></div>

    <!--begin::Footer-->
    <div class="modal-footer btn-group justify-content-center">
        <button type="button" class="btn btn-light-danger" up-dismiss>Cancelar</button>
        <div style="width: 10px;"></div>
        <button type="submit" form="change-status-form" class="btn btn-light-info">
            <i class="fa-solid fa-lock me-2"></i> Cerrar Nómina
        </button>
    </div>
    <!--end::Footer-->
</div>
