{% load crispy_forms_tags %}

<!-- Bootstrap-styled modal -->
<div class="modal-content"  id="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Nuevo Reporte</h3>
        <!--begin::Close-->
        <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" up-dismiss aria-label="Close">
            <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
        </div>
        <!--end::Close-->
    </div>   
    <div class="separator my-5"></div> 
    <!--begin::Input group-->        
    <div class="modal-body">
        <form 
                id="form-fila-1"
                up-target="#item-list"
                up-submit="true"
                up-layer="current"
                up-mode="append"
                method="post"
                action="{% url 'payroll:vacation_settlement_add' %}"
            >
        {% csrf_token %}
        <div class="container">
            {% crispy form %}

            <div id="extra-section">
                
            
                <div class="table-responsive">
                    <table class="table table-rounded table-striped border table-sm text-center mx-auto w-auto" id="items-table">
                        <colgroup>
                            <col style="width: 140px;">
                            <col style="width: 130px;">
                            <col style="width: 130px;">
                            <col style="width: 65px;">
                            <col style="width: 65px;">
                            <col style="width: 65px;">
                            <col style="width: 110px;">
                            <col style="width: 110px;">
                            <col style="width: 110px;">
                            <col style="width: 110px;">
                            <col style="width: 60px;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Novedad</th>
                                <th>Fecha inicio</th>
                                <th>Fecha fin</th>
                                <th>Sabados</th>
                                <th>Días C</th>
                                <th>Días V</th>
                                <th>Base</th>
                                <th>Valor</th>
                                <th>Per. inicial</th>
                                <th>Per. fin</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody id="item-list">
                            {% for item in vacaciones_list %}
                            <tr>
                                <td>{{ item.tipovac.nombrevacaus }}</td>
                                <td>{{ item.fechainicialvac }}</td>
                                <td>{{ item.ultimodiavac }}</td>
                                <td class="text-end">{{ item.cuentasabados }}</td>
                                <td class="text-end">{{ item.diascalendario }}</td>
                                <td class="text-end">{{ item.diasvac }}</td>
                                <td class="text-end">{{ item.base }}</td>
                                <td class="text-end">{{ item.valor }}</td>
                                <td class="text-end">{{ item.perinicio }}</td>
                                <td class="text-end">{{ item.perfinal }}</td>
                                <td><span class="badge bg-success">G</span></td>
                            </tr>
                            {% endfor %}
                            
                            <!-- Fila nueva a agregar -->
                            <tr id="item-row-1">
                                <td>
                                    <select required id="novedad" name="novedad" class="form-select form-select-sm" data-control="select2" data-placeholder="Novedad">
                                        <option value=""></option>
                                        {% for id, nombre in data.conceptors %}
                                            <option value="{{ id }}">{{ nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </td>

                                <td><input type="text" id="fecha_inicio-1" name="fecha_inicio-1" class="form-control form-control-sm"  /></td>
                                <td><input type="text" id="fecha_fin-1" name="fecha_fin-1" class="form-control form-control-sm"  /></td>

                                <td class="text-center align-middle">
                                    <div class="form-check form-switch form-check-custom form-check-solid d-inline-flex justify-content-center align-items-center">
                                        <input id="sabados-1" name="sabados-1" class="form-check-input h-20px w-30px" type="checkbox" />  <!-- este dato es variable V -->
                                    </div>
                                </td>
    
                                <span id="resultado-dias-1">
                                    <td id="td-dias-c-1">
                                        <input type="text" id="dias_c-1" name="dias_c-1" class="form-control form-control-sm text-end" disabled />
                                    </td>
                                    <td id="td-dias-v-1">
                                        <input type="text" id="dias_v-1" name="dias_v-1" class="form-control form-control-sm text-end" disabled />
                                    </td>
                                </span>

                                <td><input type="text" id="base-1" name="base-1" class="form-control form-control-sm text-end" disabled /></td>
                                <td><input type="text" id="valor-1" name="valor-1" class="form-control form-control-sm text-end" disabled  /></td>

                                <td><input type="text" id="per-i-1" name="per-i-1" class="form-control form-control-sm text-end" disabled /></td>  <!-- este dato es variable  V -->
                                <td><input type="text" id="per-f-1" name="per-f-1" class="form-control form-control-sm text-end" disabled /></td> <!-- este dato es variable  V -->

                                <td>
                                    <button type="submit" class="btn btn-icon btn-light-twitter btn-sm" id="add-item-button-1">
                                        <i class="fa-solid fa-floppy-disk fs-6"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            

            </div>
          <!-- Formulario solo para la fila nueva -->

</form>
<!-- Fila ya guardadas fuera del formulario -->
<table class="table table-sm align-middle mt-2">
    <tbody id="item-list">
        
    </tbody>
</table>


        </div>

    </div>
    <div class="separator my-5"></div>

    <div class="modal-footer">
        <button type="button" class="btn btn-light-danger ms-auto" up-dismiss>Cerrar</button>
    </div>

</div>

