{% load crispy_forms_tags %}
{% load custom_filters %}
<!-- Bootstrap-styled modal -->
<div class="modal-content"  id="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Detalle {{ data.titulo }}</h3>
        <!--begin::Close-->
        <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" up-dismiss aria-label="Close">
            <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
        </div>
        <!--end::Close-->
    </div>   
    <div class="separator my-5"></div> 
    <!--begin::Input group-->        
    <div class="modal-body">
        <div class="container">
            
            {% if data.pass %}
            <table id='tabla-lista-novedad' class="table table-striped table-bordered text-center">
                <thead>
                    <tr>
                        <th>Novedad</th>
                        <th>Fecha Inicial</th>
                        <th>Ultimo Día</th>
                        <th>Días Cal</th>
                        <th>Pago</th>
                        <th>Id</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data.novedad %}
                        <tr>
                            <td>{{ item.tipovac }}</td>
                            <td>{{ item.fechainicialvac }}</td>
                            <td>{{ item.ultimodiavac }}</td>
                            <td>{{ item.diasvac }}</td>
                            <td>{{ item.pagovac|format_currency  }}</td>
                            <td>{{ item.idvacaciones }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <table id='tabla-lista-novedad' class="table table-striped table-bordered text-center">
                    <thead>
                        <tr>
                            <th>Novedad</th>
                            <th>Fecha Inicial</th>
                            <th>Ultimo Día</th>
                            <th>Días Cal</th>
                            <th>Días Vac</th>
                            <th>Pago</th>
                            <th>Periodo Ini</th>
                            <th>Periodo Fin</th>
                            <th>Id</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in data.novedad %}
                            <tr>
                                <td>{{ item.tipovac }}</td>
                                <td>{{ item.fechainicialvac }}</td>
                                <td>{{ item.ultimodiavac }}</td>
                                <td>{{ item.diascalendario }}</td>
                                <td>{{ item.diasvac }}</td>
                                <td>{{ item.pagovac }}</td>
                                <td>{{ item.perinicio }}</td>
                                <td>{{ item.perfinal }}</td>
                                <td>{{ item.idvacaciones }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            
            
        </div>
    </div>
   
    <div class="separator my-5"></div>

    <div class="modal-footer">
        <button type="button" class="btn btn-light-danger ms-auto" up-dismiss>Cerrar</button>
    </div>


</div>

