
{% load crispy_forms_tags %}
<!-- Modal -->
<div class="modal fade" id="conceptsModal" name="conceptsModal" tabindex="-1" aria-labelledby="conceptsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-dialog-scrollable modal-lg">
        <div class="modal-content" id="modal-container">
            <div class="modal-header">
                <h5 class="modal-title" id="conceptsModalLabel">Nuevo Centro de Costos</h5>
                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close" onclick="closeModal()" >
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>
            <div class="modal-body">
                {% csrf_token %}
                {% crispy form %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal" onclick="closeModal()" >Cerrar</button>
                <button type="submit" form="form_costcenter" class="btn btn-primary">Crear</button>
            </div>
        </div>
    </div>
</div>


<script>

function closeModal(reload = false) {
    var modals = document.querySelectorAll('.modal.show');
    var backdrops = document.querySelectorAll('.modal-backdrop');

    modals.forEach(modalEl => {
        var modal = bootstrap.Modal.getInstance(modalEl);
        if (modal) {
            modal.hide();
        }
    });

    backdrops.forEach(backdrop => backdrop.remove());

    // Limpiar el contenido del modal si aplica
    document.getElementById('modal-container').innerHTML = '';

    // Recargar la página si se solicita
    if (reload) {
        window.location.reload();
    }
} 
    

$(document).ready(function () {
    // Inicializa Select2 para los campos
    $('#id_grupocontable').select2({
        dropdownParent: $('#conceptsModal'),
        minimumResultsForSearch: -1,
        
    });

});


document.body.addEventListener('htmx:afterRequest', function(evt) {
    if (evt.detail.successful) {
        var response = evt.detail.xhr.responseText;
        // Verificar si la respuesta es un JSON con estado de éxito
        try {
            var responseJson = JSON.parse(response);
            if (responseJson.status === 'success') {
                var modal = bootstrap.Modal.getInstance(document.getElementById('conceptsModal'));
                var modalBackdrop = document.querySelector('.modal-backdrop');
                
                if (modal) {
                    modal.hide(); // Cierra el modal después de una respuesta exitosa
                }
                if (modalBackdrop) {
                    modalBackdrop.remove(); // Elimina el fondo modal residual
                }
                // Mostrar el Swal de éxito
                Swal.fire({
                    text: responseJson.message, // Mensaje de éxito
                    icon: "success",  
                    showConfirmButton: true,
                    confirmButtonText: "Ok",
                    customClass: {
                        confirmButton: "btn btn-primary"
                    }
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.reload();  // Recarga la página
                    }
                });

            } else {
                
            }
        } catch (e) {
            
        }
    }
});
</script>