{% if compect.estado == 'Enviado' %}
    <a class="btn btn-icon btn-light-success btn-sm" title="Enviado">
        <i class="fa-solid fa-envelope-circle-check fs-1"></i>
    </a>
{% elif compect.estado == 'Error' %}
    <a class="btn btn-icon btn-light-danger btn-sm" title="Error">
        <i class="fa-solid fa-circle-exclamation fs-1"></i>
    </a>
{% else %}
    <a 
        up-method="post"
        up-target="[data-estado='{{ compect.nominaid }}-{{ compect.contratoid }}']"
        href="{% url 'companies:unique_mail' compect.nominaid compect.contratoid %}"
        class="btn btn-icon btn-light-warning btn-sm send-email-btn"
        title="No Enviado">
        <i class="fa-regular fa-paper-plane fs-1"></i>
        <span class="btn-text">Enviando...</span>
    </a>
{% endif %}