{% load custom_filters %}
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Novedad</th>
            {% if vacaciones.tipovac.nombrevacaus == 'Vacaciones Compensadas' %}
                <th>Fecha de Pago</th>
            {% else %}
                <th>Fecha inicial</th>
                <th>Ultimo dia</th>
            {% endif %}
            <th>Dias Cal</th>
            <th>Dias Vac</th>
            <th>Pago</th>
            <th>Periodo Ini</th>
            <th>Periodo Fin</th>
            <th>Id</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ vacaciones.tipovac }}</td>
            {% if vacaciones.tipovac.nombrevacaus == 'Vacaciones Compensadas' %}
                <td>{{ vacaciones.fechapago|date:"d-m-Y" }}</td>
            {% else %}
                <td>{{ vacaciones.fechainicialvac|date:"d-m-Y" }}</td>
                <td>{{ vacaciones.ultimodiavac|date:"d-m-Y" }}</td>
            {% endif %}
            <td>{{ vacaciones.diascalendario }}</td>
            <td>{{ vacaciones.diasvac }}</td>
            <td>{{ vacaciones.pagovac|format_currency }}</td>
            <td>{{ vacaciones.perinicio|date:"d-m-Y" }}</td>
            <td>{{ vacaciones.perfinal|date:"d-m-Y" }}</td>
            <td>{{ vacaciones.idvacaciones }}</td>
        </tr>
    </tbody>
</table>



