{% extends 'base/base_employees.html' %}

{% block title %} Nomiweb.co - Portal Empleados -
Certificaciones Laborales 
{% endblock %} 



{% block content %}

    <h3 class="text-center" >SOLICITUD DE CERTIFICACION LABORAL</h3>


    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <!-- Aquí puedes colocar tu formulario -->
                        <form method="get">
                            <div class="input-group input-group-sm mb-5"> 
                        
                                <div class="input-group input-group-sm mb-5"  onchange="cargarContratos()"  data-placeholder="Seleccione una opción"  aria-label="Seleccione un Contrato:">
                                    <select name="contrato" id="contrato" class="form-select"  >
                                        <option value="">----------------</option>
                                        {% for contrato in contratos %}
                                            <option value="{{ contrato.idcontrato }}" {% if contrato.idcontrato|stringformat:"s" == selected_empleado %}selected{% endif %} >
                                                {{ contrato.cc }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            
                            </div>
                        </form>

                        {% if select %}
                        <form method="post" action="{% url 'companies:generateworkcertificate'%}" target="_blank" >
                            {% csrf_token %}
                            <div class="input-group input-group-sm mb-5">
                                <input type="text" name="data_input" id="data_input" class="form-control" aria-label="A quien va dirigida la certificación"   placeholder="A quien va dirigida la certificación"  >
                                <input type="hidden" name="contrato" value="{{ selected_empleado }}">
                            </div>
                            <div class="input-group input-group-sm mb-5">
                                <select class="form-select" aria-label="Select example" name="data_model" id="data_model" required>
                                    <option value="" disabled selected>Escoja el tipo de certificado</option>
                                    {% for key, value in select_data.items %}
                                        <option value="{{ key }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                            <button type="submit" class="btn btn-primary" >Generar</button>
                        </form>
                        {% endif %}





                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="separator my-10"></div>
    <div  class="table-responsive">
        <table id='tabla-certi-work' class="table table-striped table-bordered">
            <thead>
                <tr>
                <th>Destino</th>
                <th>Fecha</th>
                <th>Salario</th>
                <th>Cargo</th>
                <th>Tipo contrato</th>
                <th>Promedio variable</th>
                <th> 
                    <div class="btn btn-icon btn-sm btn-light-facebook me-5 container d-flex justify-content-center align-items-center  ">
                        <i class="fa-solid fa-certificate fs-3"></i>
                    </div>
                </th>
                </tr>
            </thead>
            <tbody>
                {% for certificacione in certificaciones %}
                    <tr>
                        <td>{{ certificacione.destino }}</td>
                        <td>{{ certificacione.fecha |date:'d-m-Y' }}</td>
                        <td>{{ certificacione.Salario }}</td>
                        <td>{{ certificacione.cargo }}</td>
                        <td>{{ certificacione.tipo }}</td>
                        <td>{{ certificacione.promedio }}</td>
    
                        <td>
                            <a href="{% url 'companies:certificatedownload' idcert=certificacione.idcert %}" class="btn btn-icon btn-sm btn-light-facebook me-2 container d-flex justify-content-center align-items-center " data-bs-toggle="tooltip" data-bs-placement="top" title="Descargar Certificado" target="_blank"  >
                                <i class="fa-solid fa-file-arrow-down fs-3"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                
    
        </table>
    </div>


{% endblock %}

{% block js %}
<script>
    function cargarContratos() {
        var contratoSelect = document.getElementById('contrato');
        var contratoId = contratoSelect.value;
        window.location.href = `?contrato=${contratoId}`;
    }
</script>


<script>
    $(document).ready(function() {
        $('#tabla-certi-work').DataTable({
            language: {
                "decimal":        "",
                "emptyTable":     "No se encontraron Certificados para este Contrato",
                "info":           "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty":      "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered":   "(filtrado de _MAX_ entradas totales)",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing":     "Procesando...",
                "search":         "Buscar:",
                "zeroRecords":    "No se encontraron registros coincidentes",
                "paginate": {
                    "first":      "Primero",
                    "last":       "Último",
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                },
                "aria": {
                    "sortAscending":  ": activar para ordenar la columna ascendente",
                    "sortDescending": ": activar para ordenar la columna descendente"
                }
            },
            dom: 'frtip',
            order: [[2, 'asc']], 
            "pageLength": 10,                
        });
    });
</script>
{% endblock %}