{% extends 'base/base.html' %}
{% block navbar %}
    {% include 'base/navbar_employees.html' %}               
{% endblock %}

{% block title %} Nomiweb.co - Portal Empleados -
Certificaciones Laborales 
{% endblock %} 

{% block sub_titulo1 %} 
Certificaciones
{% endblock %}

{% block sub_titulo2 %} 
Certificaciones Laborales
{% endblock %}

{% block titulo2 %} 

{% endblock %}



{% block content %}

    <h3 class="text-center" >Certificaciones Laborales</h3>




    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        
                        {% if cont < 2 %}
                        <h5 class="card-title">Su Contrato ha sido seleccionado</h5>
                        <!-- Lógica para cuando contratos está vacío -->
                        <div class="input-group  mb-5" data-placeholder="Seleccione una opción"  aria-label="Seleccione un Contrato:">
                            <select name="contrato" id="contrato" class="form-select"  disabled >
                                {% for contrato in contratos %}
                                    <option value="{{ contrato.idcontrato }}" {% if contrato.idcontrato|stringformat:"s" == selected_empleado %}selected{% endif %} >
                                        {{ contrato.cc }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    {% else %}
                        <!-- Aquí puedes colocar tu formulario -->
                        <h5 class="card-title">Seleccione un Contrato</h5>
                        <form method="get">
                            <div class="input-group mb-5"  onchange="cargarContratos()"  data-placeholder="Seleccione una opción"  aria-label="Seleccione un Contrato:">
                                <select name="contrato" id="contrato" class="form-select" data-control="select2" data-hide-search="true" >
                                    <option></option>
                                    {% for contrato in contratos %}
                                        <option value="{{ contrato.idcontrato }}" {% if contrato.idcontrato|stringformat:"s" == selected_empleado %}selected{% endif %} >
                                            {{ contrato.cc }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                    {% endif %}


                    {% if select %}
                    <form  id="generateForm" method="post" action="{% url 'employees:generateworkcertificate'%}" target="_blank" >
                        {% csrf_token %}
                        <div class="row mb-5">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" name="data_input" id="data_input" class="form-control" 
                                           aria-label="A quien va dirigida la certificación" 
                                           placeholder="A quien va dirigida la certificación" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <select class="form-select"  name="data_model" id="data_model" 
                                            data-control="select2" data-hide-search="true" data-placeholder="Escoja el tipo de certificado"  required>
                                            <option></option>
                                            {% for key, value in select_data.items %}
                                                <option value="{{ key }}">{{ value }}</option>
                                            {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        
                        <input type="hidden" name="contrato" value="{{ selected_empleado }}">
                        <button type="submit" class="btn btn-light-info hover-elevate-up" onclick="submitForm()" >Generar</button>
                    </form>
                    {% endif %}






                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="separator my-10"></div>
    <div  class="table-responsive">
        <table id='tabla-certi-work' class="table table-striped table-bordered">
            <thead>
                <tr>
                <th class="text-center" >Destino</th>
                <th class="text-center" >Fecha</th>
                <th class="text-center" >Salario</th>
                <th class="text-center" >Cargo</th>
                <th class="text-center" >Tipo contrato</th>
                <th class="text-center" >Promedio variable</th>
                <th class="text-center" > 
                    <div class="btn btn-icon btn-sm btn-light-facebook me-5 container d-flex justify-content-center align-items-center  ">
                        <i class="fa-solid fa-certificate fs-3"></i>
                    </div>
                </th>
                </tr>
            </thead>
            <tbody>
                {% for certificacione in certificaciones %}
                    <tr>
                        <td class="text-center" >{{ certificacione.destino }}</td>
                        <td class="text-center" >{{ certificacione.fecha |date:'d-m-Y' }}</td>
                        <td class="text-center" >{{ certificacione.Salario }}</td>
                        <td class="text-center" >{{ certificacione.cargo }}</td>
                        <td class="text-center" >{{ certificacione.tipo }}</td>
                        <td class="text-center" >{{ certificacione.promedio }}</td>
    
                        <td class="text-center" >
                            <a href="{% url 'employees:certificatedownload' idcert=certificacione.idcert %}" class="btn btn-icon btn-sm btn-light-facebook me-2 container d-flex justify-content-center align-items-center " data-bs-toggle="tooltip" data-bs-placement="top" title="Descargar Certificado" target="_blank"  >
                                <i class="fa-solid fa-file-arrow-down fs-3"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                
    
        </table>
    </div>


{% endblock %}

{% block js %}
<script>
    function cargarContratos() {
        var contratoSelect = document.getElementById('contrato');
        var contratoId = contratoSelect.value;
        window.location.href = `?contrato=${contratoId}`;
    }
</script>

<script>
    function submitForm() {
        // Aquí puedes agregar lógica para validar el formulario si es necesario
        document.getElementById('generateForm').submit(); // Envía el formulario
        location.reload(); // Recarga la página después de enviar
    }
</script>

<script>
    $(document).ready(function() {
        $('#tabla-certi-work').DataTable({
            language: {
                "decimal":        "",
                "emptyTable":     "No tiene certificados para este contrato o no ha seleccionado un contrato.",
                "info":           "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty":      "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered":   "(filtrado de _MAX_ entradas totales)",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing":     "Procesando...",
                "search":         "Buscar:",
                "zeroRecords":    "No se encontraron registros coincidentes",
                "paginate": {
                    "first":      "Primero",
                    "last":       "Último",
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                },
                "aria": {
                    "sortAscending":  ": activar para ordenar la columna ascendente",
                    "sortDescending": ": activar para ordenar la columna descendente"
                }
            },
            dom: 'frtip',
            order: [[1, 'asc']], 
            "pageLength": 10,                
        });
    });
</script>
{% endblock %}