{% extends 'base/base_employees.html' %}

{% block title %} Nomiweb.co - Portal Empleados -
Certificaciones Laborales 
{% endblock %} 
{% block css %} 
{% endblock %} 
{% block content %}
{% block cssarch %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

<h3 class="text-center" >Lista de Nominas</h3>

        
        <div class="table-responsive">
            <table class="table table-rounded table-striped border gy-7 gs-7">
                <thead>
                    <tr>
                    <th width="200">IDNOMINA</th>
                    <th width="200">NominaPRO</th>
                    <th width="200">Contrato</th>
                    <th width="150">Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for e in nominas %}
                    <tr>
                        <td>{{ e.idnomina.idnomina }}</td>
                        <td>{{ e.idcontrato }}</td>
                        <td>{{ e.idnomina.nombrenomina }}</td>
                        <td><a class="button warning" href="{% url 'employees_app:genera-comprobante' e.idnomina.idnomina e.idcontrato %}" target="_blank" class="btn btn-sm btn-success">Ver</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
{% endblock content %}