{% extends 'base.html' %}

{% block content %}
{% include "includes/header.html" %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">LISTA DE NOMINAS </h1>
        
        <div class="cell">
            <table>
                <thead>
                    <tr>
                    <th width="200">IDNOMINA</th>
                    <th width="200">NominaPRO</th>
                    <th width="200">Contrato</th>
                    <th width="150">Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for e in nominas %}
                    <tr>
                        <td>{{ e.idnomina.idnomina }}</td>
                        <td>{{ e.idcontrato }}</td>
                        <td>{{ e.idnomina.nombrenomina }}</td>
                        <td><a class="button warning" href="{% url 'comprobantes_app:genera-comprobante' e.idnomina.idnomina e.idcontrato %}" target="_blank" class="btn btn-sm btn-success">Ver</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}