{% extends 'base/base.html' %}
{% block navbar %}
    {% include 'base/navbar_employees.html' %}               
{% endblock %}


{% block title %} Nomiweb.co - Portal Empleados - Desprendibles de nomina

{% endblock %} 

{% block css %} 
{% endblock %} 


{% block sub_titulo1 %} 
    Nomina
{% endblock %}

{% block sub_titulo2 %} 
    Desprendibles 
{% endblock %}

{% block titulo2 %} 
    
{% endblock %}


{% block content %}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <!-- Aquí puedes colocar tu formulario -->
                    {% if cont < 2 %}
                        <h5 class="card-title">Su Contrato ha sido seleccionado automaticamente</h5>
                        <!-- Lógica para cuando contratos está vacío -->
                        <select name="contrato" id="contrato" class="form-select" disabled >
                            {% for contrato in contratos %}
                                <option value="{{ contrato.idcontrato }}" {% if contrato.idcontrato|stringformat:"s" == selected_empleado %}selected{% endif %} >
                                    {{ contrato.cc }}
                                </option>
                            {% endfor %}
                        </select>
                        

                    {% else %}
                    <h5 class="card-title">Seleccione un Contrato</h5>
                        <!-- Lógica para cuando contratos no está vacío -->
                        <form method="get">
                            
                            <div class="input-group input-group-sm mb-5"> 
                                <div class="input-group input-group-sm mb-5"  onchange="cargarContratos()"  data-placeholder="Seleccione una opción"  aria-label="Seleccione un Contrato:">
                                    <select name="contrato" id="contrato" class="form-select"  >
                                        <option value="">----------------</option>
                                        {% for contrato in contratos %}
                                            <option value="{{ contrato.idcontrato }}" {% if contrato.idcontrato|stringformat:"s" == selected_empleado %}selected{% endif %} >
                                                {{ contrato.cc }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            
                            </div>
                        
                        </form>
                    {% endif %}
                    
                    <!-- fin de formulario get  -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="separator my-10"></div>

<h3 class="text-center" >Lista de Nominas</h3>

        
        <div class="table-responsive">
            <table class="table table-rounded table-striped border gy-7 gs-7" id='tabla-certi-nomi'>
                <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">Nomina</th>
                        <th class="text-center">Fecha</th>
                        <th class="text-center"> 
                            <div class="btn btn-icon btn-sm btn-light-facebook me-5 container d-flex justify-content-center align-items-center  ">
                                <i class="fa-solid fa-certificate fs-3"></i>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for e in nominas %}
                    <tr>
                        <td class="text-center" >{{ e.idnomina.idnomina }}</td>
                        <td class="text-center" >{{ e.idnomina.nombrenomina }}</td>
                        <td class="text-center" >{{ e.idnomina.fechapago |date:'d-m-Y' }}</td>
                        <td class="text-center" >
                            <a href="{% url 'employees:generatepayrollcertificate' e.idnomina.idnomina e.idcontrato.idcontrato %}" class="btn btn-icon btn-sm btn-light-facebook me-2 container d-flex justify-content-center align-items-center " data-bs-toggle="tooltip" data-bs-placement="top" title="Descargar Certificado" target="_blank"  >
                                <i class="fa-solid fa-file-arrow-down fs-3"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
{% endblock %}


{% block js %}
<script>
    function cargarContratos() {
        var contratoSelect = document.getElementById('contrato');
        var contratoId = contratoSelect.value;
        window.location.href = `?contrato=${contratoId}`;
    }
</script>


<script>
    $(document).ready(function() {
        $('#tabla-certi-nomi').DataTable({
            language: {
                "decimal":        "",
                "emptyTable":     "No tiene certificados para este contrato o no ha seleccionado un contrato.",
                "info":           "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty":      "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered":   "(filtrado de _MAX_ entradas totales)",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing":     "Procesando...",
                "search":         "Buscar:",
                "zeroRecords":    "No se encontraron registros coincidentes",
                "paginate": {
                    "first":      "Primero",
                    "last":       "Último",
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                },
                "aria": {
                    "sortAscending":  ": activar para ordenar la columna ascendente",
                    "sortDescending": ": activar para ordenar la columna descendente"
                }
            },
            dom: 'frtip',
            order: [[0, 'des']], 
            "pageLength": 6,
            searching: false                
        });
    });
</script>
{% endblock %}