
{% extends 'base/base_employees.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Nomiweb.co - Portal Empresas 
{% endblock %}


{% block nav %}
    {% include 'base/navbar_employees.html' %}
{% endblock %}

{% block css %}
{% endblock %}


{% block sub_titulo1 %} 
Usuario
{% endblock %}

{% block sub_titulo2 %} 
Editar Datos 
{% endblock %}

{% block titulo2 %} 
    
{% endblock %}



{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-end">
        <a href="{% url 'employees:user'  %}" class="btn btn-secondary hover-scale">
            <i class="ki-duotone ki-entrance-right fs-2qx ">
            <span class="path1"></span>
            <span class="path2"></span>
            </i>
        </a>
    </div>
</div>
<br>
<div class="card mb-5 mb-xxl-8">
    <div class="card-body pt-9 pb-0">
        {% crispy form %}
        <br>
    </div>
</div>

<!-- Espacio para la vista previa de la foto capturada desde la cámara -->
<!-- Modal para la captura de imagen desde la cámara -->
<div class="modal fade" id="cameraModal" tabindex="-1" role="dialog" aria-labelledby="cameraModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cameraModalLabel">Captura de Foto desde la Cámara</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="camera-preview"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button id="capture-button" type="button" class="btn btn-primary">Capturar Imagen</button>
            </div>
        </div>
    </div>
</div>

<!-- Botón para capturar foto desde la cámara -->
<button id="open-camera-modal" class="btn btn-info">Abrir Cámara</button>

{% endblock %}

{% block js %}

<script>
    // Obtener referencia al botón de abrir modal
    const openCameraModalButton = document.getElementById('open-camera-modal');
    
    // Añadir evento de click para abrir el modal
    openCameraModalButton.addEventListener('click', () => {
        $('#cameraModal').modal('show');  // Mostrar el modal de la cámara
    });
    
    // Función para manejar la captura de imagen desde la cámara
    const handleCaptureImage = async () => {
        try {
            // Obtener acceso a la cámara del usuario
            const stream = await navigator.mediaDevices.getUserMedia({ video: true });
            
            // Mostrar la vista previa de la cámara en un video element
            const videoElement = document.createElement('video');
            videoElement.srcObject = stream;
            videoElement.autoplay = true;
            
            // Agregar el video element al preview div
            const cameraPreview = document.getElementById('camera-preview');
            cameraPreview.innerHTML = '';
            cameraPreview.appendChild(videoElement);
            
            // Función para capturar la imagen
            const captureImage = () => {
                const canvas = document.createElement('canvas');
                canvas.width = videoElement.videoWidth;
                canvas.height = videoElement.videoHeight;
                canvas.getContext('2d').drawImage(videoElement, 0, 0);
                
                // Convertir la imagen capturada en base64
                const imageDataURL = canvas.toDataURL('image/png');
                
                // Actualizar la imagen en el formulario (opcional)
                const hiddenInput = document.createElement('input');
                hiddenInput.type = 'hidden';
                hiddenInput.name = 'profile_picture';
                hiddenInput.value = imageDataURL;
                const form = document.querySelector('form');
                form.appendChild(hiddenInput);
                
                // Detener el stream de la cámara
                stream.getTracks().forEach(track => track.stop());
                
                // Cerrar el modal de la cámara
                $('#cameraModal').modal('hide');
                
                // Eliminar el video preview
                cameraPreview.innerHTML = '';
            };
            
            // Botón para capturar la imagen
            const captureImageButton = document.getElementById('capture-button');
            captureImageButton.addEventListener('click', captureImage);
            
        } catch (error) {
            console.error('Error al acceder a la cámara:', error);
        }
    };
    
    // Añadir evento de click al botón de captura de imagen
    const captureButton = document.getElementById('capture-button');
    captureButton.addEventListener('click', handleCaptureImage);
</script>


{% endblock %}

