
{% extends 'base/base.html' %}
{% block navbar %}
    {% include 'base/navbar_employees.html' %}               
{% endblock %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Nomiweb.co - Portal Empleados - Edit Usuario
{% endblock %}


{% block nav %}
    {% include 'base/navbar_employees.html' %}
{% endblock %}

{% block css %}
{% endblock %}


{% block sub_titulo1 %} 
Usuario
{% endblock %}

{% block sub_titulo2 %} 
Editar Datos 
{% endblock %}

{% block titulo2 %} 
    
{% endblock %}

{% block actions %}
    <a href="{% url 'employees:user'  %}" class="btn btn-light-primary">
        Regresar
        <i class="ki-duotone ki-exit-left fs-2x">             
            <span class="path1"></span>
            <span class="path2"></span>
        </i>
    </a>
{% endblock %}



{% block content %}
<div class="card mb-5 mb-xxl-8">
    <div class="card-body pt-9 pb-0">
        {% crispy form %}
    </div>
</div>
<div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-light-info" form="form_editemployees" >
        Actualizar
        <i class="ki-duotone ki-save fs-2x">             
            <span class="path1"></span>
            <span class="path2"></span>
        </i>
    </button>
</div>







<!-- manejo la captura desde la cámara -->
<!-- <button id="open-camera-modal" class="btn btn-info">Abrir Cámara</button> -->

<!-- Modal para la captura de imagen desde la cámara -->
<!-- <div class="modal fade" tabindex="-1" id="kt_modal_1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Captura de Foto desde la Cámara</h3>
                <button type="button" class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki ki-close icon-xs"></i>
                </button>
            </div>
            <div class="modal-body">
                <div id="camera-preview" class="text-center">
                    <video id="camera-stream" class="w-100"></video>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                <button id="capture-button" type="button" class="btn btn-primary">Capturar Imagen</button>
            </div>
        </div>
    </div>
</div> -->

<!-- Botón para capturar foto desde la cámara -->


{% endblock %}

{% block js %}


<!-- Script para manejar la captura desde la cámara -->
<script>
    const uploadUrl = "{% url 'employees:user' %}";
    // Variables globales para la cámara y el stream
    let videoElement = null;
    let stream = null;

    
    // Obtener referencia al botón de abrir modal
    const openCameraModalButton = document.getElementById('open-camera-modal');

    // Añadir evento de click para abrir el modal
    openCameraModalButton.addEventListener('click', () => {
        $('#kt_modal_1').modal('show');  // Mostrar el modal de la cámara
        startCamera(); // Iniciar la cámara al abrir el modal
    });
    
    // Función para iniciar la cámara
    const startCamera = async () => {
        try {
            // Obtener acceso a la cámara del usuario
            stream = await navigator.mediaDevices.getUserMedia({ video: true });
            
            // Mostrar la vista previa de la cámara en un video element
            videoElement = document.getElementById('camera-stream');
            videoElement.srcObject = stream;
            videoElement.autoplay = true;
            videoElement.className = 'w-100'; // Ajuste del tamaño del video
        } catch (error) {
            console.error('Error al acceder a la cámara:', error);
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'No se pudo acceder a la cámara.',
            });
        }
    };
    
    // Función para detener la cámara
    const stopCamera = () => {
        if (stream) {
            stream.getTracks().forEach(track => track.stop());
        }
    };
    
    // Función para manejar la captura de imagen desde la cámara
    const handleCaptureImage = async () => {
        try {
            if (!stream) {
                console.error('No hay acceso a la cámara.');
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'No hay acceso a la cámara.',
                });
                return;
            }
            
            // Capturar la imagen desde el video
            const canvas = document.createElement('canvas');
            canvas.width = videoElement.videoWidth;
            canvas.height = videoElement.videoHeight;
            canvas.getContext('2d').drawImage(videoElement, 0, 0, canvas.width, canvas.height);
            
            // Convertir la imagen capturada en base64
            const imageDataURL = canvas.toDataURL('image/png');
            
            // Actualizar el campo oculto en el formulario con la imagen capturada
            const hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
            hiddenInput.name = 'profile_picture';
            hiddenInput.value = imageDataURL;
            document.getElementById('edit-employee-form').appendChild(hiddenInput);
            
            // Detener la cámara y cerrar el modal
            stopCamera();
            $('#kt_modal_1').modal('hide'); // Ocultar el modal de la cámara
            
            // Mostrar alerta de éxito
            Swal.fire({
                icon: 'success',
                title: '¡Imagen Capturada!',
                showConfirmButton: false,
                timer: 1500
            });
            
            // Limpiar la vista previa de la cámara
            document.getElementById('camera-preview').innerHTML = '';
        } catch (error) {
            console.error('Error al capturar la imagen:', error);
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Hubo un error al capturar la imagen.',
            });
        }
    };

    // Añadir evento de click al botón de captura de imagen
    const captureButton = document.getElementById('capture-button');
    captureButton.addEventListener('click', handleCaptureImage);
    
    // Función para cerrar el modal y detener la cámara al cerrar el modal
    $('#kt_modal_1').on('hidden.bs.modal', function () {
        stopCamera();
    });
</script>


{% endblock %}

