{% extends 'base/base_employees.html'%} 
{% load static %} 

{% block titulo %}
Pagina de inicio sistema empleados 
{% endblock titulo%} 

{% block sub_titulo1 %} 
inicio
{% endblock %}

{% block sub_titulo2 %} 
inicio
{% endblock %}

{% block titulo2 %} 

{% endblock %}




{%block content%} 



<!-- Bloque de bienvenida -->
<div class="grid-x align-center">
    <h1 class="cell large-8" style="font-size: 25px; text-align: center;">Bienvenido al sistema de empleados</h1>
    <div class="cell large-7">
        <div class="callout success">
            <h5> Registra y controla empleados</h5>
            <p> Esta aplicación de prueba es parte del curso de Django y python con el cual quiero aprender a utilizar Django para programar sitios web dinamicos y aplicaciones rapidas y seguras que soluciones problemas a empresas y personas.</p> 
        </div>
    </div>
    
</div>
<!-- Fin bloque de Bienvenida -->

{% endblock content %}