
{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Nomiweb.co - Portal Empresas 
{% endblock %}


{% block nav %}
    {% include 'base/navbar_employees.html' %}
{% endblock %}

{% block css %}
{% endblock %}


{% block sub_titulo1 %} 
Usuario
{% endblock %}

{% block sub_titulo2 %} 
Cambio de Contraseña
{% endblock %}


{% block titulo2 %} 
{% endblock %}



{% block content %}
<div class="card mb-5 mb-xxl-8">
    <div class="card-body pt-9 pb-0">
        {% crispy form %}
        <br>
    </div>
</div>
    
{% endblock %}

{% block js %}

{% endblock %}

