
{% extends 'base/base.html' %}
{% block navbar %}
    {% include 'base/navbar_employees.html' %}               
{% endblock %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Nomiweb.co - Portal Empleado - Nueva Contraseña
{% endblock %}


{% block nav %}
    {% include 'base/navbar_employees.html' %}
{% endblock %}

{% block css %}
{% endblock %}


{% block sub_titulo1 %} 
Usuario
{% endblock %}

{% block sub_titulo2 %} 
Cambio de Contraseña
{% endblock %}


{% block titulo2 %} 
{% endblock %}



{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-end">
        <a href="{% url 'employees:user'  %}" class="btn btn-secondary hover-scale">
            <i class="ki-duotone ki-entrance-right fs-2qx ">
            <span class="path1"></span>
            <span class="path2"></span>
            </i>
        </a>
    </div>
</div>
<br>
<div class="card mb-5 mb-xxl-8">
    <div class="card-body pt-9 pb-0">
        {% crispy form %}
        <br>
    </div>
</div>
    
{% endblock %}

{% block js %}

{% endblock %}

