{% extends 'base/base_employees.html' %}

{% load crispy_forms_tags %}

{% block title %}
Nomiweb.co - Portal Empleados - Solicitud de Vacaciones / Licencias
{% endblock %}


{% block sub_titulo1 %}
Vacaciones y Licencias
{% endblock %}

{% block sub_titulo2 %}
Solicitudes
{% endblock %}

{% block titulo2 %}

{% endblock %}

{% block content %}

<!---CARDS INDICADORES---->
<div class="d-flex justify-content-around flex-wrap" style="width: 100%;">
    <div class="bg-warning text-white mb-3 p-3" style="width: 16rem; height: 9rem; border-radius: 0.25rem; display: flex; flex-direction: column; justify-content: space-around;">
        <div style="font-size: 1.2rem; text-align: center;">Vacaciones Tomadas</div>
        <div style="font-size: 2.5rem; text-align: center;"> {{ dias_vacaciones }}</div>
    </div>
    <div class="bg-danger text-white mb-3 p-3" style="width: 16rem; height: 9rem; border-radius: 0.25rem; display: flex; flex-direction: column; justify-content: space-around;">
        <div style="font-size: 1.2rem;text-align: center;">Periodos Completos</div>
        <div style="font-size: 2.5rem; text-align: center;">{{ periodos_completos }}</div>
    </div>
    <div class="bg-primary text-white mb-3 p-3" style="width: 16rem; height: 9rem; border-radius: 0.25rem; display: flex; flex-direction: column; justify-content: space-around;">
        <div style="font-size: 1.2rem;text-align: center;">Vacaciones a la Fecha</div>
        <div style="font-size: 2.5rem; text-align: center;">{{ vacaciones_fecha }}</div>
    </div>
    <div class="bg-success text-white mb-3 p-3" style="width: 16rem; height: 9rem; border-radius: 0.25rem; display: flex; flex-direction: column; justify-content: space-around;">
        <div style="font-size: 1.2rem;text-align: center;">Dias de Licencia</div>
        <div style="font-size: 2.5rem; text-align: center;">{{ dias_licencia }}</div>
    </div>
</div>
<br>
<br>
<!--FIN CARDS-->
<!---BOTON MODAL--->
<div class="text-end">
    <button type="button" class="btn btn-info"  data-bs-toggle="modal" data-bs-target="#kt_modal_1">
        +  Nueva Solicitud
    </button>
</div>

<div class="modal fade" tabindex="-1" id="kt_modal_1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Solicitud de Vacaciones / Licencias</h3>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                <form id="vacation-form" method="post" action="{% url 'employees:form_vac' %}">
                    {% crispy form %}
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" form="vacation-form" class="btn btn-info hover-elevate-up">Enviar Solicitud</button>
            </div>
        </div>
    </div>
</div>
<!---FIN  MODAL--->
<!---LISTADO-->
<BR>
    <BR>

    <h3 class="text-center"> Historial de Solicitudes de Vacaciones / Licencias </h3>

                <div class="table-responsive">
                    <table class="table table-row-dashed table-row-gray-300 gy-7">
                        <thead>
                            <tr class="fw-bold fs-6 text-gray-800 text-align: center">
                            <th width="20"><b></b></th>
                            <th width="50"><b>Fecha</b></th>
                            <th width="100"><b>Tipo Solicitud</b></th>
                            <th width="50"><b>Fecha Inicial</b></th>
                            <th width="50"><b>Fecha Final</b></th>
                            <th width="50"><b>Dias Habiles</b></th>
                            <th width="50"><b>Dias Calendario</b></th>
                            <th width="50"><b>Estado</b></th>
                            <th width="20"><b>Detalle</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for e in vacation_list %}
                            <tr>
                                <td>
                                    {% if e.estado == 1 %}
                                        <button type="button" class="btn btn-icon btn-light-info" data-bs-toggle="modal" data-bs-target="#kt_modal_3" data-whatever="{{ e.id_sol_vac }}" >
                                            <i class="bi bi-pencil-square fs-2 ms-0"></i>
                                        </button>
                                    {% else %}
                                        <button type="button" class="btn btn-icon btn-light-info" data-bs-toggle="tooltip" data-bs-dismiss="click" title="Example tooltip" >
                                            <i class="bi bi-pencil-square fs-2 ms-0"></i>
                                        </button>
                                        
                                    {% endif %}

                                </td>
                                <td>{{ e.fecha_hora|date:"d-m-y" }}</td>
                                <td>{{ e.tipovac.nombrevacaus }}</td>
                                <td>{{ e.fechainicialvac|date:"d-m-y" }}</td>
                                <td>{{ e.fechafinalvac|date:"d-m-y" }}</td>
                                <td>{{ e.diasvac }}</td>
                                <td>{{ e.diascalendario }}</td>
                                <td>
                                    {% if e.estado == 1 %}
                                    <a href="" class="btn btn-outline btn-outline-dashed btn-outline-primary btn-active-light-primary"><i class="bi bi-stopwatch-fill fs-4 me-2"></i></i>Pendiente
                                    {% elif e.estado == 2 %}
                                    <a href="" class="btn btn-outline btn-outline-dashed btn-outline-success btn-active-light-success"><i class="bi bi-check-circle-fill fs-4 me-2"></i></i>Aprobada
                                    {% elif e.estado == 3 %}
                                    <a href="" class="btn btn-outline btn-outline-dashed btn-outline-danger btn-active-light-danger"><i class="bi bi-exclamation-triangle-fill fs-4 me-2"></i></i>Rechazada
                                    {% else %}
                                        Desconocido
                                    {% endif %}
                                </td>
                                <td><a href="javascript:void(0);" class="btn btn-outline btn-outline-dashed btn-outline-warning btn-active-light-warning" onclick="loadVacationDetails({{ e.pk }})">
                                    <i class="bi bi-chat-square-text-fill fs-4 me-2"></i>Ver Detalle
                                </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="modal fade" tabindex="-1" id="kt_modal_2">
                    <div class="modal-dialog">
                        <div class="modal-content" id="kt_modal_2_content">

                        </div>
                    </div>
                </div>

                <div class="modal fade" tabindex="-1" id="kt_modal_3">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title">Edicion de Solicitud</h3>

                                <!--begin::Close-->
                                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                                </div>
                                <!--end::Close-->
                            </div>

                            <div class="modal-body">
                                <form id="vacation-form-edit" method="post" action="{% url 'employees:my_get_view' %}">
                                    {% crispy form %}
                                </form>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" form="vacation-form-edit"  class="btn btn-primary">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </div>






{% endblock content %}

{% block js %}

<script>
    $('#kt_modal_3').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var recipient = button.data('whatever')
        var modal = $(this)

        $.ajax({
                    url: '/employees/ajax/my_get_view/',
                    type: 'GET',
                    data: {
                        'dato': recipient
                    },

                    success: function(response) {
                        console.log(response.data);
                        modal.find('.modal-title').text('Editar solicitud #' + recipient)
                        modal.find('.modal-body #tipovac-select').val(response.data.tipovac)
                        modal.find('.modal-body #fechainicialvac-field').val(response.data.fechainicialvac)
                        modal.find('.modal-body #fechafinalvac-field').val(response.data.fechafinalvac)
                        modal.find('.modal-body #id_idcontrato').val(response.data.idcontrato)
                        modal.find('.modal-body #diasvac-field').val(response.data.diasvac)
                        modal.find('.modal-body #id_comentarios').val(response.data.comentarios)
                        modal.find('.modal-body #id_cuentasabados').val(response.data.si)
                        //modal.find('.modal-body #cuentasabados-field').val(response.data.no)
                    },
                    error: function(response) {
                        console.log(response.error);
                    }
                });
    })
  </script>

    <script>
        function loadVacationDetails(pk) {

            document.getElementById('kt_modal_2_content').innerHTML = '';

            fetch(`/employees/vacation/modal/${pk}/`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    return response.text();
                })
                .then(html => {
                    document.getElementById('kt_modal_2_content').innerHTML = html;
                    var modal = new bootstrap.Modal(document.getElementById('kt_modal_2'));
                    modal.show();
                })
                .catch(error => {
                    console.error('Error fetching vacation details:', error);
                    document.getElementById('kt_modal_2_content').innerHTML = '<p>Error al cargar los detalles.</p>';
                });
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const tipovacSelect = document.querySelectorAll('#tipovac-select')[1];
            const diasvacField = document.querySelectorAll('#diasvac-column')[1];
            const fechainicialvacField = document.querySelectorAll('#fechainicialvac-column')[1];
            const fechafinalvacField = document.querySelectorAll('#fechafinalvac-column')[1];
            const cuentasabadosField = document.querySelectorAll('#cuentasabados-column')[1];

            const selectedValue = tipovacSelect.value;
                

                if (selectedValue !== '2') {
                    
                    diasvacField.style.display = 'none';
                    fechainicialvacField.style.display = 'block';
                    fechafinalvacField.style.display = 'block';
                    cuentasabadosField.style.display = 'block';
                } else {
                    
                    diasvacField.style.display = 'block';
                    fechainicialvacField.style.display = 'none';
                    fechafinalvacField.style.display = 'none';
                    cuentasabadosField.style.display = 'none';
                }



            function toggleFields2() {
                const selectedValue = tipovacSelect.value;
                

                if (selectedValue !== '2') {
                    
                    diasvacField.style.display = 'none';
                    fechainicialvacField.style.display = 'block';
                    fechafinalvacField.style.display = 'block';
                    cuentasabadosField.style.display = 'block';
                } else {
                    
                    diasvacField.style.display = 'block';
                    fechainicialvacField.style.display = 'none';
                    fechafinalvacField.style.display = 'none';
                    cuentasabadosField.style.display = 'none';
                }
            }

            
            if (tipovacSelect) {
                tipovacSelect.addEventListener('change', toggleFields2);
            }
        });

    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const tipovacSelect = document.getElementById('tipovac-select');
            const diasvacField = document.getElementById('diasvac-column');
            const fechainicialvacField = document.getElementById('fechainicialvac-column');
            const fechafinalvacField = document.getElementById('fechafinalvac-column');
            const cuentasabadosField = document.getElementById('cuentasabados-column');

            function toggleFields() {
                const selectedValue = tipovacSelect.value;


                if (selectedValue !== '2') {
                    diasvacField.style.display = 'none';
                    fechainicialvacField.style.display = 'block';
                    fechafinalvacField.style.display = 'block';
                    cuentasabadosField.style.display = 'block';
                } else {
                    diasvacField.style.display = 'block';
                    fechainicialvacField.style.display = 'none';
                    fechafinalvacField.style.display = 'none';
                    cuentasabadosField.style.display = 'none';
                }



            }

            if (tipovacSelect) {
                tipovacSelect.addEventListener('change', toggleFields);
                toggleFields();
            }
        });
    </script>
{% endblock %}