<div class="modal-header">
    <h3 class="modal-title">Detalle de Vacaciones/Licencias</h3>
    <!--begin::Close-->
    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
        <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
    </div>
    <!--end::Close-->
</div>
<div class="modal-body">
    <p><strong>Tipo de Vacaciones:</strong> {{ nombre_tipovac }}</p>
    <p><strong>Fecha:</strong> {{ fecha }}</p>
    <p><strong>Días Hábiles:</strong> {{ dias_habiles }}</p>
    <p><strong>Días Calendario:</strong> {{ dias_calendario }}</p>
    
    {% if tipovac != '2' %}
        <p><strong>Fecha Inicial:</strong> {{ fecha_inicial }}</p>
        <p><strong>Fecha Final:</strong> {{ fecha_final }}</p>
        <p><strong>Cuenta Sabados:</strong> {{ cuentasabados }}</p>
    {% endif %}
    <p><strong>Estado:</strong> {% if estado == 1 %}Pendiente{% elif estado == 2 %}Aprobado{% elif estado == 3 %}Rechazado{% else %}Desconocido{% endif %}</p>
    <p><strong>Comentarios Empleado:</strong></p>
    <textarea class="form-control" readonly>{{ comentarios }}</textarea>
    <p><strong>Comentarios Empresa:</strong></p>
    <textarea class="form-control" readonly>{{ comentarios2 }}</textarea>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cerrar</button>
</div>