{% extends 'base/base.html' %}
{% block navbar %}
    {% include 'base/navbar_employees.html' %}               
{% endblock %}


{% block title %} 
    Nomiweb.co - Portal Empleados - Certificaciones DIAN
{% endblock %} 

{% block css %} 
{% endblock %} 

{% block sub_titulo1 %} 
    Certificados
{% endblock %}

{% block sub_titulo2 %} 
    Certificados DIAN
{% endblock %}

{% block titulo2 %} 
Lista de Certificaciones Generadas 
{% endblock %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered" id='tabla-certi-nomi'>
            <thead>
                <tr>
                <th width="200">ID Certificado</th>
                <th width="200">Año</th>
                <th width="150">
                    <div class="btn btn-icon btn-sm btn-light-facebook me-5 container d-flex justify-content-center align-items-center  ">
                        <i class="fa-solid fa-certificate fs-3"></i>
                    </div>
                </th>
                </tr>
            </thead>
            <tbody>
                {% for rete in reten %}
                <tr>
                    <td>{{ rete.idingret }}</td>
                    <td>{{ rete.anoacumular }}</td>
                    <td>
                        {% if  rete.anoacumular.ano == 2023 %}
                            <a href="{% url 'employees:viewdiandownload' rete.idingret  %}" class="btn btn-icon btn-sm btn-light-facebook me-2 container d-flex justify-content-center align-items-center " data-bs-toggle="tooltip" data-bs-placement="top" title="Descargar Certificado" target="_blank"  >
                                <i class="fa-solid fa-file-arrow-down fs-3"></i>
                            </a>
                        {% else %}
                            <button type="button" class="btn btn-icon btn-sm btn-light-facebook me-2 container d-flex justify-content-center align-items-center" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" data-bs-placement="top" title="Actualmente, la descarga no está disponible.">
                                <i class="fa-solid fa-file-arrow-down fs-3"></i>
                            </button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{% block js %}
<script>
    function cargarContratos() {
        var contratoSelect = document.getElementById('contrato');
        var contratoId = contratoSelect.value;
        window.location.href = `?contrato=${contratoId}`;
    }
</script>


<script>
    $(document).ready(function() {
        $('#tabla-certi-nomi').DataTable({
            language: {
                "decimal":        "",
                "emptyTable":     "No se encontraron Certificados para este Contrato",
                "info":           "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty":      "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered":   "(filtrado de _MAX_ entradas totales)",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing":     "Procesando...",
                "search":         "Buscar:",
                "zeroRecords":    "No se encontraron registros coincidentes",
                "paginate": {
                    "first":      "Primero",
                    "last":       "Último",
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                },
                "aria": {
                    "sortAscending":  ": activar para ordenar la columna ascendente",
                    "sortDescending": ": activar para ordenar la columna descendente"
                }
            },
            dom: 'frtip',
            order: [[1, 'des']], 
            "pageLength": 6,                
        });
    });
</script>
{% endblock %}