{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Vendor Stylesheets(used for this page only)-->
    <link href="{% static 'plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" />
    <!--end::Vendor Stylesheets-->
    <!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
    <link href="{% static 'plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.bundle.css' %}" rel="stylesheet" type="text/css" />



</head>
<body id="kt_body" class="app-blank" >
    <div class="d-flex flex-column flex-root" id="kt_app_root">
        <div class="d-flex flex-column flex-lg-row flex-column-fluid">
            <div class="d-flex flex-column flex-lg-row-auto bg-primary w-xl-600px positon-xl-relative">

            </div>
            <div class="d-flex flex-column flex-lg-row-fluid py-10">
                <div class="d-flex flex-center flex-column flex-column-fluid">
                    <div class="w-lg-1000px p-10 p-lg-15 mx-auto">
                        {% crispy form %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <!-- <div class="form-group">
        <div class="form-group row">
            <div class="col-md-3">
                <label class="form-label">Username:</label>
                <div class="input-group mb-5"> 
                    <span class="input-group-text" id="basic-addon1">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAURJREFUSEvF1L8rRXEYx/HXTWaEwSiZLIpVRgulKBaLzWLwa7QopURS/gRZ5FcW/wAlGWQiIykMKKX8OKdc3c69557bOW6+2znn+3zen+fp85ycKp9clfVVCujFIjp+DF1gDsdJBisBjGKTIjOfGMRBOUgSoB43aIgRuUMb3uIgSYDQ4U7CGPpwlBYwjeUEwBRW0wIGsJ8A6MdhWkAdrtEUI3CPdrykBYR1I9gqIRCmaAi7WVKUr+3B0s8efOASszj5iz1I0ij7PSmmmcTD4nKAZswEm9oVzLkTjRHaI85xihU8lHITBxgLBNeDfIcpquQ8YRx70culAJPBr2GtEtUSd4axXfg+CmjFFWpSAl4RavyOKwrYwERK8XzZfGBwIf8QBdyiJSPgDN1xgHfUZgQ8F4Yj2sFXRvEi4/+6aH/STNU7+AYkwS0ZwQsJ3gAAAABJRU5ErkJggg=="/>
                    </span>
                    <input type="email" class="form-control mb-2 mb-md-0" placeholder="Ingrese su nombre de usuario" />
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label class="form-label">Password:</label>
                <div class="input-group mb-5"> 
                    <span class="input-group-text" id="basic-addon1">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAj1JREFUSEu11UuojWEUBuDnILmW5Fai5H4rioHkNnBJKVGSUsqITJkoJoYGCpkRKaUMjJDc5RIlRS4DFLmGASOEf2nt07//s7ez6+zzTU7n2+tb71rvu971d+jl09HL+VUBduEYPrULuAywHYfxFIvbBVIGGI1rmJogC/Glp51UKRqFK5iBh1iL1ViDgRWwHziPk/jYrJBGIo/AVcxssfpfOIQ9+FZ90whgIs5hcin4MvbjHiJhxOzDqlLMq4LiZYi/nacKEA9vYgxe4E8me4lbRWdLMSBp3IltiMmrndeYi8+1izJAPzzArKxyQtH27xR+UgO6puMZLmB56fegNzr5d8oAO3CwFHg3Hw7CjQplEbYkC1qQIOUaNqf4dQBvMLbgcEu2HZN0p6BmRcH/kBR+SqWTD5iDd5X7+5hf7eBRTs761OF6euJ2BSR8Ujvh+Pi/6pcwa1BY18HGIvgU3qcO/REgwX8IvLLUSQ3kOE7gUqWDmK7Qpg6gT1YenMY4hnBDEyQEr4EMzimKCh/nxMRqqZ0jhfFi7XQROS6G4SLm4TmCru8JHPoESACHJrFWplUqDzpD/J/NAOI+qj6boxZjeibF3o3hOVEbsC6XYy1XdBPgdYI3+x70LUy2t6gkkgZ1rZwAWISv5eDuPjjjCqo25UoYnw4Pd7/NlXA6BY6OZ+NJur1z+XUH0ErlETMyhyE0CXeHDuGRLl+0VhM2iotVX/POVhxtN0DkiyUZfjrwvynqSRdd3rZLg6ZF/QVR128ZaJV2qAAAAABJRU5ErkJggg=="/>
                    </span>
                    <input type="email" class="form-control mb-2 mb-md-0" placeholder="Ingrese su nombre de usuario" />
                </div>
            </div>
        </div>
    </div> -->


<!--begin::Repeater-->

<!--end::Repeater-->



<!--begin::Global Javascript Bundle(mandatory for all pages)-->
<script src="{% static 'plugins/global/plugins.bundle.js' %}"></script>
<script src="{% static 'js/scripts.bundle.js' %}"></script>
<!--end::Global Javascript Bundle-->
<!--begin::Vendors Javascript(used for this page only)-->
<script src="{% static 'plugins/custom/datatables/datatables.bundle.js' %}"></script>
<!--end::Vendors Javascript-->
<!--begin::Custom Javascript(used for this page only)-->
<script src="{% static 'js/widgets.bundle.js' %}"></script>
<script src="{% static 'js/custom/widgets.js' %}"></script>
<script src="{% static 'js/custom/apps/chat/chat.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/upgrade-plan.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/create-account.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/create-app.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/users-search.js' %}"></script>
<!--end::Custom Javascript-->

<!--end::Javascript-->

<script>
{% if messages %}
    {% for message in messages %}
        Swal.fire({
            text: "{{ message }}",
            icon: "{{message.tags}}",
            showConfirmButton: true,
            confirmButtonText: "Ok",
            customClass: {
                confirmButton: "btn btn-primary"
            },
            willOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer);
                toast.addEventListener('mouseleave', Swal.resumeTimer);
            }
        });
    {% endfor %}
{% endif %}
</script>

<script>
    function togglePasswordVisibility(element) {
        var passwordInput = element.parentElement.querySelector('input');
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            element.classList.remove('fa-eye');
            element.classList.add('fa-eye-slash');
        } else {
            passwordInput.type = "password";
            element.classList.remove('fa-eye-slash');
            element.classList.add('fa-eye');
        }
    }
</script>
</body>
</html>
