{% extends "baselogin.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}


{% block content %}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body btn-primary">
                <div class="d-flex flex-center h-150px"> <!-- Reduce la altura del contenedor del logo -->
                    <img
                        src="{% static 'img/logonomiweb.png' %}"
                        data-src="{% static 'img/logonomiweb.png' %}"
                        class="lozad rounded mw-100"
                        alt="Logo Nomiweb"
                    />
                </div>

                <h2 class="card-title text-center btn-primary my-3">Iniciar sesión</h2> <!-- Ajusta el margen superior e inferior -->
                {% csrf_token %}
                {% crispy form %}
            </div>
            <div data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" data-bs-placement="right" title="Le enviaremos un correo electrónico con instrucciones para restablecer su contraseña.">
                <a href="{% url 'login:reset' %}" class="d-flex justify-content-center align-items-center text-success">Restablecer la contraseña</a>
            </div>

            <div class="separator separator-content border-success my-4"> <!-- Ajusta el margen -->
                <i class="ki-duotone ki-chart-pie-4 fs-2 text-success"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
            </div>

            <div class="btn-group my-3 mx-2" role="group" aria-label="Basic example">
                <a href="{% provider_login_url 'google' auth_params='prompt=select_account' process='login' %}" class="btn btn-icon btn-light-google mx-2" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" data-bs-placement="top" title="Iniciar sesión con Google">
                    <i class="fab fa-google fs-4"></i>
                </a>
                <a href="#" class="btn btn-icon btn-light-twitter mx-2" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" data-bs-placement="top" title="Oops... microsoft  aún está tomando su café, funcionalidad no disponible por ahora.">
                    <i class="fa-brands fa-microsoft fs-4"></i>
                </a>
                
                
            </div>
        </div>
    </div>

    <a href="" class="enlace-redondo" id="enlace-oculto"></a>
</div>
{% endblock %}
