{% extends "baselogin.html" %}

{% block head_title %}
    Términos y Condiciones
{% endblock head_title %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-20">
    <div class="col-md-8">  <!-- Aumentar el ancho del card para mayor espacio -->
        <div class="card shadow-sm" style="border-radius: 15px;"> <!-- Sombra y bordes redondeados -->
            <div class="card-header">
                <h1 class="card-title text-center mb-4">Términos y Condiciones</h1>
            </div>
            <div class="card-body"> <!-- Añadir card-body para mayor separación -->
                <h3>Introducción</h3>
                <p>
                    Los presentes Términos y Condiciones regulan el acceso y uso de los servicios proporcionados por <strong>Atiempo S.A.S.</strong> a través del aplicativo <strong>Nomiweb</strong>. Este servicio está diseñado para la gestión de nóminas de empresas, donde las empresas pueden visualizar la información de sus empleados, mientras que los empleados tienen acceso a sus desprendibles de pago, certificados, nóminas y solicitudes de vacaciones. Al utilizar este servicio, aceptas cumplir con los términos y condiciones que se detallan a continuación.
                </p>
                <p>
                    Es fundamental que todos los usuarios de <strong>Nomiweb</strong> comprendan y acepten estos términos antes de utilizar el servicio. Si no estás de acuerdo con alguno de los puntos aquí establecidos, te sugerimos que no utilices el servicio, ya que el uso del mismo implica la aceptación de estas condiciones.
                </p>

                <h3>1. Aceptación de los Términos</h3>
                <p>
                    Al acceder o utilizar el servicio <strong>Nomiweb</strong> proporcionado por <strong>Atiempo S.A.S.</strong>, aceptas los términos establecidos en este documento. Si no estás de acuerdo con alguno de los términos, te pedimos que te abstengas de utilizar el servicio. 
                </p>
                <p>
                    El uso continuo de <strong>Nomiweb</strong> después de cualquier modificación o actualización de estos Términos y Condiciones se considerará como aceptación de dichas modificaciones. Por lo tanto, es importante que revises estos términos periódicamente para estar al tanto de los cambios que puedan realizarse.
                </p>

                <h3>2. Descripción del Servicio</h3>
                <p>
                    <strong>Nomiweb</strong> es una plataforma digital desarrollada por <strong>Atiempo S.A.S.</strong> que permite a las empresas gestionar las nóminas de sus empleados de manera eficiente. Los servicios incluyen:
                </p>
                <ul>
                    <li><strong>Para las empresas:</strong> Acceso a la gestión de nóminas, visualización de los detalles de los empleados, edición de información relacionada con salarios, beneficios, y otros aspectos administrativos, como pagos, deducciones y bonos.</li>
                    <li><strong>Para los empleados:</strong> Acceso a sus desprendibles de pago, certificados laborales, recibos de nómina, y solicitudes de vacaciones. Además, los empleados pueden consultar su historial de pagos y solicitar ajustes o aclaraciones en su información personal y laboral.</li>
                </ul>
                <p>
                    <strong>Nomiweb</strong> también ofrece herramientas de reportes y análisis para facilitar la toma de decisiones empresariales, permitiendo a los administradores realizar auditorías internas y revisar el cumplimiento de las políticas laborales.
                </p>

                <h3>3. Uso del Servicio</h3>
                <p>
                    El servicio <strong>Nomiweb</strong> debe ser utilizado exclusivamente para fines legales y en conformidad con las leyes de tu país. El acceso y uso del servicio está destinado para gestionar la información relacionada con las nóminas, beneficios laborales y solicitudes de vacaciones de manera transparente y eficiente. No está permitido utilizar el servicio para realizar acciones fraudulentas, realizar prácticas ilegales o contrarias a la ética profesional, ni para promover o ejecutar actividades que contravengan la normativa vigente.
                </p>
                <p>
                    Los usuarios deben utilizar el servicio de manera responsable y no infringir ningún derecho de propiedad intelectual o confidencialidad en relación con los datos proporcionados. El uso indebido del servicio puede dar lugar a la suspensión o cancelación de la cuenta sin previo aviso.
                </p>

                <h3>4. Obligaciones del Usuario</h3>
                <p>
                    Como usuario del servicio, ya sea empresa o empleado, te comprometes a:
                </p>
                <ul>
                    <li>Proporcionar información veraz, exacta y actualizada durante el uso del servicio, asegurándote de que todos los datos reflejen fielmente la realidad.</li>
                    <li>Abstenerte de realizar actividades que puedan dañar, interrumpir o sobrecargar el funcionamiento de <strong>Nomiweb</strong>, incluyendo el uso de software malicioso, ataques cibernéticos, o cualquier actividad que interfiera con el funcionamiento adecuado de la plataforma.</li>
                    <li>No compartir tu acceso personal al servicio con terceros no autorizados. El uso no autorizado de tu cuenta será tu responsabilidad.</li>
                    <li>Utilizar el servicio únicamente para los fines establecidos en estos términos y condiciones, cumpliendo con las políticas y normativas internas de la empresa que administre el acceso.</li>
                </ul>
                <p>
                    Además, el usuario debe cumplir con las regulaciones locales e internacionales sobre la privacidad y seguridad de los datos personales, especialmente en lo que respecta al manejo de la información confidencial.
                </p>

                <h3>5. Protección de Datos Personales</h3>
                <p>
                    <strong>Atiempo S.A.S.</strong> se compromete a proteger la privacidad y seguridad de la información personal de los usuarios, conforme a las leyes de protección de datos personales aplicables. Los datos personales proporcionados por las empresas y empleados serán utilizados exclusivamente para los fines del servicio <strong>Nomiweb</strong>, tales como la gestión de nóminas, verificación de pagos, y otras actividades relacionadas con la administración laboral.
                </p>
                <p>
                    Los usuarios tienen derecho a acceder, corregir, actualizar y eliminar su información personal en cualquier momento, conforme a la legislación vigente en materia de protección de datos. Para ejercer estos derechos, los usuarios deben ponerse en contacto con el servicio de atención al cliente de <strong>Atiempo S.A.S.</strong>.
                </p>
                <p>
                    <strong>Atiempo S.A.S.</strong> adoptará las medidas de seguridad necesarias para proteger los datos personales de los usuarios contra accesos no autorizados, alteraciones, pérdida o destrucción. Sin embargo, no se hace responsable de los daños derivados de accesos ilegales a la plataforma fuera del control razonable de la empresa.
                </p>

                <h3>6. Limitación de Responsabilidad</h3>
                <p>
                    <strong>Atiempo S.A.S.</strong> no será responsable de los daños directos o indirectos que puedan derivarse del uso o la imposibilidad de uso del servicio <strong>Nomiweb</strong>, incluyendo, pero no limitándose a, pérdidas de datos, ingresos, interrupciones del servicio, fallos técnicos o errores en el sistema, salvo que la ley disponga lo contrario. El uso del servicio es bajo el propio riesgo del usuario.
                </p>
                <p>
                    Asimismo, <strong>Atiempo S.A.S.</strong> no será responsable por la interrupción del servicio debido a causas ajenas a su control, tales como fallos en la red de Internet, problemas de conexión o errores en sistemas de terceros.
                </p>

                <h3>7. Modificaciones a los Términos</h3>
                <p>
                    <strong>Atiempo S.A.S.</strong> se reserva el derecho de modificar estos Términos y Condiciones en cualquier momento, con el fin de adaptarlos a cambios legislativos, mejoras del servicio o necesidades operativas. Los cambios sustanciales serán notificados a los usuarios de manera adecuada, y el uso continuo del servicio después de dichos cambios implica la aceptación de los nuevos términos.
                </p>
                <p>
                    Es responsabilidad del usuario revisar periódicamente estos términos para estar informado de las actualizaciones y cambios que puedan aplicarse al uso del servicio.
                </p>

                <h3>8. Propiedad Intelectual</h3>
                <p>
                    El contenido, diseño, software, bases de datos, y estructura de <strong>Nomiweb</strong> son propiedad exclusiva de <strong>Atiempo S.A.S.</strong> y están protegidos por las leyes de propiedad intelectual. Ningún usuario podrá reproducir, modificar, distribuir, o utilizar de cualquier otra manera el contenido de la plataforma sin el consentimiento expreso y por escrito de <strong>Atiempo S.A.S.</strong>.
                </p>
                <p>
                    Cualquier uso no autorizado de los contenidos o funcionalidades de <strong>Nomiweb</strong> será considerado como una violación de los derechos de propiedad intelectual de <strong>Atiempo S.A.S.</strong> y podrá ser sujeto de acciones legales.
                </p>

                <h3>9. Ley Aplicable y Jurisdicción</h3>
                <p>
                    Estos Términos y Condiciones se regirán por las leyes de [Tu País/Región]. Cualquier disputa que surja en relación con el uso del servicio será sometida a la jurisdicción exclusiva de los tribunales de [Tu Ciudad o País], renunciando a cualquier otro fuero que pudiera corresponderle.
                </p>

                <h3>10. Información de Contacto</h3>
                <p>
                    Si tienes alguna pregunta o duda sobre estos Términos y Condiciones, puedes ponerte en contacto con nosotros a través de los siguientes medios:
                </p>
                <ul>
                    <li><strong>Correo electrónico:</strong> <a href="mailto:info@atiempo.com.co">info@atiempo.com.co</a></li>
                    <li><strong>Teléfonos:</strong> 6107096 - 7552000</li>
                    <li><strong>Dirección:</strong> Carrera 50 #100 - 40, Barrio Pasadena, Bogotá</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
